<div>
  <div>
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
      nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas
      sit amet tortor at, condimentum tempor erat.
    </p>
    <sl-tab-group
      [noScrollControls]="true"
      id="trainingTabs"
      (sl-tab-show)="handleDefaultShowTab($event)"
    >
      <!-- TODO: [Joe] tab__complete should be applied to tab based on form state (hopefully derived from reactive form in the ngx-store) -->
      <sl-tab slot="nav" panel="medicalSchool" class="tab__complete">
        <!-- TODO: [Joe] text-success, text-warning, text-danger should be applied to icons based on form state (hopefully derived from reactive form in the ngx-store) -->
        <i class="fa-solid fa-circle-check text-success mr-2"></i>
        Medical School
      </sl-tab>
      <sl-tab slot="nav" panel="residency">
        <!-- TODO: [Joe] text-success, text-warning, text-danger should be applied to icons based on form state (hopefully derived from reactive form in the ngx-store) -->
        <i class="fa-solid fa-circle-check text-warning mr-2"></i>
        Residency
      </sl-tab>
      <sl-tab slot="nav" panel="additionalTraining">
        <!-- TODO: [Joe] text-success, text-warning, text-danger should be applied to icons based on form state (hopefully derived from reactive form in the ngx-store) -->
        <i class="fa-solid fa-circle-check text-warning mr-2"></i>
        Additional Training
      </sl-tab>
      <sl-tab slot="nav" panel="additionalDocuments">
        <!-- TODO: [Joe] text-success, text-warning, text-danger should be applied to icons based on form state (hopefully derived from reactive form in the ngx-store) -->
        <i class="fa-solid fa-circle-check text-warning mr-2"></i>
        Additional Documents
      </sl-tab>

      <sl-tab-panel name="medicalSchool">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <div class="grid">
          <div class="col-12">
            <label class="block" for="statement"
              >Select the statement that best describes you (Country of medical
              school)</label
            >
            <p-dropdown
              inputId="statement"
              name="statement"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.medicalSchool.statement"
              placeholder="Select a Country"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
          <div class="col-12">
            <label class="block" for="medicalSchool">Medical School</label>
            <input
              id="medicalSchool"
              pInputText
              type="text"
              name="medicalSchool"
              placeholder="Enter school name"
              [(ngModel)]="medicalTraining.medicalSchool.name"
              required
            />
          </div>
          <div class="col-12 md:col-4">
            <label class="block" for="city">City or Town</label>
            <input
              id="city"
              pInputText
              type="text"
              name="city"
              placeholder="Enter city name"
              [(ngModel)]="medicalTraining.medicalSchool.city"
              required
            />
          </div>
          <div class="col-12 md:col-4">
            <label class="block" for="state"
              >State / Province / Territory</label
            >
            <p-dropdown
              inputId="state"
              name="state"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.medicalSchool.state"
              placeholder="Choose a State"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
          <div class="col-12 md:col-4">
            <label class="block" for="country">Country</label>
            <p-dropdown
              inputId="country"
              name="country"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.medicalSchool.country"
              placeholder="Choose a Country"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
          <div class="col-12 md:col-6">
            <label class="block" for="degree">Degree</label>
            <input
              id="degree"
              pInputText
              type="text"
              name="degree"
              placeholder="Enter degree name"
              [(ngModel)]="medicalTraining.medicalSchool.degree"
              required
            />
          </div>
          <div class="col-12 md:col-6">
            <label class="block" for="yearGraduated">Year of Completion</label>
            <input
              id="yearGraduated"
              pInputText
              type="text"
              name="yearGraduated"
              placeholder="YYYY"
              [(ngModel)]="medicalTraining.medicalSchool.yearGraduated"
              required
            />
          </div>
        </div>
      </sl-tab-panel>
      <sl-tab-panel name="residency">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <div class="grid">
          <h5 class="col-12 mb-1">Residency</h5>
          <div class="col-6">
            <div class="grid">
              <div class="col-12">
                <label class="block" for="residencyName">Program Name</label>
                <input
                  id="residencyName"
                  pInputText
                  type="text"
                  name="residencyName"
                  placeholder="Enter program name"
                  [(ngModel)]="medicalTraining.residency.programName"
                  required
                />
              </div>
              <div class="col-12">
                <label class="block" for="residencyYear"
                  >Year of Completion</label
                >
                <input
                  id="residencyYear"
                  pInputText
                  type="text"
                  name="residencyYear"
                  placeholder="YYYY"
                  [(ngModel)]="medicalTraining.residency.yearOfCompletion"
                  required
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="grid">
              <div class="col-12">
                <label class="block" for="residencyNotListed"
                  >My program is not listed</label
                >
                <textarea
                  rows="5"
                  pInputTextarea
                  id="residencyNotListed"
                  placeholder="Explain..."
                  name="residencyNotListed"
                  [(ngModel)]="medicalTraining.residency.programNotListed"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-12 text-center flex align-items-center gap-2">
            <p-checkbox
              inputId="completedInCanada"
              name="completedInCanada"
              [(ngModel)]="medicalTraining.residency.completedInCanada"
              [binary]="true"
            ></p-checkbox>
            <label for="completedInCanada"
              >Did you complete your training in canada?</label
            >
          </div>
        </div>
        <div class="grid align-items-baseline">
          <h5 class="col-12 mb-1 mt-3">Post Residency and Fellowship Plans</h5>
          <div class="col-12 md:col-6">
            <label class="block" for="postResidencyPlans"
              >Upon completing my General Surgery residency I will:</label
            >
            <p-dropdown
              inputId="postResidencyPlans"
              name="postResidencyPlans"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.residency.postResidencyPlans"
              placeholder="Make a selection"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
          <div class="col-12 md:col-6">
            <label class="block" for="fellowshipPlans"
              >Upon completing my fellowship, I anticipate that my clinical
              practice will include:</label
            >
            <p-dropdown
              inputId="fellowshipPlans"
              name="fellowshipPlans"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.residency.fellowshipPlans"
              placeholder="Make a selection"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
        <div class="grid align-items-baseline">
          <h5 class="col-12 mb-1 mt-3">Vascular Surgery Training</h5>
          <div class="col-12 md:col-6">
            <label class="block"
              >Will you be pursuing vascular surgery training?</label
            >
            <div class="flex gap-5">
              <p-radioButton
                name="vascularTraining"
                [value]="true"
                [(ngModel)]="medicalTraining.residency.vascularTraining"
                inputId="vascularTrainingYes"
                label="Yes"
              ></p-radioButton>
              <p-radioButton
                name="vascularTraining"
                [value]="false"
                [(ngModel)]="medicalTraining.residency.vascularTraining"
                inputId="vascularTrainingNo"
                label="No"
              ></p-radioButton>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <label class="block" for="vascularFellowship"
              >In which program will you complete a vascular surgery
              fellowship?</label
            >
            <p-dropdown
              inputId="vascularFellowship"
              name="vascularFellowship"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.residency.vascularFellowship"
              placeholder="Make a selection"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
        <div class="grid align-items-baseline">
          <h5 class="col-12 mb-1 mt-3">Thoracic Surgery Training</h5>
          <div class="col-12 md:col-6">
            <label class="block"
              >Will you be pursuing thoracic surgery training?</label
            >
            <div class="flex gap-5">
              <p-radioButton
                name="thoracicTraining"
                [value]="true"
                [(ngModel)]="medicalTraining.residency.thoracicTraining"
                inputId="thoracicTrainingYes"
                label="Yes"
              ></p-radioButton>
              <p-radioButton
                name="thoracicTraining"
                [value]="false"
                [(ngModel)]="medicalTraining.residency.thoracicTraining"
                inputId="thoracicTrainingNo"
                label="No"
              ></p-radioButton>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <label class="block" for="thoracicFellowship"
              >In which program will you complete a thoracic surgery
              fellowship?</label
            >
            <p-dropdown
              inputId="thoracicFellowship"
              name="thoracicFellowship"
              [options]="fakeOptions"
              [(ngModel)]="medicalTraining.residency.thoracicFellowship"
              placeholder="Make a selection"
              optionLabel="itemDescription"
              optionValue="itemValue"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
      </sl-tab-panel>
      <sl-tab-panel name="additionalTraining">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <div class="grid">
          <div class="col-12">
            <p-button
              variant="default"
              class="btn-add mt-2 mb-2"
              (click)="showTrainingModal()"
            >
              <i slot="prefix" class="fa-solid fa-plus"></i>
              ADD RECORD
            </p-button>
            <abs-grid
              [columns]="trainingCols"
              [data]="additionalTrainingList$"
              (action)="handleGridAction($event)"
              class="margin-bottom-2"
            ></abs-grid>
          </div>
        </div>
      </sl-tab-panel>
      <sl-tab-panel name="additionalDocuments">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <div class="grid align-items-baseline">
          <h5 class="col-12 mb-1 mt-3">Trained in Multiple Programs</h5>
          <div class="col-12">
            <label class="block"
              >Did you complete training in more than one program in the
              speciality for which you are applying?</label
            >
            <div class="flex gap-5">
              <p-radioButton
                name="multiplePrograms"
                [value]="true"
                [(ngModel)]="
                  medicalTraining.additionalDocuments.multiplePrograms
                "
                inputId="multipleProgramsYes"
                label="Yes"
              ></p-radioButton>
              <p-radioButton
                name="multiplePrograms"
                [value]="false"
                [(ngModel)]="
                  medicalTraining.additionalDocuments.multiplePrograms
                "
                inputId="multipleProgramsNo"
                label="No"
              ></p-radioButton>
            </div>
          </div>
          <div class="col-12">
            <abs-file-upload-button
              inputId="completionDocument"
              inputName="completionDocument"
              buttonText="Add Documentation of Trained in Multiple Programs"
              (fileUploaded)="
                uploadFile(
                  $event,
                  medicalTraining.additionalDocuments.completionDocuments
                )
              "
            ></abs-file-upload-button>
            <abs-grid
              [columns]="documentCols"
              [data]="medicalTraining.additionalDocuments.completionDocuments"
              (action)="
                handleGridAction(
                  $event,
                  medicalTraining.additionalDocuments.completionDocuments
                )
              "
              class="margin-bottom-2"
            ></abs-grid>
          </div>
        </div>
        <div class="grid align-items-baseline">
          <h5 class="col-12 mb-1 mt-3">ABS Approval Letter</h5>
          <div class="col-12">
            <label class="block"
              >Did you have international rotations, flexible rotations and/or
              did you receive credit for foreign medical education or ABS
              approval letter for other reasons?</label
            >
            <div class="flex gap-5">
              <p-radioButton
                name="recievedABSApprovalLetter"
                [value]="true"
                [(ngModel)]="
                  medicalTraining.additionalDocuments.recievedABSApprovalLetter
                "
                inputId="recievedABSApprovalLetterYes"
                label="Yes"
              ></p-radioButton>
              <p-radioButton
                name="recievedABSApprovalLetter"
                [value]="false"
                [(ngModel)]="
                  medicalTraining.additionalDocuments.recievedABSApprovalLetter
                "
                inputId="recievedABSApprovalLetterNo"
                label="No"
              ></p-radioButton>
            </div>
          </div>
          <div class="col-12">
            <abs-file-upload-button
              inputId="approvalLetter"
              inputName="approvalLetter"
              buttonText="Add abs approval letter"
              (fileUploaded)="
                uploadFile(
                  $event,
                  medicalTraining.additionalDocuments.approvalLetters
                )
              "
            ></abs-file-upload-button>
            <abs-grid
              [columns]="documentCols"
              [data]="medicalTraining.additionalDocuments.approvalLetters"
              (action)="
                handleGridAction(
                  $event,
                  medicalTraining.additionalDocuments.approvalLetters
                )
              "
              class="margin-bottom-2"
            ></abs-grid>
          </div>
        </div>
      </sl-tab-panel>
    </sl-tab-group>
  </div>
  <div class="flex justify-content-end" slot="footer">
    <p-button styleClass="p-button-link p-button-primary" (click)="close()"
      >Cancel</p-button
    >
    <p-button
      type="button"
      [style]="{ width: '337px' }"
      variant="primary"
      (click)="save()"
      >Save
    </p-button>
  </div>

  <abs-modal
    [open]="showTrainingAddEdit"
    (closeDialog)="cancelAddEditTraining($event)"
    [title]="trainingAddEditTitle"
  >
    <abs-training-add-edit-modal
      [training$]="tempTraining$"
      (cancelDialog)="cancelAddEditTraining($event)"
      (saveDialog)="saveTraining($event)"
    ></abs-training-add-edit-modal>
  </abs-modal>
</div>
