<div class="mb-5">
  <p>
    There is a gap in your current gme rotations history. Please either add a
    new rotation or edit the existing rotations to account for this time.
  </p>
  <p-button
    variant="default"
    class="btn-add mt-2 mb-2"
    (onClick)="addNewRecord()"
    *ngIf="gapData && gapData.startDate !== gapData.endDate"
  >
    <i slot="prefix" class="fa-solid fa-plus"></i>
    ADD A RECORD
  </p-button>
  <abs-grid
    [columns]="conflictResolutionCols"
    [data]="localConflictsData"
    (action)="girdAction($event)"
  >
  </abs-grid>
  <div class="flex justify-content-end mt-5" slot="footer">
    <p-button styleClass="p-button-link p-button-primary" (click)="close()"
      >Cancel</p-button
    >
    <p-button
      type="button"
      [style]="{ width: '337px' }"
      variant="primary"
      (click)="close()"
      >Save
    </p-button>
  </div>
</div>
