<div class="mb-5">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat.
  </p>
  <abs-grid
    [columns]="conflictResolutionCols"
    [data]="conflictResolutionData"
    (action)="girdAction($event)"
  >
  </abs-grid>
  <div class="flex justify-content-end mt-5" slot="footer">
    <sl-button type="button" variant="text" (click)="close()">Cancel</sl-button>
    <sl-button
      type="button"
      style="width: 337px"
      variant="primary"
      (click)="close()"
      >Save
    </sl-button>
  </div>
</div>
