<div [id]="'panel-' + panelId" class="panel active">
  <div
    class="panel-header"
    [ngClass]="{ 'no-toggle': disabledHeaderToggle, 'no-border': hideBorder }"
    (click)="!disabledHeaderToggle ? togglePanel() : null"
  >
    <ng-content select="[panel-header]"></ng-content>
    <div class="panel-icons" *ngIf="showIcon">
      <i class="fa-solid fa-minus fa-rotate-90 panel-icon-1"></i>
      <i class="fa-solid fa-minus panel-icon-2"></i>
    </div>
  </div>
  <div [id]="'panel-body-' + panelId" class="panel-body">
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
