.panel {
  overflow: hidden;
  .panel-header {
    border-bottom: 1px solid var(--global-gray-light);
    padding: 0.25rem 0.5rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    &.no-toggle {
      cursor: default;
    }
    &.no-border {
      border-bottom: none;
    }
    .panel-icons {
      position: relative;
      height: 1.5rem;
      width: 1.5rem;
      font-size: 1.5rem;
      transition: color 0.2s ease-out;
      .panel-icon-1,
      .panel-icon-2 {
        position: absolute;
        transition: transform 0.2s ease-out;
      }
      .panel-icon-1 {
        margin-left: -1.5px;
      }
    }
    &:hover {
      .panel-icons {
        color: var(--global-warning);
      }
    }
  }

  .panel-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    .content {
      padding: 0.75rem 0.5rem;
    }
  }

  &.active {
    .panel-header {
      .panel-icon-1 {
        transform: rotate(0deg);
        margin: 0 !important;
      }
      .panel-icon-2 {
        transform: rotate(180deg);
      }
    }
    .panel-body {
      overflow: visible;
    }
  }
}
