<header>
  <h1>Professional Standing</h1>
</header>
<ng-container>
  <section>
    <div class="grid">
      <div class="col-12 flex">
        <abs-profile-header></abs-profile-header>
      </div>
    </div>
  </section>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <abs-collapse-panel
          [panelId]="1"
          [startExpanded]="true"
          id="medical-training"
        >
          <h5 class="mt-0 mb-2" panel-header>State Medical License</h5>
          <div class="grid">
            <div class="col-12">
              <p-button class="btn-add my-2" (click)="showLicenseModal(null)">
                <i slot="prefix" class="fa-solid fa-plus"></i>
                ADD RECORD
              </p-button>
              <abs-grid
                [columns]="licensesCols"
                [data]="extendedMedicalLicenses$"
                (action)="handleLicensesGridAction($event)"
                class="margin-bottom-2"
              ></abs-grid>
            </div>
          </div>
        </abs-collapse-panel>
      </sl-card>
      <sl-card class="col-12">
        <div>
          <abs-collapse-panel [panelId]="2" [startExpanded]="true">
            <h5 class="mt-0 mb-2" panel-header id="hospital-appointments">
              Current Hospital Appointments / Privileges
            </h5>
            <h6 class="section__sub-header">Primary Appointments/Privileges</h6>
            <div
              class="grid"
              *ngIf="(editHospitalAppointmentsAndPrivileges$ | async) === false"
            >
              <div class="col-12">
                <label>Clincally Active</label>
                <div>
                  <span
                    *ngIf="
                      currentAppointments &&
                      currentAppointments.clinicallyActive
                    "
                    >{{
                      currentAppointments.clinicallyActive ? 'True' : 'False'
                    }}</span
                  >
                  <span
                    class="text-muted font-italic"
                    *ngIf="
                      !currentAppointments ||
                      !currentAppointments.clinicallyActive
                    "
                    >False</span
                  >
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Primary Current Practice or Training</label>
                <div>
                  <span
                    *ngIf="
                      currentAppointments && currentAppointments.primaryPractice
                    "
                    >{{ currentAppointments.primaryPractice }}</span
                  >
                  <span
                    class="text-muted font-italic"
                    *ngIf="
                      !currentAppointments ||
                      !currentAppointments.primaryPractice
                    "
                    >not specified</span
                  >
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label
                  >Type of Organization of Primary Practice or Training</label
                >
                <div>
                  <span
                    *ngIf="
                      currentAppointments &&
                      currentAppointments.organizationType
                    "
                    >{{ currentAppointments.organizationType }}</span
                  >
                  <span
                    class="text-muted font-italic"
                    *ngIf="
                      !currentAppointments ||
                      !currentAppointments.organizationType
                    "
                    >not specified</span
                  >
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Lack of Hospital Privileges</label>
                <div class="white-space-break-spaces">
                  <span
                    *ngIf="
                      currentAppointments &&
                      currentAppointments.explanationOfNonPrivileges
                    "
                    >{{ currentAppointments.explanationOfNonPrivileges }}</span
                  >
                  <span
                    class="text-muted font-italic"
                    *ngIf="
                      !currentAppointments ||
                      !currentAppointments.explanationOfNonPrivileges
                    "
                    >none</span
                  >
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Non-Clinical Activities</label>
                <div class="white-space-break-spaces">
                  <span
                    *ngIf="
                      currentAppointments &&
                      currentAppointments.explanationOfNonClinicalActivities
                    "
                    >{{
                      currentAppointments.explanationOfNonClinicalActivities
                    }}</span
                  >
                  <span
                    class="text-muted font-italic"
                    *ngIf="
                      !currentAppointments ||
                      !currentAppointments.explanationOfNonClinicalActivities
                    "
                    >none</span
                  >
                </div>
              </div>
            </div>

            <div
              class="grid col-12"
              *ngIf="editHospitalAppointmentsAndPrivileges$ | async"
            >
              <abs-current-appointment-form
                [formData]="currentAppointments"
                [isEdit]="false"
                [picklists]="currentAppointmentPickLists"
                [errors$]="currentAppointmentErrors$"
                [clearErrors]="clearErrors"
                (cancelForm)="
                  toggleEdit(editHospitalAppointmentsAndPrivileges$, false)
                "
                (saveForm)="saveCurrentAppointments($event)"
                class="w-full"
              ></abs-current-appointment-form>
            </div>

            <div
              class="grid mt-3"
              *ngIf="(editHospitalAppointmentsAndPrivileges$ | async) === false"
            >
              <div class="col-12 flex justify-content-end">
                <p-button
                  [style]="{ width: '200px' }"
                  (click)="
                    toggleEdit(editHospitalAppointmentsAndPrivileges$, true)
                  "
                  >Edit</p-button
                >
              </div>
            </div>

            <h6 class="section__sub-header">
              All Hospital Appointments/Privileges
            </h6>

            <div class="grid">
              <div class="col-12">
                <p-button
                  class="btn-add my-2"
                  (click)="showAppointmentModal(null)"
                >
                  <i slot="prefix" class="fa-solid fa-plus"></i>
                  ADD RECORD
                </p-button>
                <abs-grid
                  [columns]="appointmentsPrivilegesCols"
                  [data]="allAppointments$"
                  (action)="handleAppointementsGridAction($event)"
                  class="margin-bottom-2"
                ></abs-grid>
              </div>
            </div>
          </abs-collapse-panel>
        </div>
      </sl-card>
      <sl-card class="col-12">
        <div>
          <abs-collapse-panel [panelId]="3" [startExpanded]="true">
            <h5 class="mt-0 mb-2" panel-header>Sanctions and Ethics</h5>
            <div
              class="grid"
              *ngIf="(editSanctionsAndEthics$ | async) === false"
            >
              <div class="col-12">
                <label>Have you had treatment for drug or alcohol abuse?</label>
                <div>
                  {{
                    sanctionsAndEthics?.hadDrugAlchoholTreatment ? 'Yes' : 'No'
                  }}
                </div>
              </div>
              <div class="col-12">
                <label>Have you been denied hospital privileges</label>
                <div>
                  {{
                    sanctionsAndEthics?.hadHospitalPrivilegesDenied
                      ? 'Yes'
                      : 'No'
                  }}
                </div>
              </div>
              <div class="col-12">
                <label
                  >Have you been reprimanded by any licensing authority or had
                  your license to practice medicine restricted, denied,
                  suspended or revoked, or has it been voluntarily surrendered
                  in any jurisdiction while under investigation?</label
                >
                <div>
                  {{ sanctionsAndEthics?.hadLicenseRestricted ? 'Yes' : 'No' }}
                </div>
              </div>
              <div class="col-12">
                <label
                  >Have you had hospital staff privileges (or any portion
                  thereof) restricted, suspended, or revoked, or otherwise
                  subject to disciplinary action?</label
                >
                <div>
                  {{
                    sanctionsAndEthics?.hadHospitalPrivilegesRestricted
                      ? 'Yes'
                      : 'No'
                  }}
                </div>
              </div>
              <div class="col-12">
                <label>Have you been convicted of a felony?</label>
                <div>
                  {{ sanctionsAndEthics?.hadFelonyConviction ? 'Yes' : 'No' }}
                </div>
              </div>
              <div class="col-12">
                <label
                  >Have you been censured by the American College of Surgeons, a
                  hospital or other national or state society?</label
                >
                <div>
                  {{ sanctionsAndEthics?.hadCensure ? 'Yes' : 'No' }}
                </div>
              </div>
              <div class="col-12" *ngIf="sanctionsAndEthics?.explanation">
                <label>Explain</label>
                <div class="white-space-break-spaces">
                  {{ sanctionsAndEthics?.explanation }}
                </div>
              </div>
            </div>
            <div *ngIf="editSanctionsAndEthics$ | async">
              <abs-sanctions-form
                [formData]="sanctionsAndEthics"
                [isEdit]="false"
                [errors$]="sanctionsErrors$"
                [clearErrors]="clearErrors"
                (cancelForm)="toggleEdit(editSanctionsAndEthics$, false)"
                (saveForm)="saveSanctionsAndEthics($event)"
              ></abs-sanctions-form>
            </div>

            <div
              class="grid"
              *ngIf="(editSanctionsAndEthics$ | async) === false"
            >
              <div class="col-12 flex justify-content-end">
                <p-button
                  [style]="{ width: '200px' }"
                  (click)="toggleEdit(editSanctionsAndEthics$, true)"
                  >Edit</p-button
                >
              </div>
            </div>
          </abs-collapse-panel>
        </div>
      </sl-card>
    </div>
    <abs-modal
      [open]="showAppointmentsAddEdit"
      (closeDialog)="cancelAddEditAppointment($event)"
      [title]="appointmentsTitle"
      modalName="appointmentAddEditModal"
    >
      <abs-appointments-form
        *ngIf="showAppointmentsAddEdit"
        [formData]="selectedAppointment"
        [isEdit]="selectedAppointment !== undefined"
        [picklists]="appointmentsPrivilegesPickLists"
        [errors$]="appointmentErrors$"
        [clearErrors]="clearErrors"
        (cancelForm)="cancelAddEditAppointment($event)"
        (saveForm)="saveAppointment($event)"
      ></abs-appointments-form>
    </abs-modal>

    <abs-modal
      [open]="showLicensesAddEdit"
      (closeDialog)="cancelAddEditLicense($event)"
      [title]="stateMedicalLicenseTitle"
      modalName="licenseAddEditModal"
      [hideClose]="true"
    >
      <abs-license-form
        *ngIf="showLicensesAddEdit"
        [formData]="selectedMedicalLicense"
        [isEdit]="selectedMedicalLicense !== undefined"
        [picklists]="medicalLicensePickLists"
        [errors$]="medicalLicenseErrors$"
        [clearErrors]="clearErrors"
        (closeDialog)="cancelAddEditLicense($event)"
        (saveDialog)="saveLicense($event)"
      ></abs-license-form>
    </abs-modal>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading professional standing...</p>
  </div>
</ng-template>
