<header>
  <h1>Professional Standing</h1>
</header>
<ng-container>
  <section>
    <div class="grid">
      <div class="col-12 flex">
        <abs-profile-header
          [profilePicture]="user.profilePicture"
          [user]="user"
        ></abs-profile-header>
      </div>
    </div>
  </section>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <abs-collapse-panel
          [panelId]="1"
          [startExpanded]="true"
          [heightToggle]="editStateMedicalLiscense$"
        >
          <h5 class="mt-0 mb-2" panel-header>State Medical License</h5>
          <div class="grid">
            <div class="col-12">
              <p-button
                class="btn-add mt-4 mb-5"
                (click)="showLicenseModal(null)"
              >
                <i slot="prefix" class="fa-solid fa-plus"></i>
                ADD RECORD
              </p-button>
              <abs-grid
                [columns]="licensesCols"
                [data]="profile.medicalLicenses"
                (action)="handleLicensesGridAction($event)"
                class="margin-bottom-2"
              ></abs-grid>
            </div>
          </div>
        </abs-collapse-panel>
      </sl-card>
      <sl-card class="col-12">
        <div>
          <abs-collapse-panel
            [panelId]="2"
            [startExpanded]="true"
            [heightToggle]="editHospitalAppointmentsAndPrivileges$"
          >
            <h5 class="mt-0 mb-2" panel-header>
              Current Hospital Appointments / Privileges
            </h5>
            <form id="appointmentsAndPrivileges">
              <p class="mt-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                sed neque nec dolor lacinia interdum quis nec nisi. Pellentesque
                dolor erat, egestas sit amet tortor at, condimentum tempor erat.
              </p>
              <h6 class="section__sub-header">
                Primary Appointments/Privileges
              </h6>
              <div
                class="grid"
                *ngIf="
                  (editHospitalAppointmentsAndPrivileges$ | async) === false
                "
              >
                <div class="col-12 md:col-6">
                  <label>Primary Current Practice or Training</label>
                  <div>
                    {{ profile.appointmentsAndPrivileges.primaryPractice }}
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <label
                    >Type of Organization of Primary Practice or Training</label
                  >
                  <div>
                    {{ profile.appointmentsAndPrivileges.primaryPracticeOrg }}
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <label>Lack of Hospital Privileges</label>
                  <div class="white-space-break-spaces">
                    {{
                      profile.appointmentsAndPrivileges
                        .lackOfHospitalPrivilegesReason
                    }}
                  </div>
                </div>
                <div class="col-12 md:col-6">
                  <label>Non-Clinical Activities</label>
                  <div class="white-space-break-spaces">
                    {{
                      profile.appointmentsAndPrivileges.nonClinicalActivities
                    }}
                  </div>
                </div>
              </div>
              <div
                class="grid"
                *ngIf="editHospitalAppointmentsAndPrivileges$ | async"
              >
                <div class="col-12 md:col-6">
                  <label class="block" for="primaryPractice"
                    >Primary Current Practice or Training</label
                  >
                  <p-dropdown
                    inputId="primaryPractice"
                    [options]="fakeOptions"
                    name="primaryPractice"
                    [(ngModel)]="
                      profile.appointmentsAndPrivileges.primaryPractice
                    "
                    placeholder="Choose a practice or training"
                    optionLabel="itemDescription"
                    optionValue="itemValue"
                    appendTo="body"
                  ></p-dropdown>
                </div>
                <div class="col-12 md:col-6">
                  <label class="block" for="primaryPracticeOrg"
                    >Type of Organization of Primary Practice or Training</label
                  >
                  <input
                    id="primaryPracticeOrg"
                    pInputText
                    type="text"
                    placeholder="Enter an organization type"
                    name="primaryPracticeOrg"
                    [(ngModel)]="
                      profile.appointmentsAndPrivileges.primaryPracticeOrg
                    "
                    required
                  />
                </div>
                <div class="col-12 md:col-6">
                  <label class="block" for="lackOfHospitalPrivilegesReason"
                    >Lack of Hospital Privileges</label
                  >
                  <textarea
                    rows="5"
                    pInputTextarea
                    id="lackOfHospitalPrivilegesReason"
                    placeholder="Explain any lack of hospital privileges"
                    name="lackOfHospitalPrivilegesReason"
                    [(ngModel)]="
                      profile.appointmentsAndPrivileges
                        .lackOfHospitalPrivilegesReason
                    "
                  ></textarea>
                </div>
                <div class="col-12 md:col-6">
                  <label class="block" for="nonClinicalActivities"
                    >Lack of Hospital Privileges</label
                  >
                  <textarea
                    rows="5"
                    pInputTextarea
                    id="nonClinicalActivities"
                    placeholder="Explain any non-clinical activities"
                    name="nonClinicalActivities"
                    [(ngModel)]="
                      profile.appointmentsAndPrivileges.nonClinicalActivities
                    "
                  ></textarea>
                </div>
              </div>

              <h6 class="section__sub-header">
                All Hospital Appointments/Privileges
              </h6>

              <div class="grid">
                <div class="col-12">
                  <p-button
                    class="btn-add mt-4 mb-5"
                    (click)="showAppointmentModal(null)"
                  >
                    <i slot="prefix" class="fa-solid fa-plus"></i>
                    ADD RECORD
                  </p-button>
                  <abs-grid
                    [columns]="appointmentsPrivilegesCols"
                    [data]="profile.appointmentsAndPrivileges.list"
                    (action)="handleAppointementsGridAction($event)"
                    class="margin-bottom-2"
                  ></abs-grid>
                </div>
              </div>

              <div class="grid mt-3">
                <div
                  class="col-12 flex justify-content-end"
                  *ngIf="
                    (editHospitalAppointmentsAndPrivileges$ | async) === false
                  "
                >
                  <p-button
                    variant="primary"
                    [style]="{ width: '200px' }"
                    (click)="
                      toggleEdit(editHospitalAppointmentsAndPrivileges$, true)
                    "
                    >Edit</p-button
                  >
                </div>
                <div
                  class="col-12 flex justify-content-end"
                  *ngIf="editHospitalAppointmentsAndPrivileges$ | async"
                >
                  <p-button
                    styleClass="p-button-link p-button-primary"
                    (click)="
                      toggleEdit(editHospitalAppointmentsAndPrivileges$, false)
                    "
                    >Cancel</p-button
                  >
                  <p-button
                    type="submit"
                    [style]="{ width: '337px' }"
                    variant="primary"
                    (click)="
                      toggleEdit(editHospitalAppointmentsAndPrivileges$, false)
                    "
                    >Save</p-button
                  >
                </div>
              </div>
            </form>
          </abs-collapse-panel>
        </div>
      </sl-card>
      <sl-card class="col-12">
        <div>
          <abs-collapse-panel
            [panelId]="3"
            [startExpanded]="true"
            [heightToggle]="editSanctionsAndEthics$"
          >
            <h5 class="mt-0 mb-2" panel-header>Sanctions and Ethics</h5>
            <form id="sanctionsEthics">
              <div
                class="grid"
                *ngIf="(editSanctionsAndEthics$ | async) === false"
              >
                <div class="col-12">
                  <label
                    >Have you had treatment for drug or alcohol abuse?</label
                  >
                  <div>
                    {{ profile.sanctionsEthics.drugOrAlchohol ? 'Yes' : 'No' }}
                  </div>
                </div>
                <div class="col-12">
                  <label>Have you been denied hospital privileges</label>
                  <div>
                    {{
                      profile.sanctionsEthics.hospitalPrivilegesRevoked
                        ? 'Yes'
                        : 'No'
                    }}
                  </div>
                </div>
                <div class="col-12">
                  <label
                    >Have you been reprimanded by any licensing authority or had
                    your license to practice medicine restricted, denied,
                    suspended or revoked, or has it been voluntarily surrendered
                    in any jurisdiction while under investigation?</label
                  >
                  <div>
                    {{
                      profile.sanctionsEthics.liscensureRevoked ? 'Yes' : 'No'
                    }}
                  </div>
                </div>
                <div class="col-12">
                  <label
                    >Have you had hospital staff privileges (or any portion
                    thereof) restricted, suspended, or revoked, or otherwise
                    subject to disciplinary action?</label
                  >
                  <div>
                    {{
                      profile.sanctionsEthics.hospitalStaffPrivilegesRevoked
                        ? 'Yes'
                        : 'No'
                    }}
                  </div>
                </div>
                <div class="col-12">
                  <label>Have you been convicted of a felony?</label>
                  <div>{{ profile.sanctionsEthics.felony ? 'Yes' : 'No' }}</div>
                </div>
                <div class="col-12">
                  <label
                    >Have you been censured by the American College of Surgeons,
                    a hospital or other national or state society?</label
                  >
                  <div>
                    {{ profile.sanctionsEthics.censured ? 'Yes' : 'No' }}
                  </div>
                </div>
                <!-- TODO: [Joe] we may need to tie this ng-if to the disable for the describe field if we are not clearing that out when disabled -->
                <div class="col-12" *ngIf="profile.sanctionsEthics.describe">
                  <!-- TODO: [JOE] is this the correct label for this? -->
                  <label>Describe</label>
                  <div class="white-space-break-spaces">
                    {{ profile.sanctionsEthics.describe }}
                  </div>
                </div>
              </div>
              <div class="grid" *ngIf="editSanctionsAndEthics$ | async">
                <div class="col-12 mb-3">
                  <label class="block"
                    >Have you had treatment for drug or alcohol abuse?</label
                  >
                  <div class="flex gap-5">
                    <p-radioButton
                      name="drugOrAlchohol"
                      [value]="true"
                      [(ngModel)]="profile.sanctionsEthics.drugOrAlchohol"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="drugOrAlchoholYes"
                      label="Yes"
                    ></p-radioButton>
                    <p-radioButton
                      name="drugOrAlchohol"
                      [value]="false"
                      [(ngModel)]="profile.sanctionsEthics.drugOrAlchohol"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="drugOrAlchoholYes"
                      label="No"
                    ></p-radioButton>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <label class="block"
                    >Have you been denied hospital privileges?</label
                  >
                  <div class="flex gap-5">
                    <p-radioButton
                      name="hospitalPrivilegesRevoked"
                      [value]="true"
                      [(ngModel)]="
                        profile.sanctionsEthics.hospitalPrivilegesRevoked
                      "
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="hospitalPrivilegesRevokedYes"
                      label="Yes"
                    ></p-radioButton>
                    <p-radioButton
                      name="hospitalPrivilegesRevoked"
                      [value]="false"
                      [(ngModel)]="
                        profile.sanctionsEthics.hospitalPrivilegesRevoked
                      "
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="hospitalPrivilegesRevokedNo"
                      label="No"
                    ></p-radioButton>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <label class="block"
                    >Have you been reprimanded by any licensing authority or had
                    your license to practice medicine restricted, denied,
                    suspended or revoked, or has it been voluntarily surrendered
                    in any jurisdiction while under investigation?</label
                  >
                  <div class="flex gap-5">
                    <p-radioButton
                      name="liscensureRevoked"
                      [value]="true"
                      [(ngModel)]="profile.sanctionsEthics.liscensureRevoked"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="liscensureRevokedYes"
                      label="Yes"
                    ></p-radioButton>
                    <p-radioButton
                      name="liscensureRevoked"
                      [value]="false"
                      [(ngModel)]="profile.sanctionsEthics.liscensureRevoked"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="liscensureRevokedNo"
                      label="No"
                    ></p-radioButton>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <label class="block"
                    >Have you had hospital staff privileges (or any portion
                    thereof) restricted, suspended, or revoked, or otherwise
                    subject to disciplinary action?</label
                  >
                  <div class="flex gap-5">
                    <p-radioButton
                      name="hospitalStaffPrivilegesRevoked"
                      [value]="true"
                      [(ngModel)]="
                        profile.sanctionsEthics.hospitalStaffPrivilegesRevoked
                      "
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="hospitalStaffPrivilegesRevokedYes"
                      label="Yes"
                    ></p-radioButton>
                    <p-radioButton
                      name="hospitalStaffPrivilegesRevoked"
                      [value]="false"
                      [(ngModel)]="
                        profile.sanctionsEthics.hospitalStaffPrivilegesRevoked
                      "
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="hospitalStaffPrivilegesRevokedNo"
                      label="No"
                    ></p-radioButton>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <label class="block"
                    >Have you been convicted of a felony?</label
                  >
                  <div class="flex gap-5">
                    <p-radioButton
                      name="felony"
                      [value]="true"
                      [(ngModel)]="profile.sanctionsEthics.felony"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="felonyYes"
                      label="Yes"
                    ></p-radioButton>
                    <p-radioButton
                      name="felony"
                      [value]="false"
                      [(ngModel)]="profile.sanctionsEthics.felony"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="felonyNo"
                      label="No"
                    ></p-radioButton>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <label class="block"
                    >Have you been censured by the American College of Surgeons,
                    a hospital or other national or state society?</label
                  >
                  <div class="flex gap-5">
                    <p-radioButton
                      name="censured"
                      [value]="true"
                      [(ngModel)]="profile.sanctionsEthics.censured"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="censuredYes"
                      label="Yes"
                    ></p-radioButton>
                    <p-radioButton
                      name="censured"
                      [value]="false"
                      [(ngModel)]="profile.sanctionsEthics.censured"
                      (ngModelChange)="checkSantionsAndEthics()"
                      inputId="censuredNo"
                      label="No"
                    ></p-radioButton>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <label class="block" for="describe">Describe</label>
                  <small class="block form-helper-text text-muted"
                    >Only if you answered YES to any of the above
                    questions.</small
                  >
                  <textarea
                    rows="5"
                    pInputTextarea
                    id="describe"
                    placeholder="Explain..."
                    name="describe"
                    [(ngModel)]="profile.sanctionsEthics.describe"
                  ></textarea>
                </div>
              </div>
              <div class="grid">
                <div
                  class="col-12 flex justify-content-end"
                  *ngIf="(editSanctionsAndEthics$ | async) === false"
                >
                  <p-button
                    variant="primary"
                    [style]="{ width: '200px' }"
                    (click)="toggleEdit(editSanctionsAndEthics$, true)"
                    >Edit</p-button
                  >
                </div>
                <div
                  class="col-12 flex justify-content-end"
                  *ngIf="editSanctionsAndEthics$ | async"
                >
                  <p-button
                    styleClass="p-button-link p-button-primary"
                    (click)="toggleEdit(editSanctionsAndEthics$, false)"
                    >Cancel</p-button
                  >
                  <p-button
                    type="submit"
                    [style]="{ width: '337px' }"
                    (click)="toggleEdit(editSanctionsAndEthics$, false)"
                    >Save</p-button
                  >
                </div>
              </div>
            </form>
          </abs-collapse-panel>
        </div>
      </sl-card>
    </div>
    <abs-modal
      [open]="showAppointmentsAddEdit"
      (closeDialog)="cancelAddEditAppointment($event)"
      [title]="appointmentsTitle"
      modalName="appointmentAddEditModal"
    >
      <abs-appointments-add-edit-modal
        [appointment]="tempAppointment$"
        (cancelDialog)="cancelAddEditAppointment($event)"
        (saveDialog)="saveAppointment($event)"
      ></abs-appointments-add-edit-modal>
    </abs-modal>

    <abs-modal
      [open]="showLicensesAddEdit"
      (closeDialog)="cancelAddEditLicense($event)"
      [title]="stateMedicalLicenseTitle"
      modalName="licenseAddEditModal"
    >
      <abs-license-add-edit-modal
        [license]="tempLicense$"
        (cancelDialog)="cancelAddEditLicense($event)"
        (saveDialog)="saveLicense($event)"
      ></abs-license-add-edit-modal>
    </abs-modal>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading professional standing...</p>
  </div>
</ng-template>
