<ng-container *ngIf="clearErrors && errors$ | async as error">
  <div class="mb-3">
    <abs-form-errors
      *ngIf="errors$ | async as error"
      [errors]="error"
      [clearErrors]="clearErrors"
    ></abs-form-errors>
  </div>
</ng-container>
<form
  name="personProfileForm"
  [formGroup]="fellowshipForm"
  (ngSubmit)="save()"
  *ngIf="fellowshipForm"
>
  <div class="grid">
    <div class="flex flex-column gap-1 col-12">
      <label htmlFor="trainingType">Program Type *</label>
      <div
        class="flex align-items-center"
        *ngFor="let fellowshipType of fellowshipTypes"
      >
        <p-radioButton
          (onClick)="getFellowshipPrograms(fellowshipType.fellowshipType)"
          [value]="fellowshipType?.fellowshipType"
          formControlName="fellowshipType"
          [inputId]="fellowshipType?.fellowshipType ?? ''"
        ></p-radioButton>
        <label [for]="fellowshipType?.fellowshipType" class="ml-2">{{
          fellowshipType?.fellowshipTypeName
        }}</label>
      </div>
    </div>

    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="trainingType">Program Name</label>
      <p-autoComplete
        [dropdown]="true"
        [suggestions]="filteredFellowshipPrograms"
        (completeMethod)="filterItems($event)"
        (onSelect)="onInstitutionSelect()"
        (onClear)="clearAutoComplete()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [disabled]="fellowshipForm.get('programOther')?.value ? true : false"
        [showClear]="true"
        appendTo="body"
        id="programName"
        [placeholder]="
          fellowshipForm.get('fellowshipType')?.value
            ? 'Start typing to search for your Program...'
            : 'Please select a Program Type first...'
        "
        formControlName="programName"
      >
      </p-autoComplete>
    </div>
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="other">Other</label>
      <input
        [required]="!fellowshipForm.get('programName')?.value"
        pInputText
        id="other"
        placeholder="If you do not see your Program in the list, type it in here..."
        formControlName="programOther"
      />
    </div>
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="other">Year of Completion *</label>
      <p-calendar
        [required]="true"
        [maxDate]="maxYear"
        view="year"
        dateFormat="yy"
        inputId="yearpicker"
        formControlName="completionYear"
        placeholder="YYYY"
        appendTo="body"
      ></p-calendar>
      <small
        *ngIf="
          fellowshipForm.get('completionYear')?.errors &&
          fellowshipForm.get('completionYear')?.dirty
        "
        id="trainingType-help"
        class="form-error-text"
      >
        This is required
      </small>
    </div>
  </div>
  <div class="flex justify-content-end mt-4" slot="footer">
    <p-button styleClass="p-button-link p-button-primary" (click)="cancel()"
      >Cancel</p-button
    >
    <p-button
      type="submit"
      [style]="{ width: '337px' }"
      variant="primary"
      [disabled]="fellowshipForm.invalid"
      >Save
    </p-button>
  </div>
</form>
