sl-dialog::part(header-actions) {
  padding: 0;
}
sl-dialog::part(close-button) {
  padding-right: 1rem;
}
sl-dialog.hide-close::part(close-button) {
  display: none;
}
sl-dialog::part(header)::after {
  height: 1px;
  color: var(--global-gray-lightest);
}

sl-tab-group::part(body) {
  overflow-x: hidden;
}
sl-tab-group::part(active-tab-indicator) {
  border-color: var(--global-success);
}
sl-tab {
  width: 100%;
  text-align: center;
}
sl-tab::part(base) {
  color: var(--global-text-primary);
  font-size: 1.25rem;
  font-weight: 700;
}
sl-tab.tab__complete::part(base) {
  color: var(--global-success);
}
sl-tab::part(base):hover {
  color: var(--global-success-darken-20);
}

.status {
  text-transform: capitalize;
}
.completed {
  color: var(--global-success);
}
.in-progress {
  color: var(--global-warning);
}
.alert {
  color: var(--global-danger);
}
.title {
  text-transform: capitalize;
}
