<div [class]="actionCardClass">
  <a
    *ngIf="!actionCard?.disabled && actionCard?.action?.type === 'component'"
    [routerLink]="actionCard?.action?.action"
    class="hotspot"
  ></a>
  <button
    *ngIf="!actionCard?.disabled && actionCard?.action?.type === 'dialog'"
    class="hotspot"
    (click)="handleCardAction(actionCard?.action?.action)"
  ></button>
  <div class="card-content" [class]="actionCard?.status">
    <h5 class="title">
      <span class="icon"><i [class]="actionCard?.icon"></i></span
      >{{ actionCard?.title }}
    </h5>
    <div class="description">{{ actionCard?.description }}</div>
    <div class="action-display">
      <div *ngIf="actionCard?.action?.style !== 2; else fullButton">
        {{ actionCard?.actionDisplay }}
      </div>
      <ng-template #fullButton>
        <sl-button
          [variant]="!actionCard?.disabled ? 'primary' : 'neutral'"
          [disabled]="actionCard?.disabled"
          style="width: 100%"
          >{{ actionCard?.actionDisplay }}</sl-button
        >
      </ng-template>
    </div>
  </div>
</div>
