<div
  class="action-card {{ status }} {{ disabled ? 'disabled' : '' }} {{
    status ? 'status-card' : ''
  }}"
>
  <a
    *ngIf="!disabled && actionType === 'component'"
    [routerLink]="actionAction"
    class="hotspot"
  ></a>
  <button
    *ngIf="!disabled && actionType === 'dialog'"
    class="hotspot"
    (click)="handleCardAction(actionAction)"
  ></button>
  <div class="card-content flex flex-wrap" [class]="status">
    <div class="col-12 {{ status && displayStatusText ? 'md:col-8' : '' }}">
      <h5 class="title">
        <span class="icon"><i [class]="icon"></i></span>{{ title }}
      </h5>
      <div class="description">{{ description }}</div>
      <div class="action-display">
        <div *ngIf="actionStyle === 'link'">
          {{ actionDisplay }}
        </div>
        <div *ngIf="actionStyle === 'button'">
          <sl-button
            [variant]="!disabled ? 'primary' : 'neutral'"
            [disabled]="disabled"
            style="width: 100%"
            >{{ actionDisplay }}</sl-button
          >
        </div>
      </div>
    </div>
    <div class="status col-12 md:col-4" *ngIf="status && displayStatusText">
      Status:
      <span [class]="status"> {{ status.replace('-', ' ') }}</span>
      <div class="date" *ngIf="recievedOn">
        Received on {{ recievedOn | date : 'MM/dd/yyyy' }}
      </div>
    </div>
  </div>
</div>
