<form action="">
  <div class="form-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat. All fields are required.
  </div>
  <h6>{{ userData.name }}</h6>
  <div class="grid">
    <div
      *ngFor="let formField of attestationFormFields"
      class="flex align-items-center gap-2 {{ formField.size }}"
    >
      <p-checkbox
        [value]="formField.value"
        [name]="formField.name"
        [id]="formField.name"
      ></p-checkbox>
      <label [for]="formField.name">{{ formField.label }}</label>
    </div>
    <div class="col-12 flex justify-content-end btn-container mt-3">
      <p-button styleClass="p-button-link p-button-primary" (click)="close()"
        >Cancel</p-button
      >
      <p-button [style]="{ width: '337px' }">Save</p-button>
    </div>
  </div>
</form>
