<div class="container">
  <div class="nav-header">
    <div class="flex">
      <div class="logo">
        <img
          src="../../assets/img/abs-logo.svg"
          alt="The American Board Of Surgery"
        />
      </div>
      <h3>
        The American <br />
        Board of Surgery
      </h3>
    </div>
    <div class="nav-toggle">
      <div class="hamburger" (click)="toggleSideNav()">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <nav>
    <ul class="main-navigation">
      <ng-container *ngFor="let item of navItems">
        <li class="left-padding" *ngIf="featureToggle(item)">
          <a
            [routerLink]="item.action"
            routerLinkActive="active"
            (click)="toggleSideNav()"
            *ngIf="!item.children"
            ><i [ngClass]="item.icon"></i>{{ item.display }}</a
          >
          <a
            (click)="toggleSubNav(item)"
            *ngIf="item.children"
            [routerLink]="item.action"
            routerLinkActive="active"
            class="has-sub-menu"
          >
            <i [ngClass]="item.icon"></i>{{ item.display }}
          </a>
          <div class="sub-menu" *ngIf="item.children">
            <ul>
              <li *ngFor="let child of item.children">
                <a
                  [routerLink]="[item.action, child.action]"
                  routerLinkActive="active"
                  (click)="toggleSideNav()"
                  ><i [ngClass]="child.icon"></i>{{ child.display }}</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ng-container>
    </ul>
  </nav>

  <nav class="lower-nav">
    <ng-container *ngIf="featureToggle({ feature: 'myAccountPage' })">
      <button (click)="router.navigateByUrl('my-account')">
        <i class="fa-solid fa-user-doctor"></i>My Account
      </button>
      |
    </ng-container>
    <button (click)="logout()">
      Logout<i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
    </button>
  </nav>
</div>
