<div class="dialog-intro col-12">
  <ng-content></ng-content>
</div>

<div *ngIf="showGrid">
  <div class="flex flex-wrap">
    <div class="col-12 md:col-3">Total Amount of Fees:</div>
    <div class="col-12 md:col-9">
      <strong>{{
        payFeeData?.totalAmountOfFee | currency : 'USD' : true : '1.2-2'
      }}</strong>
    </div>
    <div class="col-12 md:col-3">
      Total Amount Paid as of
      {{ payFeeData?.totalAmountPaidDate | date : 'MM/dd/yyyy' }}:
    </div>
    <div class="col-12 md:col-9">
      <strong>{{
        payFeeData?.totalAmountPaid | currency : 'USD' : true : '1.2-2'
      }}</strong>
    </div>
    <div class="col-12 md:col-3">Remaining Balance:</div>
    <div class="col-12 md:col-9 danger">
      <strong style="color: #8b040a">{{
        payFeeData?.remainingBalance | currency : 'USD' : true : '1.2-2'
      }}</strong>
    </div>
  </div>

  <abs-grid
    [columns]="payFeeCols"
    [data]="paymentGridData"
    (action)="handleGridAction($event)"
    class="margin-bottom-2"
    [pagination]="true"
  >
  </abs-grid>
</div>

<h5 class="mt-5">Payment Information</h5>

<form class="mt-5" [formGroup]="paymentInformationForm">
  <div class="grid">
    <div
      *ngFor="let formField of paymentInformationFormFields"
      class="flex flex-column gap-2 col-12 md:{{
        formField.size
      }} flex flex-column justify-content-start"
    >
      <label [htmlFor]="formField.name">{{ formField.label }}</label>
      <input
        *ngIf="formField.type === 'text'"
        [placeholder]="formField.placeholder ?? ''"
        [name]="formField.name"
        [id]="formField.name"
        [required]="formField.required"
        [formControlName]="formField.name"
        pInputText
      />
      <p-dropdown
        *ngIf="formField.type === 'select'"
        [placeholder]="formField.placeholder ?? ''"
        [options]="formField.options ?? []"
        [name]="formField.name"
        [id]="formField.name"
        [editable]="true"
        [formControlName]="formField.name"
        appendTo="body"
        optionLabel="itemDescription"
        optionValue="itemValue"
      ></p-dropdown>
      <span>{{ formField.subLabel }}</span>
    </div>
    <div class="col-12 md:col-12 align-right mt-5">
      <p-button
        styleClass="p-button-link p-button-primary"
        (click)="handleCancelAction()"
        >Cancel</p-button
      >
      <p-button
        [style]="{ width: '337px' }"
        (onClick)="handleSubmitAction()"
        [disabled]="payFeeDisabled"
        >Proceed to Pay</p-button
      >
    </div>
  </div>
</form>
