<div class="dialog-intro col-12">
  <ng-content></ng-content>
</div>

<div class="flex flex-wrap">
  <div class="col-12 md:col-3">Total Amount of Fee:</div>
  <div class="col-12 md:col-9">
    <strong>{{ payFeeData?.totalAmountOfFee }}</strong>
  </div>
  <div class="col-12 md:col-3">
    Total Amount Paid as of
    {{ payFeeData?.totalAmountPaidDate | date : 'MM/dd/yyyy' }}:
  </div>
  <div class="col-12 md:col-9">
    <strong>{{ payFeeData?.totalAmountPaid }}</strong>
  </div>
  <div class="col-12 md:col-3">Remaining Balance:</div>
  <div class="col-12 md:col-9 danger">
    <strong style="color: #8b040a">{{ payFeeData?.remainingBalance }}</strong>
  </div>
</div>

<abs-grid
  [columns]="payFeeCols"
  [data]="paymentGridData"
  (action)="handleGridAction($event)"
  class="margin-bottom-2"
>
</abs-grid>

<h5 class="mt-5">Payment Information</h5>

<form class="mt-5">
  <div class="grid">
    <div
      *ngFor="let formField of paymentInformationFormFields"
      class="flex flex-column gap-2 col-12 md:{{
        formField.size
      }} flex flex-column justify-content-start"
    >
      <label [htmlFor]="formField.name">{{ formField.label }}</label>
      <input
        *ngIf="formField.type === 'text'"
        [placeholder]="formField.placeholder ?? ''"
        [name]="formField.name"
        [id]="formField.name"
        [required]="formField.required"
        pInputText
      />
      <p-dropdown
        *ngIf="formField.type === 'select'"
        [placeholder]="formField.placeholder ?? ''"
        [options]="formField.options ?? []"
        [name]="formField.name"
        [id]="formField.name"
        [editable]="true"
        appendTo="body"
        optionLabel="itemDescription"
        optionValue="itemValue"
      ></p-dropdown>
      <span>{{ formField.subLabel }}</span>
    </div>
    <div class="col-12 md:col-12 align-right mt-5">
      <p-button
        styleClass="p-button-link p-button-primary"
        (click)="handleCancelAction()"
        >Cancel</p-button
      >
      <p-button [style]="{ width: '337px' }" (click)="handleSubmitAction()"
        >Proceed to Pay</p-button
      >
    </div>
  </div>
</form>
