<ng-container *ngIf="clearErrors && errors$ | async as error">
  <div class="mb-3">
    <abs-form-errors
      *ngIf="errors$ | async as error"
      [errors]="error"
      [clearErrors]="clearErrors"
    ></abs-form-errors>
  </div>
</ng-container>
<form
  name="personProfileForm"
  [formGroup]="additionalTrainingForm"
  (ngSubmit)="save()"
  *ngIf="additionalTrainingForm"
>
  <div class="grid">
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="trainingType">Type of Training *</label>
      <p-dropdown
        [options]="trainingTypes"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        appendTo="body"
        optionLabel="trainingType"
        optionValue="id"
        formControlName="trainingType"
        placeholder="Choose a Training Type"
      ></p-dropdown>
      <small
        *ngIf="
          additionalTrainingForm.get('trainingType')?.errors &&
          additionalTrainingForm.get('trainingType')?.dirty
        "
        id="trainingType-help"
        class="form-error-text"
      >
        This is required
      </small>
    </div>
    <div class="col-12 full-width gap-2 flex flex-column">
      <label htmlFor="institutionName">Institution</label>
      <p-autoComplete
        [dropdown]="true"
        [suggestions]="filteredInstitutionOptions"
        (completeMethod)="filterItems($event)"
        (onSelect)="onInstitutionSelect($event)"
        (onClear)="clearAutoComplete()"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [disabled]="additionalTrainingForm.get('other')?.value ? true : false"
        [showClear]="true"
        appendTo="body"
        id="institutionName"
        placeholder="Begin typing to search for an Institution..."
        field="itemDescription"
        formControlName="institutionName"
        [minLength]="3"
      >
      </p-autoComplete>
      <small class="form-helper-text text-muted"
        >please enter at least 3 characters</small
      >
    </div>
    <div class="flex flex-column gap-2 col-12 md:col-6">
      <label htmlFor="city">City</label>
      <input
        pInputText
        id="city"
        placeholder="Choose an Institution"
        formControlName="city"
      />
    </div>
    <div class="flex flex-column gap-2 col-12 md:col-6">
      <label htmlFor="state">State</label>
      <p-dropdown
        [options]="stateOptions"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [readonly]="true"
        optionLabel="itemDescription"
        optionValue="itemValue"
        formControlName="state"
        placeholder="Choose an Institution"
      ></p-dropdown>
    </div>
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="other">Other</label>
      <input
        [attr.disabled]="additionalTrainingForm.get('institutionName')?.value"
        pInputText
        id="other"
        placeholder="If you do not see your Institution in the list, type it in here..."
        formControlName="other"
      />
    </div>
    <div class="flex flex-column gap-2 col-12 md:col-6">
      <label htmlFor="startDate">Date Started *</label>
      <p-calendar
        [showIcon]="true"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        appendTo="body"
        id="startDate"
        placeholder="Type your answer..."
        formControlName="startDate"
      >
      </p-calendar>
      <small
        *ngIf="additionalTrainingForm.get('endDate')?.dirty"
        id="startDate-help"
        class="form-error-text"
      >
        {{
            this.additionalTrainingForm.errors?.['datesValid'] === false
              ? 'Start Date must come before End Date'
              : ''
        }}
      </small>
    </div>
    <div class="flex flex-column gap-2 col-12 md:col-6">
      <label htmlFor="endDate">Date Ended *</label>
      <p-calendar
        [showIcon]="true"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        appendTo="body"
        id="endDate"
        placeholder="Type your answer..."
        formControlName="endDate"
      >
      </p-calendar>
      <small
        *ngIf="additionalTrainingForm.get('endDate')?.dirty"
        id="endDate-help"
        class="form-error-text"
      >
        {{
          this.additionalTrainingForm.errors?.['datesValid'] === false
            ? 'Date Started must be before Date Ended'
            : ''
        }}
      </small>
    </div>
  </div>
  <div class="flex justify-content-end mt-4" slot="footer">
    <p-button styleClass="p-button-link p-button-primary" (click)="cancel()"
      >Cancel</p-button
    >
    <p-button
      type="submit"
      [style]="{ width: '337px' }"
      [disabled]="additionalTrainingForm.invalid"
      >Save
    </p-button>
  </div>
</form>
