<form
  name="personProfileForm"
  [formGroup]="additionalTrainingForm"
  (ngSubmit)="save()"
  *ngIf="additionalTrainingForm"
>
  <div class="grid">
    <div class="col-12">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
        nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat,
        egestas sit amet tortor at, condimentum tempor erat.
      </p>
    </div>
    <sl-input
      class="col-12"
      name="type"
      label="Type of Training"
      placeholder="Type your answer..."
      ngDefaultControl
      formControlName="typeOfTraining"
      [required]="typeOfTraining?.hasError('required') ? true : false"
    >
    </sl-input>
    <sl-input
      class="col-12 md:col-6"
      name="city"
      label="City"
      placeholder="Type your answer..."
      ngDefaultControl
      formControlName="city"
    >
    </sl-input>
    <abs-input-select
      class="col-12 md:col-6"
      label="State"
      formControlName="stateId"
      *ngIf="states$ | async as states"
      [disabled]="!states.length"
      ngDefaultControl
      placeholder="Choose a state"
    >
      <sl-option
        *ngFor="let state of states; index as i; trackBy: trackByFn"
        [value]="state.itemValue"
        >{{ state.itemDescription }}</sl-option
      >
    </abs-input-select>

    <abs-input-select
      class="col-12"
      label="Institution"
      formControlName="institutionId"
      ngDefaultControl
      placeholder="Choose an institution"
    >
      <sl-option value="1">Option 1</sl-option>
      <sl-option value="2">Option 2</sl-option>
      <sl-option value="3">Option 3</sl-option>
    </abs-input-select>
    <sl-input
      class="col-12"
      name="other"
      label="Other"
      placeholder="Type your answer..."
      ngDefaultControl
      formControlName="other"
    >
    </sl-input>
    <sl-input
      type="date"
      valueAsDate
      class="col-12 md:col-6"
      name="from"
      label="Date Started"
      ngDefaultControl
      formControlName="dateStarted"
      required
    >
    </sl-input>
    <sl-input
      type="date"
      valueAsDate
      class="col-12 md:col-6"
      name="to"
      label="Date Ended"
      ngDefaultControl
      formControlName="dateEnded"
      required
    >
    </sl-input>
  </div>
  <div class="flex justify-content-end mt-4" slot="footer">
    <sl-button type="button" variant="text" (click)="cancel()"
      >Cancel</sl-button
    >
    <sl-button
      type="submit"
      style="width: 337px"
      variant="primary"
      [disabled]="additionalTrainingForm.invalid"
      >Save
    </sl-button>
  </div>
</form>
