<div class="mb-5">
  <p>
    Please complete and upload below
    <a href="#">Accommodation Request Other Medical Conditions</a>
  </p>
</div>

<abs-documents-upload
  [dropdownOptions]="accommodationTypes$ | async"
  [dropdownPlaceholder]="'Select an Accomodation Type'"
  [showFilter]="false"
  [gridCols]="specialAccommodationsCols"
  [documentsData]="specialAccommodationsData"
  [dropdownLabel]="'description'"
  [dropdownValue]="'id'"
  [userId]="userId$ | async"
  (uploadAction)="onDocumentUpload($event)"
></abs-documents-upload>

<div class="flex justify-content-end mt-5" slot="footer">
  <p-button styleClass="p-button-primary" (click)="close()">Cancel</p-button>
</div>
