<div class="mb-5">
  <label
    for="accommodationType"
    *ngIf="gridData && gridData.length > 0 && gridData[0].accommodationID === 1"
  >
    You have already indicated that you do not need any special accommodations,
    if you would like to update this selection please select one of the options
    below and complete the associated form.
  </label>
  <label
    for="accommodationType"
    *ngIf="
      !gridData || gridData.length === 0 || gridData[0].accommodationID !== 1
    "
    >Please select an accomodation type below:
  </label>
  <p-dropdown
    placeholder="Select an Accommodation Type"
    [options]="accommodationTypes"
    name="accommodationType"
    id="accommodationType"
    [(ngModel)]="selectedAccommodationType"
    appendTo="body"
    optionLabel="code"
  ></p-dropdown>

  <div
    *ngIf="selectedAccommodationType && selectedAccommodationType?.documentLink"
  >
    <p>
      Please complete and upload this form to request an accommodation:
      <a [href]="selectedAccommodationType.documentLink" target="_blank"
        ><span style="text-transform: capitalize">{{
          selectedAccommodationType.code
        }}</span>
        Form</a
      >
    </p>

    <abs-documents-upload
      [showFilter]="false"
      [gridCols]="specialAccommodationsCols"
      [documentsData]="specialAccommodationsData$ | async"
      [dropdownLabel]="'description'"
      [dropdownValue]="'id'"
      [userId]="userId$ | async"
      (uploadAction)="onDocumentUpload($event)"
    ></abs-documents-upload>
  </div>
</div>

<div class="flex justify-content-end mt-5" slot="footer">
  <p-button
    *ngIf="selectedAccommodationType && !selectedAccommodationType.documentLink"
    styleClass="p-button-link p-button-primary"
    (click)="close()"
    >Cancel</p-button
  >
  <p-button
    *ngIf="selectedAccommodationType && !selectedAccommodationType.documentLink"
    [style]="{ width: '337px' }"
    styleClass="p-button-primary"
    (click)="save()"
    >Save</p-button
  >
  <p-button
    *ngIf="!selectedAccommodationType || selectedAccommodationType.documentLink"
    [style]="{ width: '337px' }"
    styleClass="p-button-primary"
    (click)="close()"
    >Close</p-button
  >
</div>
