<div class="mb-5">
  <p>
    Please complete and upload below
    <a href="#">Accommodation Request Other Medical Conditions</a>
  </p>
</div>
<div class="flex align-items-end gap-3">
  <div>
    <label class="block" for="appointmentType">Appointment Type</label>
    <p-dropdown
      [options]="specialAccommodationsTypeOptions"
      (onChange)="handleSelectChange($event)"
      inputId="appointmentType"
      name="appointmentType"
      placeholder="Select an Appointment Type"
      optionLabel="label"
      optionValue="value"
    ></p-dropdown>
  </div>

  <div class="flex">
    <div class="input-file">
      <label>
        <input type="file" (change)="handleFileOnChange($event)" />
        <span
          >{{ fileUploadedName ?? 'Upload a File' }}
          <i class="fa-solid fa-upload"></i
        ></span>
      </label>
    </div>
    <p-button
      (click)="onDocumentUpload()"
      [disabled]="documentType === '' || !uploadedFile"
      class="btn-add"
    >
      <i slot="prefix" class="fa-solid fa-plus"></i>
      <span>UPLOAD DOCUMENT</span>
    </p-button>
  </div>
</div>

<abs-grid
  [columns]="specialAccommodationsCols"
  [data]="specialAccommodationsData"
  (action)="gridAction($event)"
>
</abs-grid>
<div class="flex justify-content-end mt-5" slot="footer">
  <p-button styleClass="p-button-link p-button-primary" (click)="close()"
    >Cancel</p-button
  >
  <p-button type="button" [style]="{ width: '337px' }" variant="primary"
    >Save
  </p-button>
</div>
