<div class="flex">
  <sl-avatar
    [image]="profilePicture"
    label="Profile Picture"
    style="--size: 5rem"
  ></sl-avatar>
  <div class="ml-3" *ngIf="user$ | async as user; else noUser">
    <h2 class="font-normal mt-0 mb-0">
      <span>{{ user.displayName }}</span>
    </h2>
    <p class="font-bold mt-0 mb-1" *ngIf="user.emailAddress">
      {{ user.emailAddress }}
    </p>
    <!-- <p class="font-bold mt-0 mb-1 account-status" *ngIf="user.claims">
      Status:
      {{ user.claims.includes(userClaims.surgeon) ? 'Surgeon' : 'Trainee' }}
    </p> -->
  </div>
  <ng-template #noUser>
    <div class="ml-3">
      <h2 class="font-normal mt-0 mb-0">
        <span>Guest</span>
      </h2>
      <p class="font-bold mt-0 mb-1">Not logged in</p>
    </div>
  </ng-template>
</div>
