<div class="flex">
  <sl-avatar
    [image]="profilePicture"
    label="Profile Picture"
    style="--size: 5rem"
  ></sl-avatar>
  <div class="ml-3">
    <h2 class="font-normal mt-0 mb-0">
      <span *ngIf="user?.givenName">{{ user?.givenName }}</span>
      <span *ngIf="user?.surName"> {{ user?.surName }}</span>
      <span *ngIf="user?.title">, {{ user?.title }}</span>
    </h2>
    <p class="font-bold mt-0 mb-1" *ngIf="user?.email">{{ user?.email }}</p>
    <p class="font-bold mt-0 mb-1 account-status" *ngIf="user?.status">
      Status: {{ user?.status }}
    </p>
  </div>
</div>
