<div class="user-information-card">
  <div class="status-container">
    <strong>{{
      'EXAMSCORING.DASHBOARD.CERTIFYING_TITLE'
        | translate : { date: examinationWeek }
    }}</strong>
  </div>

  <div class="info-container">
    <p-carousel
      *ngIf="sliderData?.length; else noResults"
      [value]="sliderData"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="true"
      [showNavigators]="sliderData.length > 4"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-data pTemplate="item">
        <div class="item">
          <div class="name mb-2">
            {{ data?.firstName }} {{ data?.lastName }}
          </div>
          <div class="session mb-2">Session {{ data?.sessionNumber }}</div>
          <div class="times mb-2">
            {{ data?.startTime }} - {{ data?.endTime }}
          </div>
        </div>
      </ng-template>
    </p-carousel>
    <ng-template #noResults>
      <div class="no-results">
        {{ 'EXAMSCORING.DASHBOARD.CERTIFYING_NORESULTS' | translate }}
      </div>
    </ng-template>
  </div>
</div>
