<div class="mb-5">
  <p><strong>Please update the information below as needed. </strong></p>
  <p>
    A full and unrestricted medical license is not required for the Qualifying
    Examination. A full and unrestricted medical license will be waived to
    register for the Certifying Examination (CE). A full and unrestricted
    medical license will be required before you will be considered certified by
    the ABS
  </p>
</div>

<abs-documents-upload
  [showFilter]="false"
  [gridCols]="AcgmeGridCols"
  [documentsData]="userCertificates$ | async"
  [userId]="userId$ | async"
  (uploadAction)="onDocumentUpload($event)"
  [allowUpload]="allowUpload"
></abs-documents-upload>

<div class="flex justify-content-end mt-5" slot="footer">
  <p-button styleClass="p-button-primary" (click)="close()">Cancel</p-button>
</div>
