<h1>{{ (examTitle$ | async)?.examName || 'Certifying Examation' }}</h1>
<div class="text-xl">Please read carefully the instructions below.</div>
<abs-exam-timer
  *ngIf="showTimer"
  [totalIncrements]="casesLength"
  [currentIncrement]="currentIncrement"
  incrementLabel="Case"
></abs-exam-timer>
<sl-card class="w-11 mt-5 no-highlight">
  <h3 class="mt-0 mb-2" header>Examination</h3>
  <hr />
  <div class="grid">
    <p class="col-12">
      Begin the oral examination process by first selecting the desired exam day
      from the first dropdown. You can then select the specific candidate times
      lot from the next dropdown. Finally, confirm your examiner user ID and you
      may begin the exam process.
    </p>

    <div class="flex gap-5 view-header col-12">
      <div><strong>Candidate Name:</strong> {{ candidateName }}</div>
      <div><strong>Day/Time:</strong> {{ dayTime }}</div>
    </div>

    <abs-expandable
      class="col-12"
      *ngFor="let case of cases$ | async; index as i"
      [caseId]="case.examCaseId"
      [caseTitle]="case.title"
      [index]="i"
      [checked]="i === activeCase"
      [completed]="case.completed"
    >
      <div class="grid">
        <div class="col-12" *ngFor="let section of case.sections">
          <p class="font-bold m-0">{{ section.heading }}:</p>
          <div class="section-details" [innerHTML]="section?.content"></div>

          <div *ngIf="section.comments || section.editComment">
            <label [for]="section?.caseCommentId">Comment:</label>
            <p class="my-1" *ngIf="!section.editComment">
              {{ section?.comments }}
            </p>
            <textarea
              [name]="section?.caseCommentId"
              rows="5"
              pInputTextarea
              *ngIf="section.editComment"
            ></textarea>
          </div>
          <p-button
            *ngIf="!section.editComment && section.showEdit"
            styleClass="p-button-success p-button-text"
            (click)="section.editComment = true"
          >
            {{ section.comment ? 'Edit Comment' : 'Add Comment' }}
          </p-button>
        </div>
        <abs-examination-score-card
          class="col-12"
          [case]="case"
          (handleChange)="handleChange($event)"
        ></abs-examination-score-card>
        <div class="col-12 flex justify-content-end mt-3">
          <p-button
            variant="text"
            styleClass="p-button-link p-button-primary"
            (onClick)="skipCase(case.examCaseId)"
          >
            Skip Scoring Case
          </p-button>
          <p-button
            [style]="{ width: '337px' }"
            (onClick)="handleSave(case.examCaseId)"
            [disabled]="disable"
            >Save & Continue</p-button
          >
        </div>
      </div>
    </abs-expandable>

    <abs-expandable
      [customTitle]="'Review & Submit Scores'"
      [index]="casesLength"
      [checked]="casesLength === activeCase"
      class="w-full"
    >
      <div class="grid w-full">
        <ng-template
          ngFor
          [ngForOf]="gradedScores$ | async"
          let-case
          let-i="index"
        >
          <abs-examination-score-card
            class="col-12"
            [case]="case"
            (handleChange)="handleGradedChange($event)"
          ></abs-examination-score-card>
        </ng-template>
      </div>

      <div class="flex justify-content-end mt-5">
        <p-button
          variant="text"
          styleClass="p-button-link p-button-primary"
          (onClick)="handleSaveAndSubmitLater()"
          >Save & Submit Later</p-button
        >
        <p-button
          type="submit"
          [style]="{ width: '337px' }"
          [disabled]="disableSubmit"
          (onClick)="handleSubmit()"
        >
          Submit Scores
        </p-button>
      </div>
    </abs-expandable>
  </div>
</sl-card>
