<header>
  <h1>Apply & Register</h1>
</header>
<ng-container>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <h5 class="mt-0 mb-2" panel-header>Applications for 2021-2022</h5>
        <hr />
        <p>
          Applications for ABS examinations are restricted to eligible
          candidates only. Below is a list of exams for which the ABS currently
          recognizes you as eligible to apply. Click the link to apply where
          appropriate.
        </p>
        <div class="mt-2 grid">
          <div
            [ngClass]="{
              'col-12': true,
              'application-container': true,
              'available-applications': qeExamEligibility$ | async
            }"
          >
            <p class="text-lg font-bold m-0">
              {{
                (qeExamEligibility$ | async)
                  ? 'Active Examinations & Applications'
                  : 'No applications are currently available, check back later.'
              }}
            </p>
            <div class="mt-2 grid" *ngIf="qeExamEligibility$ | async">
              <sl-card
                class="col-12 md:col-6 application-card"
                *ngFor="let application of qeExamEligibility$ | async"
              >
                <p
                  class="font-bold mt-0 flex justify-content-between align-items-center"
                >
                  {{ application.examName }}
                  <!-- <span
                    [class]="'application-progress ' + application.status"
                    >{{ application.progress }}</span
                  > -->
                </p>
                <div class="mt-2 mb-3">
                  <!-- <p class="font-bold m-0">
                    Application Status:
                    <span [class]="'application-status'">
                      {{
                        application.continuousCertNeeded
                          ? 'Continuous Certification needed'
                          : application.status.replace('-', ' ')
                      }}
                    </span>
                  </p> -->
                  <p class="font-bold m-0">
                    Application Open:
                    <span class="font-normal">{{
                      application.appOpenDate | date : 'longDate'
                    }}</span>
                  </p>
                  <p class="font-bold m-0" *ngIf="application.appDelayDate">
                    Application Delayed Open:
                    <span class="font-normal">{{
                      application.appDelayDate | date : 'longDate'
                    }}</span>
                  </p>
                  <p class="font-bold m-0">
                    Application Late:
                    <span class="font-normal">{{
                      application.appLateDate | date : 'longDate'
                    }}</span>
                  </p>
                  <p class="font-bold m-0">
                    Deadline:
                    <span class="font-normal">{{
                      application.appCloseDate | date : 'longDate'
                    }}</span>
                  </p>
                </div>
                <a
                  class="btn-link"
                  [routerLink]="
                    '/apply-and-resgister/registration-requirements/' +
                    application.examId
                  "
                  *ngIf="application.registrationOpen === 1"
                >
                  Go to your Registration Requirements
                  <i class="fa-solid fa-arrow-right ml-2"></i>
                </a>
              </sl-card>
            </div>
          </div>
        </div>
        <hr class="mt-5" />
        <div class="col-12">
          <h5>Upcoming Exams</h5>
          <abs-grid
            [columns]="directoryColumns"
            [data]="examDirectory$"
          ></abs-grid>
        </div>
      </sl-card>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading exam applications...</p>
  </div>
</ng-template>
