<header>
  <h1>Apply & Register</h1>
</header>
<!-- <abs-alert alertType="info"
  >Applications for FPD in Metabolic Bariatric Surgery are delayed. An update
  will be posted here by mid-February.
</abs-alert> -->
<ng-container>
  <section class="mt-5">
    <div class="grid">
      <sl-card class="col-12">
        <!-- <h5 class="mt-0 mb-2" panel-header>Current Eligible Exams</h5>
        <hr /> -->
        <p class="mt-0">
          ABS exam applications and registrations for which you are eligible and
          are currently open appear on this page.
        </p>
        <div class="mt-2 grid">
          <div
            [ngClass]="{
              'col-12': true,
              'application-container': true,
              'available-applications': qeExamEligibility$ | async
            }"
          >
            <p class="text-lg font-bold m-0">
              {{
                ((qeExamEligibility$ | async) ?? []).length > 0
                  ? 'Active Examinations & Applications'
                  : 'No applications are currently available, check back later.'
              }}
            </p>
            <div class="mt-2 grid" *ngIf="qeExamEligibility$ | async">
              <sl-card
                class="col-12 md:col-6 application-card"
                *ngFor="let application of qeExamEligibility$ | async"
              >
                <p
                  class="font-bold mt-0 flex justify-content-between align-items-center"
                >
                  {{ application.examName }}
                  <!-- <span
                    [class]="'application-progress ' + application.status"
                    >{{ application.progress }}</span
                  > -->
                </p>
                <div class="mt-2 mb-3">
                  <!-- <p class="font-bold m-0">
                    Application Status:
                    <span [class]="'application-status'">
                      {{
                        application.continuousCertNeeded
                          ? 'Continuous Certification needed'
                          : application.status.replace('-', ' ')
                      }}
                    </span>
                  </p> -->
                  <!-- <p class="font-bold m-0">
                    Application Open:
                    <span class="font-normal">{{
                      application.appOpenDate | date : 'longDate'
                    }}</span>
                  </p> -->
                  <!-- <p class="font-bold m-0" *ngIf="application.appDelayDate">
                    Application Delayed Open:
                    <span class="font-normal">{{
                      application.appDelayDate | date : 'longDate'
                    }}</span>
                  </p> -->
                  <p class="font-bold m-0">
                    Application Deadline:
                    <span class="font-normal">{{
                      application.appCloseDate | date : 'longDate'
                    }}</span>
                  </p>
                  <p class="font-bold m-0">
                    Late Applications:
                    <span class="font-normal">{{
                      application.appLateDate | date : 'longDate'
                    }}</span>
                  </p>
                  <p class="font-bold m-0" *ngIf="application.examStartDate">
                    Exam Date:
                    <span class="font-normal">{{
                      application.examStartDate | date : 'longDate'
                    }}</span>
                  </p>
                  <p class="font-bold m-0" *ngIf="application.examStartDate">
                    <span class="font-normal">{{
                      application.userApplicationExists == 1
                      ? 'Application status will be available on 2/21'
                      : 'Application will be available on 2/21'
                    }}</span>
                  </p>
                </div>
                <a
                  class="btn-link block"
                  [routerLink]="
                    '/apply-and-register/registration-requirements/' +
                    application.examId
                  "
                  *ngIf="
                    application.applicationIsOpen &&
                    application.applicationApproved !== 1 &&
                    application.admissionCardReport !== 'ce_adm_card' &&
                    application.examCode.indexOf('GW') != -1
                  "
                >
                  {{
                    application.examRegistrationAvailable !== 1
                      ? 'Complete your Exam Application'
                      : 'Review your Exam Application'
                  }}
                  <i class="fa-solid fa-arrow-right ml-2"></i>
                </a>
                <a
                  class="btn-link block"
                  [routerLink]="
                    '/apply-and-register/exam-registration/' +
                    application.examId
                  "
                  *ngIf="
                    application.registrationOpen === 1 &&
                    application.examRegistrationAvailable === 1 &&
                    application.admissionCardReport !== 'ce_adm_card'
                  "
                >
                  Go to your Exam Registration
                  <i class="fa-solid fa-arrow-right ml-2"></i>
                </a>
                <p-button
                  styleClass="btn-link block mt-2"
                  (click)="
                    downloadAdmissionCard(
                      application.examCode,
                      application.admissionCardReport
                    )
                  "
                  *ngIf="application.admissionCardReport"
                >
                  Download your Admission Card
                  <i class="fa-solid fa-cloud-arrow-down ml-2"></i>
                </p-button>
              </sl-card>
            </div>
          </div>
        </div>
        <hr class="mt-5" />
        <div class="col-12">
          <h5>Upcoming Exams</h5>
          <abs-grid
            [columns]="directoryColumns"
            [data]="examDirectory$"
          ></abs-grid>
        </div>
      </sl-card>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading exam applications...</p>
  </div>
</ng-template>
