<div class="mb-5">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat.
  </p>
</div>
<p-button class="btn-add">
  <i slot="prefix" class="fa-solid fa-plus"></i>
  <span>Add a Record</span>
</p-button>
<abs-grid
  [columns]="graduateMedicalEducationCols"
  [data]="graduateMedicalEducationData"
>
</abs-grid>
<div class="flex justify-content-end mt-5" slot="footer">
  <p-button styleClass="p-button-link p-button-primary" (click)="close()"
    >Cancel</p-button
  >
  <p-button type="button" [style]="{ width: '337px' }" variant="primary"
    >Save
  </p-button>
</div>
