<header>
  <h1>{{ (examTitle$ | async)?.examName || 'Certifying Examation' }}</h1>
</header>
<ng-container>
  <section>
    <sl-card class="col-12">
      <div slot="header">
        <span class="text-3xl">Examination Rosters</span>
      </div>
      <div class="grid">
        <div class="col-12 lg:col-4 md:col-5">
          <h5 class="pb-3 mb-0">Table of Contents</h5>
          <div class="flex flex-column">
            <p-dropdown
              [options]="scoringSessionsList"
              [(ngModel)]="selectedRoster"
              optionLabel="examSchedule"
              placeholder="Select a roster to view..."
              (onChange)="confirmRosterSelection($event)"
            ></p-dropdown>
            <ng-container *ngIf="cases?.length > 0">
              <p-button
                *ngFor="let case of cases"
                class="mb-1"
                styleClass="p-button-secondary p-button-text py-1"
                (onClick)="confirmCaseSelection(case)"
              >
                <span
                  [ngClass]="{
                    'selected-case': selectedCaseId === case.id
                  }"
                >
                  {{ case.caseNumber }}:
                  <span *ngIf="case.description">{{ case.description }}</span>
                  <span *ngIf="!case.description"
                    >Description of case {{ case.caseNumber }}</span
                  >
                </span>
              </p-button>
            </ng-container>
            <ng-container *ngIf="!(cases?.length > 0)">
              <p class="pl-3 mt-0 font-italic text-muted">No cases available</p>
            </ng-container>
          </div>
        </div>
        <div class="col-12 lg:col-8 md:col-7 no-highlight">
          <h5 class="pb-3 case-header">
            <span *ngIf="selectedCaseDetails"
              >Case {{ selectedCaseDetails.caseNumber }}:
              <span *ngIf="selectedCaseDetails.description">{{
                selectedCaseDetails.description
              }}</span>
              <span *ngIf="!selectedCaseDetails.description"
                >Description of case {{ selectedCaseDetails.caseNumber }}</span
              >
            </span>
            <span *ngIf="!selectedCaseDetails">Case Details</span>
          </h5>
          <p
            *ngIf="!selectedCaseDetails"
            class="font-italic text-muted mt-0 pl-3"
          >
            No Case Selected
          </p>
          <div *ngIf="selectedCaseDetails" class="grid">
            <div
              class="col-12"
              *ngFor="let section of selectedCaseDetails.sections"
            >
              <p class="font-bold m-0">{{ section.heading }}</p>
              <div class="section-details" [innerHTML]="section.content"></div>

              <div *ngIf="section.comments || section.editComment">
                <label [for]="section.heading + '-comment'">Comment:</label>
                <p class="my-1" *ngIf="!section.editComment">
                  {{ section.comments }}
                </p>
                <textarea
                  [name]="section.heading + '-comment'"
                  rows="5"
                  pInputTextarea
                  [(ngModel)]="section.newComment"
                  *ngIf="section.editComment"
                ></textarea>
              </div>
              <div class="flex justify-content-start">
                <p-button
                  *ngIf="!section.editComment"
                  styleClass="p-button-success p-button-text pl-0"
                  (onClick)="toggleCommentSectionEdit(section)"
                  [disabled]="editActive"
                >
                  {{ section.comments ? 'Edit' : 'Add Comment' }}
                </p-button>
                <p-button
                  *ngIf="!section.editComment && section.comments"
                  styleClass="p-button-danger p-button-text ml-2"
                  (onClick)="deleteSectionComment(section)"
                  [disabled]="editActive"
                >
                  Delete
                </p-button>
              </div>
              <p-button
                *ngIf="section.editComment"
                type="button"
                (onClick)="saveSectionComment(section)"
                >Save Comment</p-button
              >
              <p-button
                *ngIf="section.editComment"
                styleClass="p-button-secondary p-button-text"
                type="button"
                (onClick)="toggleCommentSectionEdit(section)"
                >Cancel</p-button
              >

              <div class="w-full pt-2 mt-2 section-feedback">
                <div *ngIf="section.feedback || section.editFeedback">
                  <label [for]="section.heading + '-feedback-comment'"
                    >Case Feedback:</label
                  >
                  <p class="my-1" *ngIf="!section.editFeedback">
                    {{ section.feedback }}
                  </p>
                  <textarea
                    [name]="section.heading + '-feedback-comment'"
                    rows="5"
                    pInputTextarea
                    [(ngModel)]="section.newFeedback"
                    *ngIf="section.editFeedback"
                  ></textarea>
                </div>
                <div class="flex justify-content-start">
                  <p-button
                    *ngIf="!section.editFeedback"
                    styleClass="p-button-success p-button-text pl-0"
                    (onClick)="toggleCaseFeedbackEdit(section)"
                    [disabled]="editActive"
                  >
                    {{ section.feedback ? 'Edit' : 'Add Case Feedback' }}
                  </p-button>
                  <p-button
                    *ngIf="!section.editFeedback && section.feedback"
                    styleClass="p-button-danger p-button-text ml-2"
                    (onClick)="deleteCaseFeedback(section)"
                    [disabled]="editActive"
                  >
                    Delete
                  </p-button>
                </div>
                <p-button
                  *ngIf="section.editFeedback"
                  type="button"
                  (onClick)="saveCaseFeedback(section)"
                >
                  Save Case Feedback
                </p-button>
                <p-button
                  *ngIf="section.editFeedback"
                  styleClass="p-button-secondary p-button-text"
                  type="button"
                  (onClick)="toggleCaseFeedbackEdit(section)"
                  >Cancel</p-button
                >
              </div>
              <hr />
            </div>

            <div *ngIf="!(selectedCaseDetails.sections?.length > 0)">
              <p class="font-italic text-muted mt-0 pl-3">
                This case currently has no content
              </p>
            </div>
          </div>
        </div>
      </div>
    </sl-card>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading exam rosters...</p>
  </div>
</ng-template>
