.case-header {
  border-bottom: 1px solid var(--global-gray-light);
}

.case-details-container + .case-details-container {
  border-top: 1px solid var(--global-gray);
  padding-top: 1rem;
  margin-top: 0.5rem;
}

.case-feedback-container {
  border-top: 3px solid var(--global-gray);
  padding-top: 1rem;
  margin-top: 0.5rem;

  label {
    font-size: 1.5rem;
  }
}

p-dropdown {
  width: 100%;
  margin-bottom: 1rem;
}

.selected-case {
  color: var(--global-success);
  font-weight: 700;
}

.section-feedback {
  border-top: 1px solid var(--global-gray-light);
}

// .section-details {
//     p {
//         margin-top: .25rem;
//     }
// }
