<div>
  <p class="m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat.
  </p>
  <sl-tab-group
    [noScrollControls]="true"
    id="surgeonProfileTabs"
    (sl-tab-show)="handleDefaultShowTab($event)"
  >
    <!-- TODO: [Joe] tab__complete should be applied to tab based on form state (hopefully derived from reactive form in the ngx-store) -->
    <sl-tab slot="nav" panel="personalInformation" class="tab__complete">
      <!-- TODO: [Joe] text-success, text-warning, text-danger should be applied to icons based on form state (hopefully derived from reactive form in the ngx-store) -->
      <i class="fa-solid fa-circle-check text-success mr-2"></i>
      Personal Information
    </sl-tab>
    <sl-tab slot="nav" panel="contactInformation">
      <!-- TODO: [Joe] text-success, text-warning, text-danger should be applied to icons based on form state (hopefully derived from reactive form in the ngx-store) -->
      <i class="fa-solid fa-circle-check text-warning mr-2"></i>
      Contact Information
    </sl-tab>

    <sl-tab-panel name="personalInformation">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
        nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat,
        egestas sit amet tortor at, condimentum tempor erat.
      </p>
      <div class="grid">
        <div class="col-12">
          <label class="block" for="cid">Candidate Identification Number</label>
          <input
            id="cid"
            pInputText
            type="text"
            name="cid"
            [(ngModel)]="surgeonProfile.personalInfo.cid"
            required
          />
        </div>
        <div class="col-12">
          <label class="block" for="fullName">Full Name</label>
          <input
            id="fullName"
            pInputText
            type="text"
            name="fullName"
            [(ngModel)]="surgeonProfile.personalInfo.fullName"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="firstName">First Name</label>
          <input
            id="firstName"
            pInputText
            type="text"
            name="firstName"
            [(ngModel)]="surgeonProfile.personalInfo.firstName"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="middleName">Middle Name</label>
          <input
            id="middleName"
            pInputText
            type="text"
            name="middleName"
            [(ngModel)]="surgeonProfile.personalInfo.middleName"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="lastName">Last Name</label>
          <input
            id="lastName"
            pInputText
            type="text"
            name="lastName"
            [(ngModel)]="surgeonProfile.personalInfo.lastName"
            required
          />
        </div>
        <div class="col-12">
          <label class="block" for="certName"
            >Name as it Should Appear on Certificate</label
          >
          <input
            id="certName"
            pInputText
            type="text"
            name="certName"
            [(ngModel)]="surgeonProfile.personalInfo.certName"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="gender">Gender</label>
          <p-dropdown
            inputId="gender"
            name="gender"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.personalInfo.gender"
            placeholder="Select a Gender"
            optionLabel="itemDescription"
            optionValue="itemValue"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="race">Race</label>
          <p-dropdown
            inputId="race"
            name="race"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.personalInfo.race"
            placeholder="Select a Race"
            optionLabel="itemDescription"
            optionValue="itemValue"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="ethnicity">Ethnicity</label>
          <p-dropdown
            inputId="ethnicity"
            name="ethnicity"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.personalInfo.ethnicity"
            placeholder="Select a Ethnicity"
            optionLabel="itemDescription"
            optionValue="itemValue"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-6">
          <label class="block" for="firstLanguage"
            >What Language Did You Learn to Speak First?</label
          >
          <p-dropdown
            inputId="firstLanguage"
            name="firstLanguage"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.personalInfo.firstLanguage"
            placeholder="Select a First Language"
            optionLabel="itemDescription"
            optionValue="itemValue"
            [required]="true"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-6">
          <label class="block" for="bestLanguage"
            >What Language Do You Speak Best?</label
          >
          <p-dropdown
            inputId="bestLanguage"
            name="bestLanguage"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.personalInfo.bestLanguage"
            placeholder="Select a Best Language"
            optionLabel="itemDescription"
            optionValue="itemValue"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
    </sl-tab-panel>
    <sl-tab-panel name="contactInformation">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
        nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat,
        egestas sit amet tortor at, condimentum tempor erat.
      </p>
      <div class="grid">
        <div class="col-12 md:col-8">
          <label class="block" for="street1">Street Address</label>
          <input
            id="street1"
            pInputText
            type="text"
            name="street1"
            [(ngModel)]="surgeonProfile.contactInfo.address"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="street2">Address Line 2</label>
          <input
            id="street2"
            pInputText
            type="text"
            name="street2"
            [(ngModel)]="surgeonProfile.contactInfo.address2"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="city">City</label>
          <input
            id="city"
            pInputText
            type="text"
            name="city"
            [(ngModel)]="surgeonProfile.contactInfo.city"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="state">State / Province / Territory</label>
          <p-dropdown
            inputId="state"
            name="state"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.contactInfo.state"
            placeholder="Select a State"
            optionLabel="itemDescription"
            optionValue="itemValue"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="zip">Zip</label>
          <input
            id="zip"
            pInputText
            type="text"
            name="zip"
            [(ngModel)]="surgeonProfile.contactInfo.zip"
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="country">Country</label>
          <p-dropdown
            inputId="country"
            name="country"
            [options]="fakeOptions"
            [(ngModel)]="surgeonProfile.contactInfo.country"
            placeholder="Select a State"
            optionLabel="itemDescription"
            optionValue="itemValue"
            appendTo="body"
          ></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="officePhoneNumber"
            >Daytime Phone Number</label
          >
          <!-- NOTE: p-inputMask is apparently broken using ngModel, but works file (on profile page) using reactive forms -->
          <p-inputMask
            inputId="officePhoneNumber"
            mask="(999) 999-9999"
            name="officePhoneNumber"
            [(ngModel)]="surgeonProfile.contactInfo.phone"
            placeholder="(999) 999-9999"
          ></p-inputMask>
        </div>
        <div class="col-12 md:col-4">
          <label class="block" for="mobilePhoneNumber"
            >Mobile Phone Number</label
          >
          <p-inputMask
            inputId="mobilePhoneNumber"
            mask="(999) 999-9999"
            name="mobilePhoneNumber"
            [(ngModel)]="surgeonProfile.contactInfo.mobile"
            placeholder="(999) 999-9999"
            [unmask]="true"
          ></p-inputMask>
        </div>
        <div class="col-12 md:col-6">
          <label class="block" for="faxNumber">Fax Number</label>
          <p-inputMask
            inputId="faxNumber"
            mask="(999) 999-9999"
            name="faxNumber"
            [(ngModel)]="surgeonProfile.contactInfo.fax"
            placeholder="(999) 999-9999"
          ></p-inputMask>
        </div>
        <div class="col-12 md:col-6">
          <label class="block" for="emailAddress">Email Address</label>
          <input
            id="emailAddress"
            pInputText
            type="email"
            name="emailAddress"
            [(ngModel)]="surgeonProfile.contactInfo.email"
            required
          />
        </div>
        <div class="col-12 md:col-6">
          <label class="block" for="npid">National Provider ID</label>
          <input
            id="npid"
            pInputText
            type="text"
            name="npid"
            [(ngModel)]="surgeonProfile.contactInfo.npid"
            readonly
          />
        </div>
      </div>
    </sl-tab-panel>
  </sl-tab-group>
</div>
<div class="flex justify-content-end" slot="footer">
  <p-button styleClass="p-button-link p-button-primary" (click)="close()"
    >Cancel</p-button
  >
  <p-button
    type="button"
    [style]="{ width: '337px' }"
    variant="primary"
    (click)="save()"
    >Save
  </p-button>
</div>
