<h1>Payment History</h1>
<sl-card class="w-full">
  <div slot="header">Invoices and Payments Received</div>

  <div class="mb-3">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
      nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas
      sit amet tortor at, condimentum tempor erat.
    </p>
  </div>

  <abs-grid [columns]="paymentHistoryCols" [data]="paymentHistoryData">
    <div class="pb-5 pl-5 pr-5">
      <abs-alert alertType="info" [hideIcon]="true">
        <div class="div flex justify-content-end footer">
          <strong>Total Unpaid balance</strong> as of
          {{ paymentFooterData.date | date : 'shortDate' }}:
          <div class="amount">
            {{ paymentFooterData.amount }}
          </div>
        </div>
      </abs-alert>
    </div>
  </abs-grid>

  <div class="flex justify-content-end mt-3">
    <p-button type="primary" (click)="handlePaymentClick()"
      >Make a Payment</p-button
    >
  </div>
</sl-card>
