<h1>Payment History</h1>
<sl-card class="w-full">
  <div slot="header">Invoices and Payments Received</div>

  <div class="mb-3">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
      nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas
      sit amet tortor at, condimentum tempor erat.
    </p>
  </div>

  <abs-grid
    [columns]="paymentHistoryCols"
    [data]="paymentHistoryData"
    (action)="handlePaymentClick($event)"
  >
    <div class="pt-5">
      <abs-alert alertType="info" [hideIcon]="true">
        <div class="div flex justify-content-end footer">
          <strong>Total Unpaid balance</strong> as of
          {{ paymentFooterData.date | date : 'shortDate' }}:
          <div class="amount">
            {{ paymentFooterData.amount | currency : 'USD' : true : '1.2-2' }}
          </div>
        </div>
      </abs-alert>
    </div>
  </abs-grid>
</sl-card>

<!-- Pay Fee -->
<abs-modal
  [open]="payFeeModal"
  (closeDialog)="handleClosePayFee()"
  title="Pay Fee"
  modalName="payFeeModal"
>
  <abs-pay-fee
    (cancelAction)="handleClosePayFee()"
    [showGrid]="false"
    [amount$]="amount$"
    [invoiceNumber$]="invoiceNumber$"
  >
    Please insure that your payment information is accurate
  </abs-pay-fee>
</abs-modal>
