<header>
  <h1>{{ 'PROFILE.TITLE' | translate }}</h1>
</header>
<ng-container *ngIf="user">
  <section>
    <div class="grid">
      <div class="col-12 flex">
        <abs-profile-header></abs-profile-header>
      </div>
    </div>
  </section>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <p>{{ 'PROFILE.SUBTITLE' | translate }}</p>
        <div class="mb-3">
          <abs-form-errors
            *ngIf="errors$ | async as error"
            [errors]="error"
            [clearErrors]="clearErrors"
          ></abs-form-errors>
        </div>
        <form
          name="personProfileForm"
          [formGroup]="userProfileForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-section">
            <h5 class="form-section__title">Name</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 sm:col-8 md:col-4">
                <label>First Name</label>
                <div>{{ user.firstName === '' ? 'n/a' : user.firstName }}</div>
              </div>
              <div class="col-12 sm:col-4 md:col-2">
                <label>Middle Name</label>
                <div>{{ user.middleName === '' ? '-' : user.middleName }}</div>
              </div>
              <div class="col-12 sm:col-8 md:col-4">
                <label>Last Name</label>
                <div>{{ user.lastName === '' ? '-' : user.lastName }}</div>
                <small class="form-helper-text text-muted"
                  >Please contact ABS if your Last Name is incorrect.</small
                >
              </div>
              <div class="col-12 sm:col-4 md:col-2">
                <label>Suffix</label>
                <div>{{ user.suffix === '' ? '-' : user.suffix }}</div>
              </div>
              <div class="col-12">
                <label
                  >Name as it should appear on your printed certificate</label
                >
                <div>
                  {{ user.displayName === '' ? '-' : user.displayName }}
                </div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-12 sm:col-8 md:col-4">
                <label class="block" for="firstName">First Name *</label>
                <input
                  id="firstName"
                  pInputText
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="col-12 sm:col-4 md:col-2">
                <label class="block" for="middleName">Middle Name</label>
                <input
                  id="middleName"
                  pInputText
                  type="text"
                  formControlName="middleName"
                />
              </div>
              <div class="col-12 sm:col-8 md:col-4">
                <label class="block" for="lastName">Last Name</label>
                <input
                  id="lastName"
                  pInputText
                  type="text"
                  formControlName="lastName"
                  readonly
                />
                <small class="form-helper-text text-muted"
                  >Please contact ABS if your Last Name is incorrect.</small
                >
              </div>
              <div class="col-12 sm:col-4 md:col-2">
                <label class="block" for="suffix">Suffix</label>
                <input
                  id="suffix"
                  pInputText
                  type="text"
                  formControlName="suffix"
                />
              </div>
              <div class="col-12">
                <label class="block" for="displayName"
                  >Name as it should appear on your printed certificate *</label
                >
                <input pInputText type="text" formControlName="displayName" />
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Mailing Address</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-9">
                <label>Street Address</label>
                <div>{{ user.street1 === '' ? '-' : user.street1 }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Apt</label>
                <div>{{ user.street2 === '' ? '-' : user.street2 }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Country</label>
                <div>
                  {{ user.countryDisplay === '' ? '-' : user.countryDisplay }}
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label>City</label>
                <div>{{ user.city === '' ? '-' : user.city }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>State / Province</label>
                <div>{{ user.state === '' ? '-' : user.state }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Zipcode</label>
                <div>{{ user.zipCode === '' ? '-' : user.zipCode }}</div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-12 md:col-9 flex flex-column gap-1">
                <label class="block" for="street1">Street Address *</label>
                <input
                  id="street1"
                  pInputText
                  type="text"
                  formControlName="street1"
                />
                <small id="street1Help" class="form-helper-text text-muted"
                  >Address Line 1</small
                >
              </div>
              <div class="col-12 md:col-3 flex flex-column gap-1">
                <label class="block" for="street2">&nbsp;</label>
                <input
                  id="street2"
                  pInputText
                  type="text"
                  formControlName="street2"
                />
                <small id="street2Help" class="form-helper-text text-muted"
                  >Address Line 2</small
                >
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="country">Country *</label>
                <p-dropdown
                  inputId="country"
                  *ngIf="countries$ | async as countries"
                  [options]="countries"
                  formControlName="country"
                  placeholder="Select a Country"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="city">City *</label>
                <input
                  id="city"
                  pInputText
                  type="text"
                  formControlName="city"
                />
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="state">State / Province </label>
                <p-dropdown
                  inputId="state"
                  [options]="mailingStates"
                  formControlName="state"
                  placeholder="Select a State"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="zipCode">Zipcode *</label>
                <input
                  id="zipCode"
                  pInputText
                  type="text"
                  formControlName="zipCode"
                />
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Contact Information</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-6">
                <label>Email Address</label>
                <div>
                  {{ user.emailAddress === '' ? '-' : user.emailAddress }}
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Primary Phone Number</label>
                <div>
                  {{
                    user.officePhoneNumber === ''
                      ? '-'
                      : user.officePhoneNumber
                      ? user.officePhoneNumber
                      : ('' | mask : '(000) 000-0000')
                  }}
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Alternative Phone Number</label>
                <div>
                  {{
                    user.mobilePhoneNumber === ''
                      ? '-'
                      : user.mobilePhoneNumber
                      ? user.mobilePhoneNumber
                      : ('' | mask : '(000) 000-0000')
                  }}
                </div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-12 md:col-6 flex flex-column gap-1">
                <label class="block" for="emailAddress">Email Address</label>
                <input
                  id="emailAddress"
                  pInputText
                  type="text"
                  formControlName="emailAddress"
                  [disabled]="true"
                  readonly
                />
                <small id="emailAddressHelp" class="form-helper-text text-muted"
                  >Go to your My Account page to change your email</small
                >
              </div>
              <div class="col-12 md:col-6">
                <label class="block" for="officePhoneNumber"
                  >Primary Phone Number *</label
                >
                <p-inputMask
                  inputId="officePhoneNumber"
                  mask="(999) 999-9999"
                  formControlName="officePhoneNumber"
                  placeholder="(999) 999-9999"
                ></p-inputMask>
              </div>
              <div class="col-12 md:col-6">
                <label class="block" for="mobilePhoneNumber"
                  >Alternative Phone Number</label
                >
                <p-inputMask
                  inputId="mobilePhoneNumber"
                  mask="(999) 999-9999"
                  formControlName="mobilePhoneNumber"
                  placeholder="(999) 999-9999"
                ></p-inputMask>
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Citizenship Information</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-6">
                <label>Country of Birth</label>
                <div>
                  {{
                    user.birthCountryDisplay === ''
                      ? '-'
                      : user.birthCountryDisplay
                  }}
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Town or City of Birth</label>
                <div>{{ user.birthCity === '' ? '-' : user.birthCity }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>State, Province, or Territory of Birth</label>
                <div>{{ user.birthState === '' ? '-' : user.birthState }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>Country of Citizenship</label>
                <div>
                  {{
                    user.citizenshipCountryDisplay === ''
                      ? '-'
                      : user.citizenshipCountryDisplay
                  }}
                </div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-12 md:col-6">
                <label class="block" for="birthCountry"
                  >Country of Birth *</label
                >
                <p-dropdown
                  inputId="birthCountry"
                  *ngIf="countries$ | async as countries"
                  [options]="countries"
                  formControlName="birthCountry"
                  placeholder="Select a Birth Country"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-6">
                <label class="block" for="birthCity"
                  >Town or City of Birth *</label
                >
                <input
                  id="birthCity"
                  pInputText
                  type="text"
                  formControlName="birthCity"
                />
              </div>
              <div class="col-12 md:col-6">
                <label class="block" for="birthState"
                  >State, Province, or Territory of Birth</label
                >
                <p-dropdown
                  inputId="birthState"
                  [options]="birthStates"
                  formControlName="birthState"
                  placeholder="Select a Birth State"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>

              <div class="col-12 md:col-6">
                <label class="block" for="countryCitizenship"
                  >Country of Citizenship *</label
                >
                <p-dropdown
                  inputId="countryCitizenship"
                  *ngIf="countries$ | async as countries"
                  [options]="countries"
                  formControlName="countryCitizenship"
                  placeholder="Select a Citizenship Country"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Demographic Information</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-6">
                <label>ABS ID</label>
                <div>{{ user.absId === '' ? '-' : user.absId }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>National Provider Identification</label>
                <div>{{ user.npi === '' ? '-' : user.npi }}</div>
                <small class="form-helper-text text-muted"
                  >Please contact ABS if your NPI is incorrect.</small
                >
              </div>
              <div class="col-12 md:col-3">
                <label>Gender</label>
                <div>{{ user.gender === '' ? '-' : user.gender }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Date of Birth</label>
                <div>
                  {{
                    user.birthDate === ''
                      ? '-'
                      : (user.birthDate | date : 'shortDate')
                  }}
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label>Race</label>
                <div>
                  {{ user.raceDisplay === '' ? '-' : user.raceDisplay }}
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label>Ethnicity</label>
                <div>
                  {{
                    user.ethnicityDisplay === '' ? '-' : user.ethnicityDisplay
                  }}
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label>First Language</label>
                <div>
                  {{ user.firstLanguage === '' ? '-' : user.firstLanguage }}
                </div>
              </div>
              <div class="col-12 md:col-3">
                <label>Best Language</label>
                <div>
                  {{ user.bestLanguage === '' ? '-' : user.bestLanguage }}
                </div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-12 md:col-6">
                <label class="block" for="absId">ABS ID</label>
                <input
                  id="absId"
                  pInputText
                  type="text"
                  formControlName="absId"
                  readonly
                />
              </div>
              <div class="col-12 md:col-6">
                <label class="block" for="npi"
                  >National Provider Identification</label
                >
                <input
                  id="npi"
                  pInputText
                  type="text"
                  formControlName="npi"
                  readonly
                />
                <small class="form-helper-text text-muted"
                  >Please contact ABS if your NPI is incorrect.</small
                >
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="gender">Gender</label>
                <p-dropdown
                  inputId="gender"
                  *ngIf="genders$ | async as genders"
                  [options]="genders"
                  formControlName="genderId"
                  placeholder="Select a Gender"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="birthDate">Date of Birth *</label>
                <p-calendar
                  id="birthDate"
                  [showIcon]="true"
                  placeholder="DD/MM/YYYY"
                  formControlName="birthDate"
                  appendTo="body"
                ></p-calendar>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="race">Race *</label>
                <p-dropdown
                  inputId="race"
                  *ngIf="races$ | async as races"
                  [options]="races"
                  formControlName="race"
                  placeholder="Select a Race"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="ethnicity">Ethnicity *</label>
                <p-dropdown
                  inputId="ethnicity"
                  *ngIf="ethnicities$ | async as ethnicities"
                  [options]="ethnicities"
                  formControlName="ethnicity"
                  placeholder="Select an Ethnicity"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="firstLanguageId"
                  >First Language *</label
                >
                <p-dropdown
                  inputId="firstLanguageId"
                  *ngIf="languages$ | async as languages"
                  [options]="languages"
                  formControlName="firstLanguageId"
                  placeholder="Select a First Language"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-3">
                <label class="block" for="bestLanguageId"
                  >Best Language *</label
                >
                <p-dropdown
                  inputId="bestLanguageId"
                  *ngIf="languages$ | async as languages"
                  [options]="languages"
                  formControlName="bestLanguageId"
                  placeholder="Select a Best Language"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="form-section" *ngIf="isEdit">
            <div class="grid">
              <div
                class="col-12 text-center flex justify-content-center align-items-center gap-2"
              >
                <p-checkbox
                  inputId="userConfirmed"
                  name="userConfirmed"
                  formControlName="userConfirmed"
                  [binary]="true"
                ></p-checkbox>
                <label for="userConfirmed"
                  >I confirm the above information is completed and correct to
                  the best of my knowledge</label
                >
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="canEditProfile">
            <div class="flex justify-content-end" *ngIf="!isEdit">
              <p-button [style]="{ width: '200px' }" (onClick)="toggleEdit()">
                Edit
              </p-button>
            </div>
            <div class="flex justify-content-end" *ngIf="isEdit">
              <p-button
                variant="text"
                (onClick)="toggleEdit()"
                styleClass="p-button-link p-button-primary"
                >Cancel</p-button
              >
              <p-button
                type="submit"
                [style]="{ width: '337px' }"
                [disabled]="userProfileForm.invalid"
              >
                Save
              </p-button>
            </div>
          </div>
        </form>
      </sl-card>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading personal profile...</p>
  </div>
</ng-template>
