<header>
  <h1>Personal Profile</h1>
</header>
<ng-container *ngIf="user$ | async as user">
  <section>
    <div class="grid">
      <div class="col-12 flex">
        <abs-profile-header
          [profilePicture]="user.profilePicture"
        ></abs-profile-header>
      </div>
    </div>
  </section>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <form
          name="personProfileForm"
          [formGroup]="userProfileForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-section">
            <h5 class="form-section__title">Name</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 sm:col-8 md:col-4">
                <label>First Name</label>
                <div>{{ user.firstName }}</div>
              </div>
              <div class="col-12 sm:col-4 md:col-2">
                <label>M. I.</label>
                <div>{{ user.middleName }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>Last Name</label>
                <div>{{ user.lastName }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>Last Name</label>
                <div>{{ user.suffix }}</div>
              </div>
              <div class="col-12">
                <label
                  >Name as it should appear on your printed certificate</label
                >
                <div>{{ user.displayName }}</div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <sl-input
                class="col-12 sm:col-8 md:col-3"
                label="First Name"
                formControlName="firstName"
                ngDefaultControl
              ></sl-input>
              <sl-input
                class="col-12 sm:col-4 md:col-3"
                label="M. I."
                formControlName="middleName"
                maxlength="1"
                ngDefaultControl
              ></sl-input>
              <sl-input
                class="col-12 md:col-3"
                label="Last Name"
                formControlName="lastName"
                ngDefaultControl
              ></sl-input>
              <sl-input
                class="col-12 md:col-3"
                label="Suffix"
                formControlName="suffix"
                ngDefaultControl
              ></sl-input>
              <sl-input
                class="col-12"
                label="Name as it should appear on your printed certificate"
                formControlName="displayName"
                ngDefaultControl
              ></sl-input>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Mailing Address</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-9">
                <label>Street Address</label>
                <div>{{ user.street1 }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Apt</label>
                <div>{{ user.street2 }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>City</label>
                <div>{{ user.city }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>State / Province</label>
                <div>{{ user?.state }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Zipcode</label>
                <div>{{ user.zipCode }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Country</label>
                <div>{{ user?.country }}</div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <sl-input
                class="col-12 md:col-9"
                label="Street Address"
                formControlName="street1"
                help-text="Address Line 1"
                ngDefaultControl
              ></sl-input>
              <sl-input
                class="col-12 md:col-3"
                label="&nbsp;"
                formControlName="street2"
                help-text="Address Line 2"
                ngDefaultControl
              ></sl-input>
              <sl-input
                class="col-12 md:col-3"
                label="City"
                formControlName="city"
                ngDefaultControl
              ></sl-input>
              <abs-input-select
                class="col-12 md:col-3"
                label="State / Province"
                formControlName="state"
                *ngIf="mailingStates$ | async as states"
                [disabled]="!states.length"
                ngDefaultControl
              >
                <sl-option
                  *ngFor="let state of states; index as i; trackBy: trackByFn"
                  [value]="state.itemValue"
                  >{{ state.itemDescription }}</sl-option
                >
              </abs-input-select>
              <sl-input
                class="col-12 md:col-3"
                label="Zipcode"
                formControlName="zipCode"
                ngDefaultControl
              ></sl-input>
              <abs-input-select
                class="col-12 md:col-3"
                label="Country"
                formControlName="country"
                *ngIf="countries$ | async as countries"
                ngDefaultControl
              >
                <sl-option
                  *ngFor="
                    let country of countries;
                    index as i;
                    trackBy: trackByFn
                  "
                  [value]="country.itemValue"
                  >{{ country.itemDescription }}</sl-option
                >
              </abs-input-select>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Contact Information</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-6">
                <label>Email Address</label>
                <div>{{ user.emailAddress }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>Daytime Phone Number</label>
                <div>
                  {{
                    user.officePhoneNumber
                      ? user.officePhoneNumber
                      : ('' | mask : '(000) 000-0000')
                  }}
                </div>
              </div>
              <div class="col-12 md:col-6">
                <label>Mobile Phone Number</label>
                <div>
                  {{
                    user?.mobilePhoneNumber
                      ? user?.mobilePhoneNumber
                      : ('' | mask : '(000) 000-0000')
                  }}
                </div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <sl-input
                inputmode="email"
                class="col-12 md:col-6"
                formControlName="emailAddress"
                label="Email Address"
                ngDefaultControl
                help-text="Go to your My Account page to change your email"
                readonly
              ></sl-input>
              <sl-input
                type="phone"
                inputmode="tel"
                class="col-12 md:col-6"
                formControlName="officePhoneNumber"
                label="Daytime Phone Number"
                mask="(000) 000-0000"
                ngDefaultControl
              ></sl-input>
              <sl-input
                type="phone"
                inputmode="tel"
                class="col-12 md:col-6"
                formControlName="mobilePhoneNumber"
                label="Mobile Phone Number"
                ngDefaultControl
                mask="(000) 000-0000"
              ></sl-input>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Citizenship Information</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-6">
                <label>Town or City of Birth</label>
                <div>{{ user.birthCity }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>State, Province, or Territory of Birth</label>
                <div>{{ user?.birthState }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>Country of Birth</label>
                <div>{{ user?.birthCountry }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>Country of Citizenship</label>
                <div>{{ user?.countryCitizenship }}</div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <sl-input
                class="col-12 md:col-6"
                formControlName="birthCity"
                label="Town or City of Birth"
                ngDefaultControl
              ></sl-input>
              <abs-input-select
                class="col-12 md:col-6"
                name="stateOfBirth"
                ngDefaultControl
                formControlName="birthState"
                label="State, Province, or Territory of Birth"
                *ngIf="birthStates$ | async as states"
              >
                <sl-option
                  *ngFor="let state of states; index as i; trackBy: trackByFn"
                  [value]="state.itemValue"
                  >{{ state.itemDescription }}</sl-option
                >
              </abs-input-select>
              <abs-input-select
                class="col-12 md:col-6"
                name="countryOfBirth"
                formControlName="birthCountry"
                label="Country of Birth"
                ngDefaultControl
                *ngIf="countries$ | async as countries"
              >
                <sl-option
                  *ngFor="
                    let country of countries;
                    index as i;
                    trackBy: trackByFn
                  "
                  [value]="country.itemValue"
                >
                  {{ country.itemDescription }}</sl-option
                >
              </abs-input-select>
              <abs-input-select
                class="col-12 md:col-6"
                name="countryOfCitizenship"
                formControlName="countryCitizenship"
                label="Country of Citizenship"
                ngDefaultControl
                *ngIf="countries$ | async as countries"
              >
                <sl-option
                  *ngFor="
                    let country of countries;
                    index as i;
                    trackBy: trackByFn
                  "
                  [value]="country.itemValue"
                >
                  {{ country.itemDescription }}</sl-option
                >
              </abs-input-select>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Demographic Information</h5>
            <hr />
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12 md:col-6">
                <label>ABS ID</label>
                <div>{{ user.absId }}</div>
              </div>
              <div class="col-12 md:col-6">
                <label>National Provider Identification</label>
                <div>{{ user.nPI }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Gender</label>
                <div>{{ user?.genderId }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Date of Birth</label>
                <div>{{ user.birthDate }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Race</label>
                <div>{{ user?.race }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Ethnicity</label>
                <div>{{ user?.ethnicity }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>First Language</label>
                <div>{{ user?.firstLanguageId }}</div>
              </div>
              <div class="col-12 md:col-3">
                <label>Best Language</label>
                <div>{{ user?.bestLanguageId }}</div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <sl-input
                class="col-12 md:col-6"
                formControlName="absId"
                label="ABS ID"
                ngDefaultControl
                readonly
              ></sl-input>
              <sl-input
                class="col-12 md:col-6"
                formControlName="nPI"
                label="National Provider Identification"
                ngDefaultControl
                readonly
              ></sl-input>
              <abs-input-select
                class="col-12 md:col-3"
                formControlName="genderId"
                *ngIf="genders$ | async as genders"
                label="Gender"
              >
                <sl-option
                  *ngFor="let gender of genders; index as i; trackBy: trackByFn"
                  [value]="gender.itemValue"
                >
                  {{ gender.itemDescription }}</sl-option
                >
              </abs-input-select>
              <sl-input
                type="date"
                class="col-12 md:col-3"
                formControlName="birthDate"
                label="Date of Birth"
                ngDefaultControl
              ></sl-input>
              <abs-input-select
                class="col-12 md:col-3"
                name="race"
                ngDefaultControl
                formControlName="race"
                label="Race"
                *ngIf="races$ | async as races"
              >
                <sl-option
                  *ngFor="let race of races; index as i; trackBy: trackByFn"
                  [value]="race.itemValue"
                  >{{ race.itemDescription }}</sl-option
                >
              </abs-input-select>
              <abs-input-select
                class="col-12 md:col-3"
                name="ethnicity"
                ngDefaultControl
                formControlName="ethnicity"
                label="Ethnicity"
                *ngIf="ethnicities$ | async as ethnicities"
              >
                <sl-option
                  *ngFor="
                    let ethnicity of ethnicities;
                    index as i;
                    trackBy: trackByFn
                  "
                  [value]="ethnicity.itemValue"
                  >{{ ethnicity.itemDescription }}</sl-option
                >
              </abs-input-select>
              <abs-input-select
                class="col-12 md:col-3"
                name="firstLanguage"
                ngDefaultControl
                formControlName="firstLanguageId"
                label="First Language"
                *ngIf="languages$ | async as languages"
              >
                <sl-option
                  *ngFor="
                    let language of languages;
                    index as i;
                    trackBy: trackByFn
                  "
                  [value]="language.itemValue + ''"
                  >{{ language.itemDescription }}</sl-option
                >
              </abs-input-select>
              <abs-input-select
                class="col-12 md:col-3"
                name="bestLanguage"
                ngDefaultControl
                formControlName="bestLanguageId"
                label="Best Language"
                *ngIf="languages$ | async as languages"
              >
                <sl-option
                  *ngFor="
                    let language of languages;
                    index as i;
                    trackBy: trackByFn
                  "
                  [value]="language.itemValue + ''"
                  >{{ language.itemDescription }}</sl-option
                >
              </abs-input-select>
            </div>
          </div>

          <div class="form-section" *ngIf="isEdit">
            <div class="grid">
              <div class="col-12 text-center">
                <abs-input-checkbox
                  class="col-12"
                  formControlName="userConfirmed"
                  ngDefaultControl
                  form="userProfileForm"
                >
                  I confirm the above information is completed and correct to
                  the best of my knowledge
                </abs-input-checkbox>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="flex justify-content-end" *ngIf="!isEdit">
              <sl-button
                variant="primary"
                style="width: 200px"
                (click)="isEdit = true"
                >Edit</sl-button
              >
            </div>
            <div class="flex justify-content-end" *ngIf="isEdit">
              <sl-button variant="text" (click)="isEdit = false"
                >Cancel</sl-button
              >
              <sl-button
                type="submit"
                style="width: 337px"
                variant="primary"
                [disabled]="userProfileForm.invalid"
                >Save</sl-button
              >
            </div>
          </div>
        </form>
      </sl-card>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading personal profile...</p>
  </div>
</ng-template>

<abs-success-fail-modal
  [isSuccess]="call?.isSuccess"
  [title]="call?.title"
  [message]="call?.message"
  [showDialog]="call?.showDialog"
  (closeDialog)="toggleDialog($event)"
></abs-success-fail-modal>
