<ng-container *ngIf="clearErrors && errors$ | async as error">
  <div class="mb-3">
    <abs-form-errors
      *ngIf="errors$ | async as error"
      [errors]="error"
      [clearErrors]="clearErrors"
    ></abs-form-errors>
  </div>
</ng-container>
<form
  name="personProfileForm"
  [formGroup]="otherCertificatesForm"
  (ngSubmit)="save()"
>
  <div class="grid">
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="trainingType">Certification *</label>
      <p-dropdown
        [options]="certificateTypes"
        [showClear]="true"
        [required]="true"
        appendTo="body"
        optionLabel="name"
        optionValue="id"
        formControlName="certificateTypeId"
        placeholder="Choose a Certification"
      ></p-dropdown>
    </div>
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="other">Certification Number *</label>
      <input
        [required]="true"
        pInputText
        type="number"
        placeholder="Enter a Certificate Number"
        formControlName="certificateNumber"
      />
    </div>
    <div class="flex flex-column gap-2 col-12">
      <label htmlFor="other">Issue Date *</label>
      <p-calendar
        [required]="true"
        [showIcon]="true"
        formControlName="issueDate"
        placeholder="MM/DD/YYYY"
        appendTo="body"
      ></p-calendar>
      <small
        *ngIf="
          otherCertificatesForm.get('issueDate')?.errors &&
          otherCertificatesForm.get('issueDate')?.dirty
        "
        id="trainingType-help"
        class="form-error-text"
      >
        This is required
      </small>
    </div>
  </div>
  <div class="flex justify-content-end mt-4" slot="footer">
    <p-button styleClass="p-button-link p-button-primary" (click)="cancel()"
      >Cancel</p-button
    >
    <p-button
      type="submit"
      [style]="{ width: '337px' }"
      variant="primary"
      [disabled]="otherCertificatesForm.invalid || !otherCertificatesForm.dirty"
      >Save
    </p-button>
  </div>
</form>
