<div class="app-container text-center">
  <div class="login-container">
    <div class="flex flex-column align-items-center content">
      <h2 class="my-3">Create a New Password</h2>
      Your new password must be different than previously used passwords.
      <div class="text-left mt-5 form-container">
        <form
          name="login-form"
          [formGroup]="passwordResetForm"
          (ngSubmit)="onSubmit()"
        >
          <p-password
            styleClass="mt-2"
            id="newPassword"
            [placeholder]="'Enter New Password'"
            formControlName="newPassword"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>
          <small>
            Passwords must be a minimum length of 8 characters, at least one uppercase letter, one lowercase letter, one digit, and one special character.
          </small>
          <small
            *ngIf="
              passwordResetForm.get('newPassword')?.hasError('required') &&
              !passwordResetForm.pristine
            "
            class="form-error-text"
            >New password is required</small
          >
          <small
            *ngIf="
              passwordResetForm
                .get('newPassword')
                ?.hasError('validatePassword') &&
              !passwordResetForm.get('newPassword')?.hasError('required') &&
              !passwordResetForm.pristine &&
              passwordResetForm.get('newPassword')?.dirty
            "
            class="form-error-text"
            >Password does not meet security requirements</small
          >
          <p-password
            styleClass="mt-4"
            id="confirmPassword"
            [placeholder]="'Confirm New Password'"
            formControlName="confirmPassword"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>
          <small
            *ngIf="
              passwordResetForm.get('confirmPassword')?.hasError('required') &&
              !passwordResetForm.pristine &&
              passwordResetForm.get('confirmPassword')?.dirty
            "
            class="form-error-text"
            >Confirm password is required</small
          >
          <small
            *ngIf="
              passwordResetForm?.hasError('matchFields') &&
              passwordResetForm.get('newPassword')?.dirty &&
              passwordResetForm.get('confirmPassword')?.dirty &&
              !passwordResetForm.pristine
            "
            class="form-error-text"
            >Password fields must match.</small
          >

          <p-button
            styleClass="p-button-primary mt-4"
            class="login-button"
            type="submit"
            [disabled]="passwordResetForm.invalid"
          >
            <span class="mr-2 font-bold">Reset Password</span>
            <i class="fas fa-spinner fa-pulse" *ngIf="isBusy"></i>
          </p-button>
          <p-button
            styleClass="p-button-primary mt-2"
            class="login-button"
            (onClick)="navigateToLogin()"
          >
            <span class="mr-2 font-bold">Back to Login</span>
            <i class="fas fa-spinner fa-pulse" *ngIf="isBusy"></i>
          </p-button>
        </form>
      </div>
    </div>
  </div>
</div>
