<div class="flex align-items-end flex-wrap col-12 margin-bottom-2">
  <div>
    <h1>General Surgery Qualifying Examination</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eros arcu,
    mattis ut urna id, convallis eleifend purus. Phasellus sodales condimentum
    orci, id malesuada ante faucibus eu.
  </div>
  <div class="legend flex justify-content-end flex-wrap">
    <div class="l flex align-items-center completed">
      <div class="i"></div>
      Completed
    </div>
    <div class="l flex align-items-center in-progress">
      <div class="i"></div>
      In Progress
    </div>
    <div class="l flex align-items-center alert">
      <div class="i"></div>
      Alert
    </div>
    <div class="l flex align-items-center contingent">
      <div class="i"></div>
      Contingent
    </div>
  </div>
</div>

<div class="grid margin-bottom-2">
  <abs-action-card
    class="col-12 md:col-6 lg:col-6"
    *ngFor="let actionCard of registrationRequirementsData"
    [actionCard]="actionCard"
    (cardAction)="handleCardAction(actionCard.action.action)"
    [status]="actionCard.status"
    [recievedOn]="actionCard.recievedOn"
  ></abs-action-card>
  <abs-action-card
    class="col-12"
    [actionCard]="applyForAnExamActionCardData"
    (cardAction)="handleCardAction(applyForAnExamActionCardData.action.action)"
    [status]="applyForAnExamActionCardData.status"
  >
  </abs-action-card>

  <abs-modal
    [open]="showMedicalLicense"
    (closeDialog)="handleCardAction('medicalLicenseModal')"
    modalName="medicalLicenseModal"
    title="Medical License"
    status="in-progress"
    [hideClose]="true"
  >
    <abs-medical-license-modal
      (closeDialog)="handleCardAction('medicalLicenseModal')"
    ></abs-medical-license-modal>
  </abs-modal>

  <abs-modal
    [open]="showACGMEexprience"
    (closeDialog)="handleCardAction('ACGMEExperienceModal')"
    title="ACGME Experience Report by Role"
    modalName="ACGMEExperienceModal"
    status="in-progress"
    [hideClose]="true"
  >
    <abs-acgme-experience-modal
      (closeDialog)="handleCardAction('ACGMEExperienceModal')"
    ></abs-acgme-experience-modal>
  </abs-modal>

  <abs-modal
    [open]="showSurgeonProfile"
    title="Surgeon Profile"
    status="in-progress"
    [hideClose]="true"
    [preventOverlayClose]="true"
  >
    <abs-surgeon-profile-modal
      (closeDialog)="handleCardAction('surgeonProfileModal')"
    ></abs-surgeon-profile-modal>
  </abs-modal>

  <abs-modal
    [open]="showTraining"
    title="Training"
    status="in-progress"
    [hideClose]="true"
    [preventOverlayClose]="true"
  >
    <abs-training-modal
      (closeDialog)="handleCardAction('trainingModal')"
    ></abs-training-modal>
  </abs-modal>

  <abs-modal
    [open]="showGraduateMedicalEducation"
    (closeDialog)="handleCardAction('graduateMedicalEducationModal')"
    title="Graduate Medical Education"
    modalName="graduateMedicalEducationModal"
    status="alert"
    [hideClose]="true"
  >
    <abs-graduate-medical-education-modal
      (closeDialog)="handleCardAction('graduateMedicalEducationModal')"
    ></abs-graduate-medical-education-modal>
  </abs-modal>

  <abs-modal
    [open]="showSpecialAccommodations"
    (closeDialog)="handleCardAction('specialAccommodationsModal')"
    title="Special Accommodations"
    modalName="specialAccommodationsModal"
    status="in-progress"
    [hideClose]="true"
  >
    <abs-special-accommodations-modal
      (closeDialog)="handleCardAction('specialAccommodationsModal')"
    ></abs-special-accommodations-modal>
  </abs-modal>
</div>
