<div class="flex align-items-end flex-wrap col-12 margin-bottom-2">
  <div>
    <h1>
      {{
        (examTitle$ | async)?.examName ||
          'General Surgery Qualifying Examination'
      }}
    </h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eros arcu,
    mattis ut urna id, convallis eleifend purus. Phasellus sodales condimentum
    orci, id malesuada ante faucibus eu.
  </div>

  <abs-legend
    [legendItems]="legendItems"
    class="block w-full flex justify-content-end"
  ></abs-legend>
</div>

<div class="grid margin-bottom-2">
  <abs-action-card
    class="col-12 md:col-6 lg:col-6"
    *ngFor="let actionCard of registrationRequirementsData"
    [actionCard]="actionCard"
    [title]="actionCard.title"
    [description]="actionCard.description"
    [icon]="actionCard.icon"
    [actionType]="actionCard?.action?.type"
    [actionAction]="actionCard?.action?.action"
    [actionAnchor]="actionCard?.action?.anchor"
    (cardAction)="handleCardAction(actionCard.action.action)"
    [actionDisplay]="actionCard?.actionDisplay"
    [status]="actionCard?.status"
    [disabled]="actionCard.disabled"
  ></abs-action-card>
  <!-- <abs-action-card
    class="col-12 md:col-6 lg:col-6"
    [title]="applyForAnExamActionCardData.title"
    [description]="applyForAnExamActionCardData.description"
    [icon]="applyForAnExamActionCardData.icon"
    [actionType]="applyForAnExamActionCardData?.action?.type"
    [actionAction]="applyForAnExamActionCardData?.action?.action"
    [actionDisplay]="applyForAnExamActionCardData?.actionDisplay"
    [disabled]="applyForAnExamActionCardData.disabled"
  ></abs-action-card> -->

  <abs-modal
    [open]="showACGMEexprience"
    (closeDialog)="handleCardAction('ACGMEExperienceModal')"
    title="ACGME Experience Report by Role"
    modalName="ACGMEExperienceModal"
    status="in-progress"
    [hideClose]="true"
  >
    <abs-acgme-experience-modal
      (closeDialog)="handleCardAction('ACGMEExperienceModal')"
    ></abs-acgme-experience-modal>
  </abs-modal>

  <abs-modal
    [open]="programDirectorAttestationModal"
    (closeDialog)="handleCardAction('programDirectorAttestationModal')"
    title="Program Director Attestation"
    modalName="programDirectorAttestationModal"
    status="in-progress"
    [hideClose]="true"
  >
    <abs-reference-form-modal
      [picklistValues]="referenceLetterPicklists"
      [referenceFormGridData$]="pdReferenceLetter$"
      [referenceFormsCols]="refrenceLetterCols"
      [formFields]="refrenceLetterFormFields"
      [modalConfig]="referenceFormModalConfig"
      (closeDialog)="handleCardAction('referenceFormsModal')"
    ></abs-reference-form-modal>
  </abs-modal>

  <abs-modal
    [open]="showSpecialAccommodations"
    (closeDialog)="handleCardAction('specialAccommodationsModal')"
    title="Special Accommodations"
    modalName="specialAccommodationsModal"
    status="in-progress"
    [hideClose]="true"
  >
    <abs-special-accommodations-modal
      [examHeaderId]="examHeaderId"
      (closeDialog)="handleCardAction('specialAccommodationsModal')"
    ></abs-special-accommodations-modal>
  </abs-modal>

  <abs-modal
    [open]="attestationModal"
    (closeDialog)="handleCardAction('attestationModal')"
    title="Attestation"
    modalName="attestationModal"
  >
    <abs-attestation-modal
      source="qualifyingExamination"
      [attestations]="(attestations$ | async) || []"
      (closeDialog)="handleCardAction('attestationModal')"
      (saveAttestation)="handleAttestationSave()"
    ></abs-attestation-modal>
  </abs-modal>

  <abs-modal
    [open]="payFeeModal"
    (closeDialog)="handleCardAction('payFeeModal')"
    title="Pay Fee"
    modalName="payFeeModal"
  >
    <abs-pay-fee
      [payFeeData]="payFeeData"
      [paymentGridData]="examFees$"
      (cancelAction)="handleCardAction('payFeeModal')"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
      nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas
      sit amet tortor at, condimentum tempor erat.
    </abs-pay-fee>
  </abs-modal>
</div>
