.legend {
  margin-top: 1.5rem;
  position: relative;
  right: 0;
  width: 100%;
  text-align: right;
  .l {
    margin-left: 2rem;
    font-weight: bold;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    .i {
      margin-right: 0.5rem;
      width: 15px;
      height: 15px;
      background-color: var(--global-gray);
      left: 0;
      border-radius: 50%;
    }
    &.completed {
      color: var(--global-success);
      .i {
        background-color: var(--global-success);
      }
    }
    &.in-progress {
      color: var(--global-warning);
      .i {
        background-color: var(--global-warning);
      }
    }
    &.alert {
      color: var(--global-danger);
      .i {
        background-color: var(--global-danger);
      }
    }
    &.contingent {
      color: var(--global-gray);
      .i {
        background-color: vvar(--global-gray);
      }
    }
  }
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.action-card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 6px #24365526;
  padding: 1.5rem;
  height: 100%;
  min-height: 16rem;
  transition: 150ms ease-in-out;
  position: relative;
  width: 100%;
  .hotspot {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:hover {
    box-shadow: none;
  }
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    span {
      font-size: 2rem;
      margin-right: 0.75rem;
    }
  }
  .icon {
    color: var(--global-warning);
  }
  .description {
    margin-bottom: 3rem;
  }
  .action-display {
    position: absolute;
    bottom: 1rem;
    color: var(--global-success);
    font-weight: bold;
    width: 100%;
    left: 0;
    padding: 0 2rem;
  }
  &.completed {
    border-right: 10px solid var(--global-success);
    .icon {
      color: var(--global-success);
    }
  }
  &.in-progress {
    border-right: 10px solid var(--global-warning);
    .icon {
      color: var(--global-warning);
    }
  }
  &.alert {
    border-right: 10px solid var(--global-danger);
    .description {
      color: var(--global-danger);
    }
    .action-display {
      color: var(--global-danger);
    }
    .icon {
      color: var(--global-danger);
    }
  }
  &.contingent {
    border-right: 10px solid var(--global-gray);
    .icon {
      color: var(--global-gray);
    }
  }
  &.disabled {
    cursor: not-allowed;
    .icon {
      color: var(--global-gray);
    }
    .action-display {
      color: var(--global-gray);
    }
    &:hover {
      box-shadow: 0px 0px 6px #24365526;
    }
  }
  &.status-card {
    min-height: 12rem;
    .title {
      margin-bottom: 1rem;
    }
    .status {
      margin-bottom: 1rem;
    }
    .description {
      margin-bottom: 2.5rem;
    }
  }
}
