<div id="toast-container" class="toast-bottom-right"></div>
<div
  [ngClass]="{
    'app-content': isAuthenticated && !isPasswordReset,
    'login-content': !isAuthenticated || isPasswordReset
  }"
>
  <aside
    *ngIf="isAuthenticated && !isPasswordReset"
    [ngClass]="isSideNavOpen ? 'toggled' : ''"
  >
    <abs-side-navigation
      [applicationName]="applicationName"
      [logoPath]="sideNavLogoPath"
      [navItems]="navItems"
      (handleSideNavToggle)="handleSideNavToggle()"
    ></abs-side-navigation>
  </aside>
  <main>
    <div
      class="screenshot-hider {{ preventScreenshot ? 'toggled' : '' }}"
      *ngIf="isAuthenticated && !isPasswordReset"
    >
      Screenshots prohibited. Press any key to continue...
    </div>
    <div
      [ngClass]="{
        'app-container-fluid': isAuthenticated && !isPasswordReset,
        flex: isAuthenticated && !isPasswordReset,
        'flex-column': isAuthenticated && !isPasswordReset
      }"
    >
      <abs-dashboard-header
        [headerLinks]="headerLinks"
        [showSearch]="true"
        (handleSideNavToggle)="handleSideNavToggle()"
        *ngIf="isAuthenticated && !isPasswordReset"
      ></abs-dashboard-header>
      <router-outlet></router-outlet>
      <div
        class="text-center mt-auto"
        *ngIf="isAuthenticated && !isPasswordReset"
      >
        <p class="footer-text mb-1">
          @{{ currentYear }} All Rights Reserved. The American Board of Surgery
        </p>
        <p class="footer-text mb-1">{{ version }}</p>
      </div>
    </div>
  </main>
</div>
