<div id="toast-container" class="toast-bottom-right"></div>
<div
  [ngClass]="{
    'app-content': isAuthenticated,
    'login-content': !isAuthenticated || getIsPasswordReset()
  }"
>
  <aside
    *ngIf="isAuthenticated && getIsPasswordReset() == false"
    [ngClass]="isSideNavOpen ? 'toggled' : ''"
  >
    <abs-side-navigation
      [applicationName]="applicationName"
      [logoPath]="sideNavLogoPath"
      [navItems]="navItems"
      (handleSideNavToggle)="handleSideNavToggle()"
    ></abs-side-navigation>
  </aside>
  <main>
    <div
      class="screenshot-hider {{ preventScreenshot ? 'toggled' : '' }}"
      *ngIf="isAuthenticated"
    >
      Screenshots prohibited. Press any key to continue...
    </div>
    <div [ngClass]="{
        'app-container-fluid': isAuthenticated,
        flex: isAuthenticated,
        'flex-column': isAuthenticated && getIsPasswordReset() == false
      }" [style.marginLeft]="forgotPasswordBoxMargin"
    >
      <abs-dashboard-header
        [headerLinks]="headerLinks"
        [showSearch]="true"
        (handleSideNavToggle)="handleSideNavToggle()"
        *ngIf="isAuthenticated && getIsPasswordReset() == false"
      ></abs-dashboard-header>

      <router-outlet></router-outlet>
      <div
        class="text-center mt-auto"
        *ngIf="isAuthenticated"
      >
        <p class="footer-text mb-1">
          @{{ currentYear }} All Rights Reserved. The American Board of Surgery
        </p>
        <p class="footer-text mb-1">{{ version }}</p>
      </div>
    </div>
  </main>
</div>
