<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
  dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
  amet tortor at, condimentum tempor erat.
</p>
<form [formGroup]="addEditRecordsForm" (ngSubmit)="onSubmit()">
  <div class="grid">
    <div
      *ngFor="let formField of addEditRecordFields"
      class="col-12 md:{{
        formField.size
      }} flex flex-column justify-content-start"
    >
      <label [htmlFor]="formField.name"
        >{{ formField.label }}{{ formField.required ? '*' : '' }}</label
      >
      <input
        *ngIf="formField.type === 'text'"
        [placeholder]="formField.placeholder ?? ''"
        [name]="formField.name"
        [id]="formField.name"
        [required]="formField.required"
        [formControlName]="formField.name"
        ngDefaultControl
        pInputText
      />
      <p-calendar
        *ngIf="formField.type === 'date'"
        [formControlName]="formField.name"
        [showIcon]="true"
        [placeholder]="formField.placeholder ?? ''"
        [required]="formField.required"
        ngDefaultControl
        appendTo="body"
      ></p-calendar>
      <p-dropdown
        *ngIf="formField.type === 'select'"
        [placeholder]="formField.placeholder ?? ''"
        [options]="formField.options ?? []"
        [name]="formField.name"
        [id]="formField.name"
        [editable]="true"
        [formControlName]="formField.name"
        ngDefaultControl
        appendTo="body"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
      <div *ngIf="formField.type === 'textarea'">
        <textarea
          pInputTextarea
          [name]="formField.name"
          [formControlName]="formField.name"
          ngDefaultControl
        ></textarea>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 mt-5 flex justify-content-end btn-container">
      <sl-button variant="default" size="large" (click)="close()">
        Cancel
      </sl-button>
      <sl-button class="wide" size="large" variant="warning" type="submit"
        >Save</sl-button
      >
    </div>
  </div>
</form>
