<header>
  <h1>My Account</h1>
</header>
<ng-container *ngIf="user$ | async as user; else loading">
  <section>
    <div class="grid">
      <div class="col-12 flex">
        <sl-avatar
          [image]="profilePicture"
          label="Profile Picture"
          style="--size: 5rem"
        ></sl-avatar>
        <div class="ml-3">
          <h2 class="font-normal mt-0 mb-0">
            {{ user.fullName }}
          </h2>
          <p class="font-bold mt-0 mb-1">{{ user.emailAddress }}</p>
          <p class="font-bold mt-0 mb-1 account-status">
            Status: {{ user.status }}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
          neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
          erat, egestas sit amet tortor at, condimentum tempor erat.
        </p>
        <ng-container *ngIf="errors$ | async as error"><span *ngIf="error?.password">Error</span>
          <sl-alert variant="danger" open>
            <sl-icon slot="icon" name="exclamation-octagon"></sl-icon>
            <strong *ngIf="error?.emailAddress">{{ error?.emailAddress[0] }}</strong>
            <strong *ngIf="error?.password">{{ error?.password[0] }}</strong>
          </sl-alert>
        </ng-container>
        <div class="grid" *ngIf="!isEdit">
          <div class="col-12 md:col-6">
            <label>Email Address</label>
            <div>{{ user.emailAddress }}</div>
          </div>
          <div class="col-12 md:col-6">
            <label>Password</label>
            <div>********</div>
          </div>
          <div class="col-12 md:col-6">
            <sl-checkbox [checked]="user.mailingList"
              >Receive ABS Emails / Newsletters?</sl-checkbox
            >
          </div>
          <div class="col-12 flex justify-content-end">
            <sl-button
              variant="primary"
              style="width: 200px"
              (click)="isEdit = true"
              >Edit</sl-button
            >
          </div>
        </div>
        <form
          name="myAccountForm"
          [formGroup]="myAccountForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="grid" *ngIf="isEdit">
            <sl-input
              type="email"
              class="col-12 md:col-6"
              label="Email Address"
              (sl-focus)="selectAll($event)"
              ngDefaultControl
              formControlName="emailAddress"
            ></sl-input>
            <sl-input
              type="email"
              class="col-12 md:col-6"
              label="Confirm Email Address"
              (sl-focus)="selectAll($event)"
              ngDefaultControl
              formControlName="confirmEmailAddress"
            ></sl-input>
            <sl-input
              type="password"
              class="col-12 md:col-6"
              label="Password"
              (sl-focus)="selectAll($event)"
              ngDefaultControl
              formControlName="password"
              password-toggle
            ></sl-input>
            <sl-input
              type="password"
              class="col-12 md:col-6"
              label="Confirm Password"
              (sl-focus)="selectAll($event)"
              ngDefaultControl
              formControlName="confirmPassword"
              password-toggle
            ></sl-input>
            <sl-checkbox
              class="col-12 md:col-6"
              ngDefaultControl
              formControlName="mailingList"
              checked
              >Receive ABS Emails / Newsletters?</sl-checkbox
            >
            <div class="col-12 flex justify-content-end">
              <sl-button type="reset" variant="text" (click)="resetForm($event)"
                >Cancel</sl-button
              >
              <sl-button
                type="submit"
                style="width: 337px"
                variant="primary"
                [disabled]="myAccountForm.invalid"
                >Save</sl-button
              >
            </div>
          </div>
        </form>
      </sl-card>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading account details...</p>
  </div>
</ng-template>
