@import 'src/assets/themes/colors.scss';
@import 'src/assets/styles/fonts.scss';

.footer {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
  background-color: $theme-footer-background;
  color: $theme-footer-text;
  font-size: $font-size-xsmall;
}

.hyperlink {
  color: $theme-hyperlink-inverted;
}

.logo {
  height: 30px;
}
