<div class="flex gap-5 view-header col-12">
  <div>
    <strong>Candidate Name:</strong> {{ localCandidateData?.candidateName }}
  </div>
  <div>
    <strong>Day/Time:</strong>
    {{ localCandidateData?.startTime | date : 'short' }} -
    {{ localCandidateData?.endTime | date : 'shortTime' }}
  </div>
  <div *ngIf="localCandidateData?.score">
    <strong>Score:</strong> {{ localCandidateData.score }}
  </div>
</div>

<div class="flex flex-column">
  <abs-examination-score-card
    *ngFor="let case of localCandidateData?.cases; let i = index"
    [case]="case"
    [locked]="case.isLocked"
    (handleChange)="handleChange($event)"
  ></abs-examination-score-card>
</div>

<div *ngIf="examStatus === Status.incomplete; else completeExam">
  <div
    class="flex justify-content-between mt-4"
    slot="footer"
    *ngIf="!localCandidateData.allLocked"
  >
    <p-button styleClass="p-button-link p-button-primary" (click)="cancel()"
      >Cancel</p-button
    >

    <div>
      <p-button
        styleClass="p-button-link p-button-primary"
        (click)="saveScores(true)"
        >Save & Submit Later</p-button
      >
      <p-button
        (onClick)="submitScores()"
        [style]="{ width: '337px' }"
        variant="primary"
        [disabled]="disableSubmitExamScore"
        >Submit Exam
      </p-button>
    </div>
  </div>
</div>

<ng-template #completeExam>
  <div
    class="flex justify-content-end mt-4"
    slot="footer"
    *ngIf="!localCandidateData.allLocked"
  >
    <p-button styleClass="p-button-link p-button-primary" (click)="cancel()"
      >Cancel</p-button
    >
    <p-button
      (onClick)="saveScores()"
      [style]="{ width: '337px' }"
      variant="primary"
      >Save
    </p-button>
  </div>
</ng-template>
