<div class="flex gap-5 view-header col-12">
  <div><strong>Candidate Name:</strong> {{ candidateData?.candidateName }}</div>
  <div><strong>Day/Time:</strong></div>
  <div><strong>Score:</strong> {{ candidateData?.score }}</div>
</div>

<div class="flex flex-column">
  <abs-examination-score-card
    *ngFor="let case of candidateData?.cases; let i = index"
    [case]="case"
    (handleChange)="handleChange($event)"
  ></abs-examination-score-card>
</div>

<div class="flex justify-content-end mt-4" slot="footer">
  <p-button styleClass="p-button-link p-button-primary" (click)="cancel()"
    >Cancel</p-button
  >
  <p-button
    (onClick)="saveScores()"
    [style]="{ width: '337px' }"
    variant="primary"
    >Save
  </p-button>
</div>
