sl-radio-group {
  margin-top: 15px;
}

sl-radio::part(label) {
  font-weight: 700;
}

sl-radio {
  font-weight: 700;
  margin-bottom: 15px;
}

.align-right {
  text-align: right;
}

a {
  color: var(--global-success);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 250ms ease-in-out;
  &:hover {
    border-color: var(--global-success);
  }
}

.status {
  position: absolute;
  right: 50px;
  &.completed {
    color: var(--global-success);
  }
  &.alert {
    color: var(--global-danger);
  }
}
