<div class="flex align-items-end flex-wrap col-12 margin-bottom-2">
  <div>
    <h1>
      {{
        (examTitle$ | async)?.examName ||
          'General Surgery Qualifying Examination'
      }}
    </h1>
    <!-- <p>
      This year, the exam will be completely virtual via Zoom. The registration
      deadline is September 1st. Dates are filed on a first-come, first-served
      basis.
    </p>
    <p>
      <strong>
        Failure to select a CE date for the academic year is considered a lost
        exam opportunity.</strong
      >
      A final assignment means you have a guaranteed spot, but it is irrevocable
      and unchangeable one given. Once you have received a final assignment,
      exam fees will not be refunded if you subsequently change your mind or
      fail to show up.
    </p>
    <p>
      Please allow 5-10 business days for your registration to be processed.
      Once processed, your exam date will be posted on your Exam Records and
      Results page under Active Examinations.
    </p> -->
  </div>
</div>

<section>
  <div class="grid">
    <!-- Site Selection -->
    <sl-card class="col-12" *ngIf="(siteSelectionPicklist$ | async)?.length">
      <abs-collapse-panel [panelId]="1" [startExpanded]="true">
        <div class="flex justify-content-between panel-header" panel-header>
          <h5 class="mt-0 mb-2">Site Selection</h5>
          <div
            class="status {{
              (siteSelection$ | async) ? 'completed' : 'alert'
            }}"
          >
            {{ siteSelection$ | async }} General Surgery Certifying Exam
            (Virtual) Assigned
          </div>
        </div>
        <div class="flex align-items-end flex-wrap col-12 margin-bottom-2">
          <form [formGroup]="examRegistrationFormData">
            <div class="form-description mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
              neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
              erat, egestas sit amet tortor at, condimentum tempor erat. All
              fields are required.
            </div>
            <div class="grid">
              <div
                *ngFor="let option of siteSelectionPicklist$ | async"
                class="col-12 md:col-12"
              >
                <div class="flex flex-column gap-3">
                  <p-radioButton
                    [value]="option.itemValue"
                    [label]="option.itemDescription ?? ''"
                    [formControlName]="'siteSelection'"
                  ></p-radioButton>
                </div>
              </div>
              <div class="col-12 align-right mt-3">
                <p-button styleClass="p-button-link p-button-primary"
                  >Cancel</p-button
                >
                <p-button
                  [style]="{ width: '337px' }"
                  (onClick)="handleSiteSelectionSubmit()"
                  >Save</p-button
                >
              </div>
            </div>
          </form>
        </div>
      </abs-collapse-panel>
    </sl-card>

    <!-- Exam Intentions Form -->
    <sl-card class="col-12" *ngIf="examIntentions$ | async as examIntention">
      <abs-collapse-panel [panelId]="2" [startExpanded]="true">
        <div class="flex justify-content-between panel-header" panel-header>
          <h5 class="mt-0 mb-2">Exam Intentions</h5>
          <div
            class="status {{
              examIntention.dateReceived ? 'completed' : 'alert'
            }}"
          >
            {{
              examIntention.dateReceived
                ? 'Confirmed ' +
                  (examIntention.dateReceived | date : 'longDate')
                : 'Not Confirmed'
            }}
          </div>
        </div>

        <div class="form-description mb-5">
          Please confirm that you intend to take the upcoming examination.
        </div>
        <form [formGroup]="examRegistrationFormData">
          <div class="col-12 flex align-items-center gap-2 mb-3">
            <p-checkbox
              inputId="acknowlegement"
              [formControlName]="'examIntention'"
              [binary]="true"
            ></p-checkbox>
            <label for="userConfirmed">
              I will take the examination {{ examIntention.examName }} as
              offered, on {{ examIntention.examDate | date : 'longDate' }}
            </label>
          </div>
          <div class="col-12 align-right mt-3">
            <p-button
              [style]="{ width: '200px' }"
              (click)="handleSubmitExamIntention()"
              [disabled]="examIntention.intention === true"
              >Submit</p-button
            >
          </div>
        </form>
      </abs-collapse-panel>
    </sl-card>

    <!-- Exam Registration Fee -->
    <sl-card class="col-12">
      <abs-collapse-panel [panelId]="3" [startExpanded]="true">
        <div class="flex justify-content-between panel-header" panel-header>
          <h5 class="mt-0 mb-2">Exam Registration Fee</h5>
          <div
            class="status {{
              payFeeData.remainingBalance <= 0 ? 'completed' : 'alert'
            }}"
          >
            Amount Owed: {{ payFeeData.remainingBalance | currency }}
          </div>
        </div>

        <abs-pay-fee
          [payFeeData]="payFeeData"
          [paymentGridData]="examFeeByExamId$ | async"
        >
          <strong
            >To avoid additional fees, all items must be received by deadline.
            See also <a href="#">Dates & Fees</a>.</strong
          >
        </abs-pay-fee>
      </abs-collapse-panel>
    </sl-card>

    <!-- Exam Admission Card / Authorization Letter Status -->
    <sl-card
      class="col-12"
      *ngIf="admissionCardAvailability$ | async as admissionCardAvailability"
    >
      <abs-collapse-panel [panelId]="6" [startExpanded]="true">
        <div class="flex justify-content-between panel-header" panel-header>
          <h5 class="mt-0 mb-2">
            Exam Admission Card / Authorization Letter Status
          </h5>
          <div
            class="status {{
              admissionCardAvailability.admCardAvailable ? 'completed' : 'alert'
            }}"
          >
            {{
              admissionCardAvailability.admCardAvailable
                ? 'Posted ' +
                  (admissionCardAvailability.datePosted | date : 'longDate')
                : 'Not yet posted'
            }}
          </div>
        </div>
        <p-button
          (onClick)="handleDownloadForm(admissionCardAvailability.examCode)"
          class="btn-add"
          [disabled]="!admissionCardAvailability.admCardAvailable"
        >
          <i slot="prefix" class="fa-solid fa-download"></i>
          <span>Download Exam Admission Card</span>
        </p-button>
      </abs-collapse-panel>
    </sl-card>

    <!-- Complete Application -->
    <sl-card class="col-12">
      <abs-collapse-panel [panelId]="7" [startExpanded]="true">
        <div class="flex justify-content-between panel-header" panel-header>
          <h5 class="mt-0 mb-2">Complete Exam Registration</h5>
        </div>
        <div class="mb-3">
          Please insure that you have downloaded the Exam Admission Card /
          Autherization Letter
        </div>
        <div class="col-12 align-right mt-3">
          <p-button
            [style]="{ width: '200px' }"
            (onClick)="completeExamRegistration()"
            [disabled]="!completeExamRegistrationEnabled"
            >Register</p-button
          >
        </div>
      </abs-collapse-panel>
    </sl-card>
  </div>
</section>
