<h1>Documents</h1>
<sl-card>
  <div slot="header">All Documents</div>

  <div style="margin: 2rem 0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat.
  </div>
  <abs-documents-upload
    [allowUpload]="false"
    [documentsData$]="documentsData$"
    [gridCols]="documentsCols"
    [showFilter]="true"
    [filterOn]="'documentName'"
    (documentsAction)="handleGridAction($event)"
  ></abs-documents-upload>
</sl-card>
