<div class="flex justify-content-between align-items-end flex-wrap col-12">
  <div *ngIf="user$ | async as user">
    <h1>Continuous Certification</h1>
    <h4 class="thin">For {{ user.displayName }}</h4>
  </div>
  <abs-legend [legendItems]="legendItems"></abs-legend>
</div>

<div class="grid">
  <abs-action-card
    class="col-12 md:col-6 lg:col-4"
    *ngFor="let actionCard of continousCertificationData"
    [actionCard]="actionCard"
    [title]="actionCard.title"
    [description]="actionCard.description"
    [icon]="actionCard.icon"
    [actionType]="actionCard?.action?.type"
    [actionAction]="actionCard?.action?.action"
    [actionStyle]="actionCard?.actionStyle"
    (cardAction)="handleCardAction(actionCard.action.action)"
    [actionDisplayKey]="actionCard?.actionDisplay"
    [status]="actionCard?.status"
    [disabled]="actionCard.disabled"
    [displayStatusText]="actionCard?.displayStatusText"
  ></abs-action-card>
</div>

<!-- Outcome Registries / Quality Assessment Programs -->
<abs-modal
  [open]="outcomeRegistriesModal"
  (closeDialog)="handleCardAction('outcomeRegistriesModal')"
  title="Outcomes Registries / Quality Assessment Programs"
  modalName="outcomeRegistriesModal"
>
  <abs-outcome-registries-modal
    (closeDialog)="handleCardAction('outcomeRegistriesModal')"
  >
  </abs-outcome-registries-modal>
</abs-modal>

<!-- Attestation -->
<abs-modal
  [open]="attestationModal"
  (closeDialog)="handleCardAction('attestationModal')"
  title="Attestation"
  modalName="attestationModal"
>
  <abs-attestation-modal
    (closeDialog)="handleCardAction('attestationModal')"
  ></abs-attestation-modal>
</abs-modal>

<!-- Reference Forms -->
<abs-modal
  [open]="referenceFormsModal"
  (closeDialog)="handleCardAction('referenceFormModal')"
  title="Reference Form"
  modalName="referenceFormModal"
>
  <abs-reference-form-modal
    (closeDialog)="handleCardAction('referenceFormsModal')"
  ></abs-reference-form-modal>
</abs-modal>

<!-- Pay Fee -->
<abs-modal
  [open]="payFeeModal"
  (closeDialog)="handleCardAction('payFeeModal')"
  title="Pay Fee"
  modalName="payFeeModal"
>
  <abs-pay-fee
    [payFeeData]="payFeeData"
    [paymentGridData]="examFees$"
    (cancelAction)="handleCardAction('payFeeModal')"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat.
  </abs-pay-fee>
</abs-modal>
