<div class="flex justify-content-between align-items-end flex-wrap col-12">
  <div>
    <h1>Continuous Certification</h1>
    <h4 class="thin">For {{ userData.name }}.</h4>
  </div>
  <div class="legend flex flex-wrap">
    <div class="l flex align-items-center completed">
      <div class="i"></div>
      Completed
    </div>
    <div class="l flex align-items-center in-progress">
      <div class="i"></div>
      In Progress
    </div>
    <div class="l flex align-items-center contingent">
      <div class="i"></div>
      Contingent
    </div>
  </div>
</div>

<div class="grid">
  <abs-action-card
    class="col-12 md:col-6 lg:col-4"
    *ngFor="let actionCard of continousCertificationData"
    [actionCard]="actionCard"
    (cardAction)="handleCardAction(actionCard.action.action)"
  ></abs-action-card>
</div>

<!-- Outcome Registries / Quality Assessment Programs -->
<sl-dialog
  label="Outcomes Registries / Quality Assessment Programs"
  [open]="this.outcomeRegistriesModal"
  (sl-request-close)="handleCardAction('outcomeRegistriesModal')"
>
  <form action="">
    <div class="form-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
      nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas
      sit amet tortor at, condimentum tempor erat. All fields are required.
    </div>
    <div class="grid">
      <div
        *ngFor="let formField of outcomesandRegistriesFormFields"
        class="col-12 md:{{ formField.size }}"
      >
        <sl-radio-group
          *ngIf="formField.type === 'radio'"
          [label]="formField.label"
          [name]="formField.name"
          ngDefaultControl
          [(ngModel)]="formField.value"
        >
          <span>{{ formField.subLabel }}</span>
          <div class="flex flex-wrap">
            <sl-radio
              *ngFor="let option of formField.options"
              [value]="option.value"
              >{{ option.label }}</sl-radio
            >
          </div>
        </sl-radio-group>

        <div
          class="col-12"
          *ngIf="formField.type === 'textarea'"
          [name]="formField.name"
          ngDefaultControl
          [(ngModel)]="formField.value"
        >
          <label for="describe"
            >{{ formField.label }} <span>{{ formField.subLabel }}</span></label
          >
          <sl-textarea></sl-textarea>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <sl-checkbox name="aknowledgement"
          >I confirm the above information is completed and correct to the best
          of my knowledge</sl-checkbox
        >
      </div>
      <div class="col-12 md:col-6 align-right">
        <sl-button
          variant="default"
          size="large"
          (click)="handleCardAction('outcomeRegistriesModal')"
          >Cancel</sl-button
        >
        <sl-button class="wide" size="large" variant="warning">Save</sl-button>
      </div>
    </div>
  </form>
</sl-dialog>

<!-- Attestation -->
<sl-dialog
  label="Attestation"
  [open]="attestationModal"
  (sl-request-close)="handleCardAction('attestationModal')"
>
  <form action="">
    <div class="form-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
      nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas
      sit amet tortor at, condimentum tempor erat. All fields are required.
    </div>
    <h6>{{ userData.name }}</h6>
    <div class="grid">
      <div
        *ngFor="let formField of attestationFormFields"
        [class]="formField.size"
      >
        <sl-checkbox
          [value]="formField.value"
          [name]="formField.name"
          [id]="formField.name"
          ngDefaultControl
          [(ngModel)]="formField.value"
          >{{ formField.label }}</sl-checkbox
        >
      </div>
      <div class="col-12 align-right btn-container">
        <sl-button
          variant="default"
          size="large"
          (click)="handleCardAction('attestationModal')"
          >Cancel</sl-button
        >
        <sl-button class="wide" size="large" variant="warning">Save</sl-button>
      </div>
    </div>
  </form>
</sl-dialog>

<!-- Reference Forms -->
<sl-dialog
  label="Refrence Forms"
  [open]="referenceFormsModal"
  (sl-request-close)="handleCardAction('referenceFormsModal')"
>
  <div class="dialog-intro">
    Please provide contact information for the Authenticating Official from the
    hospital or surgical center where you perform most of your work. If you hold
    this position yourself, you may request another physician of comparable rank
    to provide the reference. The reference cannot be provided by a relative, by
    someone with whom you have a close personal relationship, or by the same
    person who is providing you another ABS reference.
  </div>
  <abs-grid
    title="Current Reference Forms"
    [columns]="referenceFormsCols"
    [data]="refrenceGridData"
    (action)="handleGridAction($event)"
    class="margin-bottom-2"
  ></abs-grid>

  <h5>Add Reference</h5>

  <form>
    <div class="grid">
      <div
        *ngFor="let formField of referenceFormFields"
        class="col-12 md:{{
          formField.size
        }} flex flex-column justify-content-start"
      >
        <sl-input
          *ngIf="formField.type === 'text'"
          [placeholder]="formField.placeholder"
          [name]="formField.name"
          [id]="formField.name"
          [label]="formField.label"
          [required]="formField.required"
          ngDefaultControl
          [(ngModel)]="formField.value"
        ></sl-input>
        <sl-select
          *ngIf="formField.type === 'select'"
          [placeholder]="formField.placeholder"
          [name]="formField.name"
          [id]="formField.name"
          [label]="formField.label"
          [required]="formField.required"
          ngDefaultControl
          [(ngModel)]="formField.value"
        >
          <sl-option
            *ngFor="let option of formField.options"
            [value]="option.value"
            >{{ option.label }}</sl-option
          >
        </sl-select>
        <span>{{ formField.subLabel }}</span>
      </div>
      <div class="col-12 margin-bottom-2">
        I hereby authorize any hospital or medical staff where I now have, have
        had, or have applied for medical staff privileges, and any medical
        organization of which I am a member or to which I have applied for
        membership, and any person who may have information (including medical
        records, patient records, and reports of committees) which is deemed by
        ABS to be material to its evaluation of this application, to provide
        such information to representatives of the ABS. I agree that
        communications of any nature made to the ABS regarding this application
        may be made in confidence and shall not be made available to me under
        any circumstances. I hereby release from liability any hospital, medical
        staff, medical organization or person, and ABS and its representatives,
        for acts performed in connection with this application. I authorize the
        ABS to transmit a reference form request electronically to the above
        named physician at the email address above, and affirm that it
        ultimately remains my responsibility to ensure these forms are
        completed.
      </div>
      <div class="col-12 md:col-6">
        <sl-checkbox name="sendEmail"
          >I would like my reference form sent to me via email</sl-checkbox
        >
      </div>
      <div class="col-12 md:col-6 align-right btn-container">
        <sl-button
          variant="default"
          size="large"
          (click)="handleCardAction('referenceFormsModal')"
          >Cancel</sl-button
        >
        <sl-button
          class="wide"
          size="large"
          variant="warning"
          (click)="onSubmit(referenceFormFields)"
          >Save</sl-button
        >
      </div>
    </div>
  </form>
</sl-dialog>
