h1 {
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

.grid {
  margin: 1.5rem 0;
}

sl-dialog::part(panel) {
  min-width: 75%;
}

.legend {
  margin-top: 1.5rem;
  .l {
    margin-left: 2rem;
    font-weight: bold;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    .i {
      margin-right: 0.5rem;
      width: 15px;
      height: 15px;
      background-color: var(--global-gray);
      left: 0;
      border-radius: 50%;
    }
    &.completed {
      color: var(--global-success);
      .i {
        background-color: var(--global-success);
      }
    }
    &.in-progress {
      color: var(--global-warning);
      .i {
        background-color: var(--global-warning);
      }
    }
    &.contingent {
      color: var(--global-gray);
      .i {
        background-color: vvar(--global-gray);
      }
    }
  }
}

sl-radio-group,
sl-textarea {
  margin-bottom: 2rem;
}

sl-radio-group::part(form-control-label) {
  font-weight: medium;
}

span {
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 0 0.875rem 0;
  position: relative;
  // min-height: 21px;
}

sl-radio {
  margin-right: 1.25rem;
}

.align-right {
  text-align: right;
}

.btn-container {
  margin-top: 2rem;
}

.margin-bottom-2 {
  display: block;
  margin-bottom: 2rem;
}

.danger {
  color: var(--global-danger);
}
