<div *ngIf="lapsedPath">
  <div class="dialog-intro">
    Please provide contact information for the Authenticating Official from the
    hospital or surgical center where you perform most of your work. If you hold
    this position yourself, you may request another physician of comparable rank
    to provide the reference. The reference cannot be provided by a relative, by
    someone with whom you have a close personal relationship, or by the same
    person who is providing you another ABS reference.
  </div>
  <abs-grid
    title="Current Reference Forms"
    [columns]="referenceFormsCols"
    [data]="referenceFormGridData$"
    (action)="handleGridAction($event)"
    class="mb-2"
    [expandTemplate]="expandedRow"
  >
    <ng-template #expandedRow let-r>
      <div class="grid" *ngIf="source === 'continuousCertification'">
        <div class="col-4">
          <label>Authenticating Official</label>
          <p class="mt-1 mb-1" *ngIf="r.official">
            <b>Name: </b> {{ r.official }}
          </p>
          <p class="mt-1 mb-1" *ngIf="r.title"><b>Title: </b> {{ r.title }}</p>
          <p class="mt-1" *ngIf="r.roleName && !r.altRoleName">
            <b>Role: </b> {{ r.roleName }}
          </p>
          <p class="mt-1 mb-1" *ngIf="r.altRoleName">
            <b>Altnerate Role: </b> {{ r.roleName }}
          </p>
          <p class="mt-1" *ngIf="r.altRoleName && r.explain">
            <b>Reason for Alt Role: </b> {{ r.explain }}
          </p>
        </div>
        <div class="col-4">
          <label>Contact Information</label>
          <p class="mt-1 mb-1" *ngIf="r.email"><b>Email: </b> {{ r.email }}</p>
          <p class="mt-1" *ngIf="r.email"><b>Phone: </b> {{ r.phone }}</p>
        </div>
        <div class="col-4">
          <label
            >Letter Status -
            <span [ngClass]="r.statusClass">{{ r.statusDisplay }}</span></label
          >
          <p class="mt-1">
            <b>Sent On: </b> {{ r.letterSent | date : 'shortDate' }}
          </p>
        </div>
      </div>
    </ng-template>
  </abs-grid>

  <abs-collapse-panel
    [panelId]="1"
    [startExpanded]="false"
    [showIcon]="false"
    [hideBorder]="true"
    [disabledHeaderToggle]="true"
    (togglePanelEvent)="togglePanelHandler($event)"
    #referenceRequestPanel
  >
    <div class="mt-3 mb-2" style="width: 100%" panel-header>
      <p-button
        class="btn-add my-2"
        *ngIf="!formExpanded"
        (click)="referenceRequestPanel.expandPanel()"
      >
        <i slot="prefix" class="fa-solid fa-plus"></i>
        ADD REFERENCE
      </p-button>
      <h5 class="m-0" *ngIf="formExpanded">Add Reference</h5>
    </div>
    <form [formGroup]="referenceLetterForm">
      <div class="grid">
        <ng-container *ngFor="let formField of formFields">
          <div
            *ngIf="!formField.hidden"
            class="col-12 md:{{
              formField.size
            }} flex flex-column justify-content-start"
          >
            <label [htmlFor]="formField.name"
              >{{ formField.label }} {{ formField.required ? '*' : '' }}
            </label>
            <input
              *ngIf="formField.type === 'text' || formField.type === 'email'"
              [placeholder]="formField.placeholder ?? ''"
              [name]="formField.name"
              [id]="formField.name"
              [formControlName]="formField.name"
              [required]="formField.required"
              [type]="formField.type"
              pInputText
            />
            <input
              *ngIf="formField.type === 'tel'"
              [type]="'text'"
              [id]="formField.name"
              [name]="formField.name"
              [formControlName]="formField.name"
              placeholder="999 999 9999"
              mask="000 000 0000"
              pInputText
            />
            <p-dropdown
              *ngIf="formField.type === 'select'"
              [placeholder]="formField.placeholder ?? ''"
              [options]="formField.options ?? []"
              [name]="formField.name"
              [id]="formField.name"
              [formControlName]="formField.name"
              appendTo="body"
              optionLabel="itemDescription"
              optionValue="itemValue"
            ></p-dropdown>
            <span>{{ formField.subLabel }}</span>
          </div>
        </ng-container>
        <div class="col-12 mb-3">
          I hereby authorize any hospital or medical staff where I now have,
          have had, or have applied for medical staff privileges, and any
          medical organization of which I am a member or to which I have applied
          for membership, and any person who may have information (including
          medical records, patient records, and reports of committees) which is
          deemed by ABS to be material to its evaluation of this application, to
          provide such information to representatives of the ABS. I agree that
          communications of any nature made to the ABS regarding this
          application may be made in confidence and shall not be made available
          to me under any circumstances. I hereby release from liability any
          hospital, medical staff, medical organization or person, and ABS and
          its representatives, for acts performed in connection with this
          application. I authorize the ABS to transmit a reference form request
          electronically to the above named physician at the email address
          above, and affirm that it ultimately remains my responsibility to
          ensure these forms are completed.
        </div>
        <div class="col-12 flex align-items-start gap-3">
          <p-checkbox
            [binary]="true"
            inputId="sendEmail"
            formControlName="confirmSend"
          ></p-checkbox>
          <label for="sendEmail"
            >I would like my reference form sent to me via email</label
          >
        </div>
        <div class="col-12 mt-5 flex justify-content-end btn-container">
          <p-button
            styleClass="p-button-link p-button-primary"
            (click)="closePanel()"
          >
            Cancel
          </p-button>
          <p-button
            [style]="{ width: '337px' }"
            [disabled]="referenceLetterForm.invalid"
            (click)="onSubmitPanel()"
            >Save</p-button
          >
        </div>
      </div>
    </form>
  </abs-collapse-panel>
</div>

<div *ngIf="!lapsedPath">
  <form>
    <div class="col-12 flex align-items-center gap-3">
      <p-checkbox value="Yes" inputId="attestation"></p-checkbox>
      <label for="attestation"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quam
        nisi, sollicitudin ac sagittis id, euismod id ipsum. Nulla facilisi.
        Vestibulum ac purus et velit condimentum porttitor vel at ante. Etiam
        iaculis laoreet tellus, vel auctor nulla convallis non. Duis dolor nunc,
        finibus at pharetra nec, rhoncus ut turpis. Nullam felis nisi, vulputate
        a laoreet eget, vehicula at massa. Sed vitae rhoncus mi. Sed aliquam
        aliquam felis nec hendrerit. Proin pharetra mauris purus, quis mattis
        eros congue eu.</label
      >
    </div>
    <div class="col-12 mt-5 flex justify-content-end btn-container">
      <p-button styleClass="p-button-link p-button-primary" (click)="close()">
        Cancel
      </p-button>
      <p-button [style]="{ width: '337px' }" (click)="onSubmit()"
        >Save</p-button
      >
    </div>
  </form>
</div>
