<div slot="label">{{ localLicense?.id ? 'Edit' : 'Add' }} License Record</div>
<form id="appointmentAddEdit" *ngIf="localLicense">
  <div class="grid">
    <div class="col-12">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
        nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat,
        egestas sit amet tortor at, condimentum tempor erat.
      </p>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="statement">License State</label>
      <p-dropdown
        inputId="state"
        [options]="fakeOptions"
        name="state"
        [(ngModel)]="localLicense.state"
        placeholder="Select State"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="licenseNumber">License Number</label>
      <input
        id="licenseNumber"
        pInputText
        type="text"
        placeholder="Enter License Number"
        name="licenseNumber"
        [(ngModel)]="localLicense.number"
      />
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="type">License Type</label>
      <p-dropdown
        inputId="type"
        [options]="fakeOptions"
        name="type"
        [(ngModel)]="localLicense.type"
        placeholder="Select License Type"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="issueDate">Issue Date</label>
      <p-calendar
        id="issueDate"
        [showIcon]="true"
        name="issueDate"
        [(ngModel)]="localLicense.issueDate"
        appendTo="body"
      ></p-calendar>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="expireDate">Expire Date</label>
      <p-calendar
        id="expireDate"
        [showIcon]="true"
        name="expireDate"
        [(ngModel)]="localLicense.expireDate"
        appendTo="body"
      ></p-calendar>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="reportingOrd">Verification Organization</label>
      <input
        id="reportingOrd"
        pInputText
        type="text"
        placeholder="Enter Verification Organization"
        name="reportingOrd"
        [(ngModel)]="localLicense.reportingOrg"
      />
    </div>
  </div>
</form>
<div class="flex justify-content-end mt-3" slot="footer">
  <p-button
    type="button"
    variant="text"
    styleClass="p-button-link p-button-primary"
    (click)="cancel()"
    >Cancel</p-button
  >
  <p-button type="button" [style]="{ width: '337px' }" (click)="save()"
    >Save
  </p-button>
</div>
