<div [class]="alertClass">
  <a
    class="hotspot"
    *ngIf="actionType === 'component'"
    [routerLink]="actionAction"
  ></a>
  <button
    class="hotspot"
    (click)="handleCardAction(actionType)"
    download
    *ngIf="actionType === 'action' || actionType === 'download'"
  ></button>
  <div class="flex col-12">
    <div *ngIf="image" class="img-container" [style]="imageStyleUrl"></div>
    <div class="highlight-content col-8 flex align-items-center">
      <div>
        <div class="title">{{ title }}</div>
        <div class="content" [innerHTML]="content"></div>
        <div class="card-action" *ngIf="actionText">
          {{ actionText }}
        </div>
      </div>
    </div>
  </div>
</div>
