<div [class]="alertClass">
  <a
    class="hotspot"
    *ngIf="alert?.action?.type === 'component'"
    [routerLink]="alert?.action?.action"
  ></a>
  <button
    class="hotspot"
    (click)="handleCardAction(alert?.action?.type)"
    download
    *ngIf="
      alert?.action?.type === 'action' || alert?.action?.type === 'download'
    "
  ></button>
  <div class="flex col-12">
    <div
      *ngIf="alert.image"
      class="img-container"
      [style]="imageStyleUrl"
    ></div>
    <div class="highlight-content col-8">
      <div class="title">{{ alert?.title }}</div>
      <div class="content" [innerHTML]="alert?.content"></div>
      <div class="card-action" *ngIf="alert?.actionText">
        {{ alert.actionText }}
      </div>
    </div>
  </div>
</div>
