.highlight-card {
  background-color: #e5eff1;
  border-radius: 6px;
  position: relative;
  display: flex;
  height: 100%;
  &.alert {
    border-right: 10px solid var(--global-danger);
    .title {
      color: var(--global-danger);
    }
  }
  .alert-title,
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .img-container {
    width: 25.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px 0 0 6px;
  }
  .highlight-content {
    padding: 3rem 1.5rem;
    .content {
      line-height: 23px;
    }
  }
}
