.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-icon {
  cursor: pointer;
}

.tooltip-text {
  z-index: 100;
  position: absolute;
  background-color: rgba(42, 42, 42, 0.75);
  color: var(--global-text-white);
  padding: 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  max-width: 400px;
  width: max-content;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-caret {
  position: absolute;
  border-style: solid;
  border-width: 0.5rem;
}

.tooltip-container.top {
  .tooltip-text {
    bottom: calc(100% + 0.6rem);
    left: 50%;
    transform: translateX(-50%);
  }
  .tooltip-caret {
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-color: rgba(42, 42, 42, 0.85) transparent transparent transparent;
  }
}

.tooltip-container.bottom {
  .tooltip-text {
    top: calc(100% + 0.6rem);
    left: 50%;
    transform: translateX(-50%);
  }
  .tooltip-caret {
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent rgba(42, 42, 42, 0.85) transparent;
  }
}

.tooltip-container.left {
  .tooltip-text {
    right: calc(100% + 0.6rem);
    top: 50%;
    transform: translateY(-50%);
  }
  .tooltip-caret {
    top: 50%;
    right: -1rem;
    transform: translateY(-50%);
    border-color: transparent transparent transparent rgba(42, 42, 42, 0.85);
    //border-color: transparent rgba(42,42,42,.85) transparent transparent;
  }
}

.tooltip-container.right {
  .tooltip-text {
    left: calc(100% + 0.6rem);
    top: 50%;
    transform: translateY(-50%);
  }
  .tooltip-caret {
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    border-color: transparent rgba(42, 42, 42, 0.85) transparent transparent;
  }
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
