@import 'src/assets/themes/colors.scss';
@import 'src/assets/styles/fonts.scss';

.nav-menu {
  color: $theme-text-menu;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  transition: all 0.5s ease-in-out;
  .primary-nav-anchor {
    color: $theme-text-menu !important;
    cursor: pointer;
  }
  .primary-nav-anchor:not(.active-menu-item) {
    border-bottom: 2px solid $theme-nav-menu-background;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      color: $theme-primary;
      border-bottom: 2px solid $theme-nav-menu-accent;
      transition: all 0.5s ease-in-out;
    }
  }
}

.padding-bot-10 {
  padding-bottom: 20px;
}

.nav-menu-inverted {
  color: $theme-text-inverted;
  font-size: $font-size-medium;
  transition: all 0.5s ease-in-out;
  .secondary-nav-anchor {
    color: $theme-text-inverted !important;
  }
  // .nonheader-secondary-nav-anchor {}
  .secondary-nav-anchor:not(.active-menu-item) {
    border-bottom: 2px solid $theme-nav-menu-background-inverted;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      color: $theme-text-inverted;
      border-bottom: 2px solid $theme-nav-menu-accent;
      transition: all 0.5s ease-in-out;
    }
  }
}

.nav-menu-icons {
  .primary-nav-anchor {
    color: $theme-text-menu !important;
  }
}

.black-background-button {
  &:hover {
    color: $verizon-cool-gray-6;
    background-color: $verizon-cool-gray-3;
  }
  &:active {
    background-color: $verizon-cool-gray-1;
  }
}

.active-menu-item {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid $theme-nav-menu-accent;
}

.secondary-nav-anchor {
  color: $theme-hyperlink-inverted;
  font-size: $font-size-small;
}
