.grid {
  margin-top: 2rem;
}

.abs-grid {
  background-color: #f4f4f4;
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: left;

  padding: 1.5rem;
  border-radius: 6px;
  margin-top: 1rem;
  thead {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--global-primary);
    }
  }
  th,
  td {
    padding: 15px;
  }
  tr {
    //figure out how to use nth-of-type(even) to skip expanded rows
    &.alternate-row {
      background-color: #fff;
    }
    // &:nth-child(even) {
    //   background-color: #fff;
    // }
  }
  td {
    .action,
    .expand-toggle {
      text-align: right;
    }
  }
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  color: var(--global-success);
  transition: 250ms ease-in-out;
  &:hover {
    color: var(--global-warning);
  }
  &.file-link {
    text-transform: none;
  }
}

.search-container {
  position: relative;
  i {
    position: absolute;
    color: var(--global-warning);
    font-size: 20px;
    right: 10px;
    top: 10px;
  }
}

sl-input {
  margin-bottom: 1rem;
  &::part(input) {
    padding-right: 40px;
  }
}

.requested {
  color: var(--global-warning);
  font-weight: bold;
}
.approved {
  color: var(--global-success);
  font-weight: bold;
}

.failed {
  color: var(--global-danger);
  font-weight: bold;
}
.passed {
  color: var(--global-success);
  font-weight: bold;
}
