<div class="abs-grid">
  <h4>{{ title }}</h4>
  <table class="GeneratedTable">
    <thead>
      <tr>
        <th *ngFor="let c of columns">
          <div *ngIf="c.cellRenderer !== AbsGridCellRendererType.Button">
            {{ c.headerName }}
            <button (click)="sortColumn(c)" *ngIf="c.sortable">
              <i class="fa-solid fa-sort"></i>
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of data">
        <td *ngFor="let c of columns">
          <div *ngIf="!c.cellRenderer">
            {{ r[c.field] }}
          </div>
          <div
            *ngIf="c.cellRenderer === AbsGridCellRendererType.Button"
            class="action"
          >
            <button (click)="handleAction(c.cellRendererParams, r)">
              <i [class]="c.icon" *ngIf="c.icon"></i>
              {{ c.headerName }}
            </button>
          </div>
          <div
            *ngIf="c.cellRenderer === AbsGridCellRendererType.DateFormatter"
            [class]="c.cellClass"
          >
            {{ r[c.field] | date : 'MM/dd/yyyy' }}
          </div>
          <div
            *ngIf="c.cellRenderer === AbsGridCellRendererType.CustomClass"
            [class]="c.cellClass(r[c.field]).toLowerCase()"
          >
            {{ r[c.field] }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
