<div class="abs-grid">
  <div class="flex justify-content-between" *ngIf="title || showFilter">
    <h4>{{ title }}</h4>
    <div class="search-container mb-3" *ngIf="showFilter">
      <div class="text-search" *ngIf="filterType === 'text'">
        <input
          type="text"
          pInputText
          [placeholder]="filterPlaceholder"
          (keyup)="whenGridFilterChange($event)"
        />
        <i class="fa-solid fa-search"></i>
      </div>
      <div class="dropdown-search" *ngIf="filterType === 'dropdown'">
        <p-dropdown
          [options]="filterOptions"
          [placeholder]="filterPlaceholder"
          (onChange)="whenGridFilterChange($event)"
          [optionLabel]="'label'"
          [showClear]="true"
          [style]="{ minWidth: '237px' }"
        >
        </p-dropdown>
      </div>
    </div>
  </div>

  <div class="abs-grid-container">
    <table class="abs-table {{ showGridLines ? '' : 'no-grid-lines' }}">
      <thead>
        <tr>
          <th
            *ngFor="let c of columns"
            [style.max-width]="c.width + 'px'"
            [style.min-width]="c.width ? 'unset' : ''"
          >
            <div
              class="flex justify-content-between"
              *ngIf="
                c.cellRenderer !== AbsGridCellRendererType.Button &&
                c.cellRenderer !== AbsGridCellRendererType.PrimeButton &&
                c.cellRenderer !== AbsGridCellRendererType.ExpandToggle
              "
            >
              <span>{{ c.headerName }}</span>
              <button
                (click)="setColumnSort(c)"
                class="pl-1 pr-0"
                *ngIf="c.sortable"
              >
                <i class="fa-solid fa-sort" *ngIf="!c.sort"></i>
                <i class="fa-solid fa-sort-up" *ngIf="c.sort === 'asc'"></i>
                <i class="fa-solid fa-sort-down" *ngIf="c.sort === 'desc'"></i>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let r of getPagedData(filteredData); let i = index"
        >
          <tr
            class="{{ r.rowClass }}"
            [ngClass]="{ 'alternate-row': i % 2 === 1 }"
            [ngStyle]="r.rowStyle"
          >
            <td
              *ngFor="let c of columns"
              class="abs-grid-col"
              [style.max-width]="c.width + 'px'"
              [style.min-width]="c.width ? 'unset' : ''"
            >
              <div *ngIf="!c.cellRenderer">
                <span class="pr-1" *ngIf="c.prependIcon.length !== 1">
                  <i [class]="c.prependIcon ?? ''"></i>
                </span>
                {{ r[c.fieldName] }}
                <span class="pl-1" *ngIf="c.appendIcon.length !== 1">
                  <i [class]="c.appendIcon ?? ''"></i>
                </span>
              </div>
              <div *ngIf="c.cellRenderer === AbsGridCellRendererType.Currency">
                {{ r[c.field] | currency : 'USD' : true : '1.2-2' }}
              </div>
              <div *ngIf="c.cellRenderer === AbsGridCellRendererType.YesNo">
                {{ r[c.fieldName] ? 'Yes' : 'No' }}
              </div>
              <div
                *ngIf="
                  (c.cellRenderer === AbsGridCellRendererType.Button &&
                    r[c.fieldName]) ||
                  (c.cellRenderer === AbsGridCellRendererType.Button &&
                    c.fieldName.toLowerCase() === c.headerName.toLowerCase())
                "
                class="action"
              >
                <button (click)="handleAction(c.cellRendererParams, r)">
                  <i [class]="c.icon" *ngIf="c.icon"></i>
                  {{ c.headerName }}
                </button>
              </div>

              <div
                *ngIf="
                  c.cellRenderer === AbsGridCellRendererType.ConditionalButton
                "
                class="action"
              >
                <button
                  (click)="handleAction(c.cellRendererParams, r)"
                  *ngIf="r[c.fieldName]"
                >
                  <i [class]="c.icon" *ngIf="c.icon"></i>
                  {{ c.headerName }}
                </button>
              </div>

              <div
                *ngIf="c.cellRenderer === AbsGridCellRendererType.PrimeButton"
                class="action"
              >
                <p-button
                  [label]="c.headerName"
                  [icon]="c.icon ?? ''"
                  [styleClass]="c.buttonClass ?? ''"
                  class="prime-button"
                  [style]="{ width: c.width + 'px' }"
                  (onClick)="handleAction(c.cellRendererParams, r)"
                ></p-button>
              </div>

              <div *ngIf="c.cellRenderer === AbsGridCellRendererType.FileLink">
                <button
                  class="file-link"
                  (click)="handleAction(c.cellRendererParams, r)"
                >
                  <!-- TODO: [Joe] need to check what file types we are supporting and ensure that there are font awesome icons for all of them -->
                  <i
                    [class]="'fa-solid fa-file-' + r[c.fileType]"
                    *ngIf="c.fileType"
                  ></i>
                  <i class="fa-solid fa-file" *ngIf="!c.fileType"></i>
                  {{ r[c.fieldName] }}
                </button>
              </div>
              <div
                *ngIf="c.cellRenderer === AbsGridCellRendererType.DateFormatter"
                [class]="c.cellClass"
              >
                {{ r[c.fieldName] | date : 'MM/dd/yyyy' }}
              </div>
              <div
                *ngIf="c.cellRenderer === AbsGridCellRendererType.CustomClass"
                [class]="
                  cleanString(
                    c.cellClass(r[c.classField || c.fieldName]).toLowerCase()
                  )
                "
              >
                <span class="pr-1" *ngIf="c.prependIcon.length !== 1">
                  <i [class]="c.prependIcon ?? ''"></i>
                </span>
                {{ r[c.fieldName] }}
                <span class="pl-1" *ngIf="c.appendIcon.length !== 1">
                  <i [class]="c.appendIcon"></i>
                </span>
              </div>
              <div
                *ngIf="c.cellRenderer === AbsGridCellRendererType.CustomStyle"
                [style]="c.style(r[c.fieldName])"
              >
                <span class="pr-1" *ngIf="c.prependIcon.length !== 1">
                  <i [class]="c.prependIcon ?? ''"></i>
                </span>
                {{ c.cellStyle }}
                {{ r[c.fieldName] }}
                <span class="pl-3" *ngIf="c.appendIcon.length !== 1">
                  <i [class]="c.appendIcon"></i>
                </span>
              </div>
              <div
                *ngIf="c.cellRenderer === AbsGridCellRendererType.ExpandToggle"
                class="expand-toggle"
              >
                <button
                  (click)="handleExpand(c.cellRendererParams, r)"
                  style="min-width: 95px"
                >
                  <i class="fa-solid fa-circle-minus" *ngIf="r.expanded"></i>
                  <i class="fa-solid fa-circle-plus" *ngIf="!r.expanded"></i>
                  {{ r.expanded ? 'Collapse' : 'Expand' }}
                </button>
              </div>
            </td>
          </tr>
          <tr
            [ngClass]="{ 'expanded-row': true, 'alternate-row': i % 2 === 1 }"
            *ngIf="expandTemplate && r.expanded"
          >
            <!-- <ng-container *ngTemplateOutlet="expandTemplate; context: { $implicit: r }"></ng-container> -->
            <td [attr.colspan]="columns.length">
              <ng-container
                *ngTemplateOutlet="expandTemplate; context: { $implicit: r }"
              ></ng-container>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="!filteredData || filteredData.length <= 0">
          <td colspan="100%" class="text-center">
            <div class="no-data font-italic">
              <span *ngIf="!localData || localData.length <= 0">{{
                noResultsMessage
              }}</span>
              <span *ngIf="localData && localData.length > 0">{{
                noFilteredResultsMessage
              }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="pagination flex justify-content-end"
    *ngIf="pagination && pages.length > 1"
  >
    <div>
      <button [disabled]="firstPageDisabled" (click)="changePage(1)">
        <i class="fa-solid fa-angles-left"></i>
      </button>
      <button
        [disabled]="previousPageDisabled"
        (click)="changePage(currentPage - 1)"
      >
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <button
        *ngFor="let p of pages"
        [class.active]="p === currentPage"
        (click)="changePage(p)"
      >
        {{ p }}
      </button>
      <button
        [disabled]="nextPageDisabled"
        (click)="changePage(currentPage + 1)"
      >
        <i class="fa-solid fa-angle-right"></i>
      </button>
      <button [disabled]="lastPageDisabled" (click)="changePage(pages.length)">
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  </div>
  <div class="bg-gray">
    <ng-content></ng-content>
  </div>
</div>
