// Primary
$verizon-black: #000000;
$verizon-white: #ffffff;
$verizon-red: #d52b1e;

// Secondary
$verizon-secondary-orange: #ed7000;
$verizon-secondary-yellow: #ffbc3d;
$verizon-secondary-blue: #0088ce;
$verizon-secondary-green: #00ac3e;

// Grayscale
$verizon-cool-gray-1: #f6f6f6;
$verizon-cool-gray-3: #d8dada;
$verizon-cool-gray-6: #747676;
$verizon-cool-gray-10: #333333;

// Theme
$theme-primary: $verizon-black;
$theme-accent: $verizon-red;
$theme-info: $verizon-secondary-blue;
$theme-success: $verizon-secondary-green;
$theme-warning: $verizon-secondary-yellow;
$theme-error: $verizon-secondary-orange;

// Text
$theme-text-hint: $verizon-cool-gray-6;
$theme-text-info: $verizon-secondary-blue;
$theme-text-inverted: $verizon-white;
$theme-text-menu: $verizon-black;
$theme-text-normal: $verizon-black;
$theme-text-secondary: $verizon-cool-gray-10;

// Icons
$theme-icon-light: $verizon-cool-gray-1;
$theme-icon-normal: $verizon-cool-gray-6;
$theme-main-icon: $verizon-black;
$theme-main-icon-caption: $verizon-black;
$theme-main-icon-border: $verizon-cool-gray-6;
$theme-main-icon-background: $verizon-cool-gray-3;

// Hyperlinks
$theme-hyperlink: $verizon-black;
$theme-hyperlink-hover: $verizon-red;
$theme-hyperlink-inverted: $verizon-white;

// Buttons
$theme-button-background-primary: $verizon-black;
$theme-button-background-secondary: $verizon-white;
$theme-button-text-primary: $verizon-white;
$theme-button-text-secondary: $verizon-black;

// Navigation
$theme-nav-menu-accent: $verizon-red;
$theme-nav-menu-background: $verizon-white;
$theme-nav-menu-background-inverted: $verizon-black;

// Page Content
$theme-page-content-background: $verizon-white;
$theme-page-content-section-border: $verizon-cool-gray-3;

// Tabs
$theme-tab-hover-background: $verizon-cool-gray-3;

// Headers
$theme-app-header-background: $verizon-white;
$theme-app-header-text: $verizon-black;
$theme-dialog-header-background: $verizon-black;
$theme-dialog-header-text: $verizon-white;
$theme-page-header-background: $verizon-black;
$theme-page-header-text: $verizon-white;
$theme-panel-header-background: $verizon-cool-gray-1;
$theme-table-header-background: $verizon-black;
$theme-table-header-text: $verizon-white;
$theme-tile-header-background: $verizon-white;
$theme-tile-header-text: $verizon-black;

// Footers
$theme-footer-background: $verizon-black;
$theme-footer-text: $verizon-white;
