<div class="app">
  <div class="flex justify-content-between align-items-end">
    <div>
      <h1>Dashboard</h1>
      <h4 class="thin">Hello, {{ userData.name }}!</h4>
    </div>
    <div class="last-login">
      <strong>Last Login:</strong> {{ userData.lastLogin }}
    </div>
  </div>

  <div class="grid">
    <abs-user-information-card
      class="col-12"
      [userInformation]="userData.userInformation"
      [currentStatus]="userData.currentStatus"
    ></abs-user-information-card>

    <abs-highlight-card
      class="col-12 md:col-6"
      *ngFor="let alert of alertsAndNotices"
      [alert]="alert"
    ></abs-highlight-card>

    <abs-action-card
      [class]="actionCardClass"
      *ngFor="let actionCard of userActionCards"
      [actionCard]="actionCard"
    ></abs-action-card>
  </div>
</div>
