<div class="app" *ngIf="user$ | async as user">
  <div class="flex justify-content-between align-items-end">
    <div>
      <h1>{{ 'DASHBOARD.TITLE' | translate }}</h1>
      <h4 class="thin">
        {{ 'DASHBOARD.SUBTITLE' | translate : { user: user.displayName } }}
      </h4>
    </div>
    <div
      class="last-login"
      [innerHTML]="
        'DASHBOARD.LASTLOGIN'
          | translate : { lastLogin: user.lastLoginDateUtc | date }
      "
    ></div>
  </div>

  <div class="grid">
    <abs-user-information-card
      class="col-12"
      [userInformation]="userInformation"
      [currentStatus]="userCertificationStatus || user.certificationStatus"
      [isSurgeon]="isSurgeon"
      [meetingRequirements]="
        (meetingRequirements$ | async)?.meetingRequirements
      "
      [userId]="user.userId"
    ></abs-user-information-card>

    <abs-highlight-card
      class="col-12 md:col-6"
      *ngFor="let alert of alertsAndNotices"
      [title]="alert.title"
      [content]="alert.content"
      [alert]="alert.alert"
      [image]="alert.image"
      [actionType]="alert?.action?.type"
      [actionAction]="alert?.action?.action"
      [actionText]="alert.actionText"
    ></abs-highlight-card>

    <abs-action-card
      class="grid-item col-12  {{
        isSurgeon ? 'md:col-6 lg:col-4' : 'md:col-6'
      }} "
      *ngFor="let actionCard of userActionCards"
      [actionCard]="actionCard"
      [titleKey]="actionCard.titleKey"
      [description]="actionCard.description"
      [descriptionKey]="actionCard.descriptionKey"
      [icon]="actionCard.icon"
      [actionType]="actionCard?.action?.type ?? ''"
      [actionAction]="actionCard?.action?.action ?? ''"
      [actionDisplayKey]="actionCard?.actionDisplayKey"
      [disabled]="actionCard.disabled"
    ></abs-action-card>
  </div>
</div>
