.legend {
  margin-top: 1.5rem;
  .l {
    margin-left: 2rem;
    font-weight: bold;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    .i {
      margin-right: 0.5rem;
      width: 15px;
      height: 15px;
      background-color: var(--global-gray);
      left: 0;
      border-radius: 50%;
    }
    &.completed {
      color: var(--global-success);
      .i {
        background-color: var(--global-success);
      }
    }
    &.in-progress {
      color: var(--global-warning);
      .i {
        background-color: var(--global-warning);
      }
    }
    &.contingent {
      color: var(--global-gray);
      .i {
        background-color: vvar(--global-gray);
      }
    }
  }
}
