<form id="appointmentAddEdit" *ngIf="localAppointment">
  <div class="grid">
    <div class="col-12">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque
        nec dolor lacinia interdum quis nec nisi. Pellentesque dolor erat,
        egestas sit amet tortor at, condimentum tempor erat.
      </p>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="practiceType">Practice Type</label>
      <p-dropdown
        inputId="practiceType"
        [options]="fakeOptions"
        name="practiceType"
        [(ngModel)]="localAppointment.practiceType"
        placeholder="Select Practice Type"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="appointmentType">Appointment Type</label>
      <p-dropdown
        inputId="appointmentType"
        [options]="fakeOptions"
        name="appointmentType"
        [(ngModel)]="localAppointment.appointmentType"
        placeholder="Select Appointment Type"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="organizationType">Organization Type</label>
      <p-dropdown
        inputId="organizationType"
        [options]="fakeOptions"
        name="organizationType"
        [(ngModel)]="localAppointment.organizationType"
        placeholder="Select Organization Type"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="state">State</label>
      <p-dropdown
        inputId="state"
        [options]="fakeOptions"
        name="state"
        [(ngModel)]="localAppointment.state"
        placeholder="Select State"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="institution">Institution</label>
      <p-dropdown
        inputId="institution"
        [options]="fakeOptions"
        name="institution"
        [(ngModel)]="localAppointment.institution"
        placeholder="Select Institution"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="other">Other</label>
      <input
        id="other"
        pInputText
        type="text"
        name="other"
        [(ngModel)]="localAppointment.other"
      />
    </div>
    <div class="col-12 md:col-6">
      <label class="block" for="official">Official</label>
      <p-dropdown
        inputId="official"
        [options]="fakeOptions"
        name="official"
        [(ngModel)]="localAppointment.official"
        placeholder="Select Official"
        optionLabel="itemDescription"
        optionValue="itemValue"
        appendTo="body"
      ></p-dropdown>
    </div>
  </div>
</form>
<div class="flex justify-content-end" slot="footer">
  <sl-button type="button" variant="text" (click)="cancel()">Cancel</sl-button>
  <sl-button
    type="button"
    style="width: 337px"
    variant="primary"
    (click)="save()"
    >Save
  </sl-button>
</div>
