<header>
  <h1>Medical Training</h1>
</header>
<ng-container>
  <section>
    <div class="grid">
      <div class="col-12 flex">
        <abs-profile-header></abs-profile-header>
      </div>
    </div>
  </section>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <form id="medicalTrainingForm" [formGroup]="medicalTrainingForm">
          <div class="form-section mt-0">
            <h5 class="form-section__title">Medical School</h5>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
              neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
              erat, egestas sit amet tortor at, condimentum tempor erat.
            </p>
            <div class="grid" *ngIf="!isEdit">
              <div class="col-12">
                <label
                  >Select the statement that best describes you (Country of
                  medical school)
                </label>
                <div>
                  {{ medicalTrainingReadOnly.graduateProfileDescription }}
                </div>
              </div>
              <div class="col-12 flex flex-column">
                <label>Medical School</label>
                <div>
                  {{ medicalTrainingReadOnly.medicalSchoolName }}
                </div>
              </div>
              <div class="col-12 md:col-4 flex flex-column">
                <label>Country</label>
                {{ medicalTrainingReadOnly.medicalSchoolCountryId }}
              </div>
              <div class="col-12 md:col-4 flex flex-column">
                <label>State / Province / Territory</label>
                {{ medicalTrainingReadOnly.medicalSchoolStateId }}
              </div>
              <div class="col-12 md:col-4 flex flex-column">
                <label>City or Town</label>
                <div>
                  {{ medicalTrainingReadOnly.medicalSchoolCity }}
                </div>
              </div>
              <div class="col-12 md:col-4 flex flex-column">
                <label>Degree</label>
                {{ medicalTrainingReadOnly.degreeName }}
              </div>
              <div class="col-12 md:col-6 flex flex-column">
                <label>Year of Completion</label>
                {{ medicalTrainingReadOnly.medicalSchoolCompletionYear }}
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-12">
                <label class="block" for="graduateProfileId"
                  >Select the statement that best describes you (Country of
                  medical school)</label
                >
                <p-dropdown
                  [options]="graduateProfiles"
                  formControlName="graduateProfileId"
                  inputId="graduateProfileId"
                  placeholder="Select one"
                  optionLabel="description"
                  optionValue="type"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12">
                <label class="block" for="medicalSchool"
                  >Medical School *</label
                >
                <input
                  pInputText
                  required
                  formControlName="medicalSchoolName"
                  type="text"
                  placeholder="Enter school name"
                  name="medicalSchool"
                />
              </div>
              <div class="col-12 md:col-4">
                <label class="block" for="medicalSchoolCountryId">
                  Country
                </label>
                <p-dropdown
                  inputId="country"
                  [options]="countries"
                  (onChange)="onCountryChange($event)"
                  placeholder="Choose country"
                  formControlName="medicalSchoolCountryId"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-4">
                <label class="block" for="state"
                  >State / Province / Territory</label
                >
                <p-dropdown
                  inputId="state"
                  [options]="states"
                  placeholder="Choose state"
                  formControlName="medicalSchoolStateId"
                  optionLabel="itemDescription"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="col-12 md:col-4">
                <label class="block" for="medicalSchoolCity"
                  >City or Town *</label
                >
                <input
                  pInputText
                  required
                  type="text"
                  placeholder="Enter city name"
                  formControlName="medicalSchoolCity"
                />
              </div>
              <div class="col-12 md:col-6">
                <label class="block" for="degreeId">Degree *</label>
                <p-dropdown
                  [required]="true"
                  [options]="degrees"
                  formControlName="degreeId"
                  inputId="degreeId"
                  placeholder="Select a degree"
                  optionLabel="itemDisplay"
                  optionValue="itemValue"
                  appendTo="body"
                ></p-dropdown>
              </div>
              <div class="flex flex-column col-12 md:col-6">
                <label htmlFor="other">Year of Completion *</label>
                <p-calendar
                  [required]="true"
                  [maxDate]="maxYear"
                  view="year"
                  dateFormat="yy"
                  inputId="yearpicker"
                  formControlName="medicalSchoolCompletionYear"
                  placeholder="YYYY"
                  appendTo="body"
                ></p-calendar>
                <small
                  *ngIf="
                    medicalTrainingForm.get('medicalSchoolCompletionYear')
                      ?.errors &&
                    medicalTrainingForm.get('medicalSchoolCompletionYear')
                      ?.dirty
                  "
                  id="trainingType-help"
                  class="form-error-text"
                >
                  This is required
                </small>
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Residency</h5>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
              neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
              erat, egestas sit amet tortor at, condimentum tempor erat.
            </p>
            <div class="grid" *ngIf="!isEdit">
              <div class="col-6">
                <div class="grid">
                  <div class="col-12">
                    <label>Program Name</label>
                    <div>
                      {{ medicalTrainingReadOnly.residencyProgramName }}
                    </div>
                  </div>
                  <div class="col-12">
                    <label>Year of Completion</label>
                    <div>
                      {{ medicalTrainingReadOnly.residencyCompletionYear }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="grid">
                  <div class="col-12">
                    <label>My program is not listed</label>
                    <div>
                      {{ medicalTrainingReadOnly.residencyProgramOther }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid" *ngIf="isEdit">
              <div class="col-6">
                <div class="grid">
                  <div class="col-12">
                    <label class="block" for="residencyProgramName"
                      >Enter program name</label
                    >
                    <p-dropdown
                      [options]="residencyPrograms"
                      formControlName="residencyProgramName"
                      inputId="residencyProgramName"
                      placeholder="Select a program"
                      optionLabel="programName"
                      optionValue="programId"
                      appendTo="body"
                    ></p-dropdown>
                  </div>
                  <div class="flex flex-column col-12">
                    <label htmlFor="other">Year of Completion *</label>
                    <p-calendar
                      [required]="true"
                      [maxDate]="maxYear"
                      view="year"
                      dateFormat="yy"
                      inputId="yearpicker"
                      formControlName="residencyCompletionYear"
                      placeholder="YYYY"
                      appendTo="body"
                    ></p-calendar>
                    <small
                      *ngIf="
                        medicalTrainingForm.get('residencyCompletionYear')
                          ?.errors &&
                        medicalTrainingForm.get('residencyCompletionYear')
                          ?.dirty
                      "
                      id="trainingType-help"
                      class="form-error-text"
                    >
                      This is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="grid">
                  <div class="col-12">
                    <label class="block" for="residencyProgramOther"
                      >My program is not listed</label
                    >
                    <textarea
                      required
                      pInputTextarea
                      rows="5"
                      formControlName="residencyProgramOther"
                      placeholder="Explain..."
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Fellowship</h5>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed
              neque nec dolor lacinia interdum quis nec nisi. Pellentesque dolor
              erat, egestas sit amet tortor at, condimentum tempor erat.
            </p>
            <div class="grid">
              <div class="col-12">
                <p-button
                  class="btn-add mt-4 mb-3"
                  (click)="showFellowshipModal()"
                >
                  <i slot="prefix" class="fa-solid fa-plus"></i>
                  ADD FELLOWSHIP
                </p-button>
                <abs-grid
                  [columns]="fellowshipCols"
                  [data]="fellowships$"
                  (action)="handleGridAction($event, 'fellowship')"
                  class="margin-bottom-2"
                ></abs-grid>
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Certificates</h5>
            <hr />
            <abs-documents-upload
              [allowUpload]="true"
              [documentsData$]="documentsData$"
              [gridCols]="documentsCols"
              [dropdownOptions]="certificateTypes"
              [dropdownPlaceholder]="'Select a certificate type'"
              [dropdownLabel]="'name'"
              [dropdownValue]="'id'"
              [filterOn]="'documentType'"
              [showFilter]="true"
              [userId]="userId"
              (documentsAction)="handleGridAction($event, 'certificates')"
            ></abs-documents-upload>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">Other Certifications</h5>
            <hr />
            <div class="grid">
              <div class="col-12">
                <p-button
                  class="btn-add mt-4 mb-3"
                  (click)="showOtherCertificaions()"
                >
                  <i slot="prefix" class="fa-solid fa-plus"></i>
                  ADD CERTIFICATION
                </p-button>
                <abs-grid
                  [columns]="otherCertificationCols"
                  [data]="otherCertifications$"
                  (action)="handleGridAction($event, 'otherCertificates')"
                  class="margin-bottom-2"
                  [pagination]="true"
                  [itemsPerPage]="5"
                ></abs-grid>
              </div>
            </div>
          </div>

          <div class="form-section">
            <h5 class="form-section__title">
              Additional / Advanced Medical Training
            </h5>
            <hr />
            <div class="grid">
              <div class="col-12">
                <p-button
                  class="btn-add mt-4 mb-3"
                  (click)="showTrainingModal()"
                >
                  <i slot="prefix" class="fa-solid fa-plus"></i>
                  ADD TRAINING
                </p-button>
                <abs-grid
                  [columns]="trainingCols"
                  [data]="advancedTraining$"
                  (action)="handleGridAction($event, 'additionalTraining')"
                  class="margin-bottom-2"
                  [pagination]="true"
                  [itemsPerPage]="5"
                ></abs-grid>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="flex justify-content-end" *ngIf="!isEdit">
              <p-button
                [style]="{ width: '200px' }"
                (click)="toggleFormEdit(true)"
                >Edit</p-button
              >
            </div>
            <div class="flex justify-content-end" *ngIf="isEdit">
              <p-button
                styleClass="p-button-link p-button-primary"
                (click)="toggleFormEdit(false)"
                >Cancel</p-button
              >
              <p-button
                type="submit"
                [style]="{ width: '337px' }"
                (click)="save()"
                >Save</p-button
              >
            </div>
          </div>
        </form>
      </sl-card>
    </div>
  </section>
</ng-container>

<abs-modal
  [open]="showTrainingAddEdit"
  [preventOverlayClose]="true"
  [hideClose]="true"
  (closeDialog)="cancelAddEditTraining($event)"
  title="{{
    (isAdditionalAdvancedEdit$ | async) ? 'Edit' : 'Add'
  }} Additional / Advanced Medical Training"
>
  <abs-training-add-edit-modal
    *ngIf="showTrainingAddEdit"
    [userId]="userId"
    [training$]="tempData$"
    [isEdit$]="isAdditionalAdvancedEdit$"
    (cancelDialog)="cancelAddEditTraining($event)"
    (saveDialog)="saveTraining($event)"
  ></abs-training-add-edit-modal>
</abs-modal>

<abs-modal
  [open]="showFellowshipAddEdit"
  [preventOverlayClose]="true"
  [hideClose]="true"
  (closeDialog)="cancelAddEditFellowship($event)"
  title="{{ (isAdditionalAdvancedEdit$ | async) ? 'Edit' : 'Add' }} Fellowship"
>
  <abs-fellowship-add-edit-modal
    *ngIf="showFellowshipAddEdit"
    [userId]="userId"
    [fellowship$]="tempData$"
    [isEdit$]="isFellowshipEdit$"
    (cancelDialog)="cancelAddEditFellowship($event)"
    (saveDialog)="saveFellowship($event)"
  ></abs-fellowship-add-edit-modal>
</abs-modal>

<abs-modal
  [open]="showOtherCertificatesAddEdit"
  [preventOverlayClose]="true"
  [hideClose]="true"
  (closeDialog)="cancelOtherCertificatesAddEditModal($event)"
  title="{{
    (isOtherCertificatesEdit$ | async) ? 'Edit' : 'Add'
  }} Other Certification"
>
  <abs-other-certificates-add-edit-modal
    *ngIf="showOtherCertificatesAddEdit"
    [userId]="userId"
    [otherCertificate$]="tempData$"
    [isEdit$]="isOtherCertificatesEdit$"
    (cancelDialog)="cancelOtherCertificatesAddEditModal($event)"
    (saveDialog)="saveOtherCertificates($event)"
  ></abs-other-certificates-add-edit-modal>
</abs-modal>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading medical training...</p>
  </div>
</ng-template>
