.form-section {
  margin: 2rem 0;
}
.form-section__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

hr {
  background-color: var(--global-gray-light);
  border: none;
  height: 1px;
}
