<div class="user-information-card">
  <div class="status-container">
    <div class="flex align-items-center">
      <div class="status-indicators">
        <div class="status one active"></div>
        <div class="status two active"></div>
        <div class="status three active"></div>
      </div>
      <span
        [innerHTML]="
          'DASHBOARD.STATUS' | translate : { status: localCurrentStatus }
        "
      ></span>
    </div>

    <div *ngIf="meetingRequirements">
      <strong>Meeting CC Requirements:</strong> {{ meetingRequirements }}
    </div>
  </div>

  <div class="info-container" *ngIf="!localIsSurgeon; else certified">
    <div class="info">
      <span>Program Director:</span>
      {{ userInformation?.programDirector ?? 'N/A' }}
    </div>
    <div class="info">
      <span>Program:</span>
      {{ userInformation?.programName || 'N/A' }} <br />
      {{
        userInformation?.city && userInformation?.state
          ? userInformation?.city + ', ' + userInformation?.state
          : ''
      }}
    </div>
    <div class="info">
      <span>Clinical Level:</span>
      {{ userInformation?.clinicalLevel ?? 'N/A' }}
    </div>
  </div>

  <ng-template #certified>
    <div class="info-container" *ngIf="userInformation; else loading">
      <div class="info certified" *ngFor="let info of userInformation">
        <div class="certified-title">
          {{ info?.speciality }}
        </div>
        <div class="info-data">
          <span>Certificate Number:</span>
          {{ info?.certificateId ? info?.certificateId : 'N/A' }}
        </div>
        <div class="info-data" *ngIf="info.status && info.isClinicallyInactive">
          <span>Status:</span>
          {{ info?.status }}
        </div>
        <div class="info-data">
          {{ info?.initialCertificationDate }}
        </div>
        <div class="info-data">
          {{ info?.endDateDisplay }}
        </div>
      </div>
    </div>

    <ng-template #loading>
      <div
        class="my-5 flex flex-column justify-content-center align-items-center"
      >
        <sl-spinner
          class="block"
          style="font-size: 3rem; --indicator-color: var(--global-warning)"
        ></sl-spinner>
      </div>
    </ng-template>
  </ng-template>
</div>
