<div class="user-information-card">
  <div class="status-container">
    <div class="status-indicators">
      <div class="status one active"></div>
      <div class="status two active"></div>
      <div class="status three active"></div>
    </div>
    <strong>Current Status</strong>:
    {{ currentStatus ? currentStatus : 'Trainee' }}
  </div>

  <div class="info-container" *ngIf="!isSurgeon; else certified">
    <div class="info">
      <span>Program Director:</span>
      {{ userInformation?.programDirector ?? 'N/A' }}
    </div>
    <div class="info">
      <span>Program:</span>
      {{ userInformation?.programName || 'N/A' }} <br />
      {{
        userInformation?.city && userInformation?.state
          ? userInformation?.city + ', ' + userInformation?.state
          : ''
      }}
    </div>
    <div class="info">
      <span>Clinical Level:</span>
      {{ userInformation?.clinicalLevel ?? 'N/A' }}
    </div>
  </div>

  <ng-template #certified>
    <div class="info-container">
      <div class="info certified" *ngFor="let info of userInformation">
        <div class="certified-title">
          {{ info?.speciality }}
        </div>
        <div class="info-data">
          <span>Certificate Number:</span>
          {{
            userInformation?.certificateId?.length > 0
              ? info?.certificateId
              : 'N/A'
          }}
        </div>
        <div class="info-data">
          <span>Expiration Date:</span>
          {{
            userInformation?.certificateId?.length > 0
              ? info?.endDateDisplay
              : 'N/A'
          }}
        </div>
      </div>
    </div>
  </ng-template>
</div>
