<div
  class="alert flex align-items-center"
  [style]="{ 'font-size': fontSize + 'rem' }"
  [class]="alertType"
>
  <div
    class="icon"
    [style]="{ 'font-size': fontSize + 0.25 + 'rem' }"
    *ngIf="!hideIcon"
  >
    <i
      class="fa-solid fa-circle-exclamation"
      *ngIf="alertType === 'danger'"
    ></i>
    <i
      class="fa-solid fa-triangle-exclamation"
      *ngIf="alertType === 'warning'"
    ></i>
    <i class="fa-solid fa-circle-info" *ngIf="alertType === 'info'"></i>
    <i class="fa-solid fa-circle-check" *ngIf="alertType === 'success'"></i>
  </div>
  <ng-content></ng-content>
</div>
