<header>
  <h1>Graduate Medical Education (GME)</h1>
</header>
<ng-container>
  <section>
    <div class="grid">
      <sl-card class="col-12">
        <div slot="header">
          My GME rotations
          <span class="block font-normal text-base"
            >Current 5-year cycle: 2018-01-01 through 2022-12-31</span
          >
        </div>
        <div class="grid">
          <div class="col-12 flex align-items-center">
            <div class="calendar-filter-container">
              <p-dropdown
                placeholder="View All Rotations"
                [options]="calendarFilterOptions"
                id="calendarFilter"
                [group]="true"
                (onChange)="handleCalendarFilterChange($event)"
                [showClear]="true"
                appendTo="body"
              >
                <ng-template let-group pTemplate="group">
                  <strong>{{ group.label }}</strong>
                </ng-template>
              </p-dropdown>
            </div>

            <sl-button
              variant="default"
              class="btn-add mt-2 mb-2"
              (click)="handleAddEditGmeRotation()"
            >
              <i slot="prefix" class="fa-solid fa-plus"></i>
              add a record
            </sl-button>

            <div class="legend inline-flex justify-content-end flex-wrap">
              <div class="l flex align-items-center clinical">
                <div class="i"></div>
                Clinical Activity
              </div>
              <div class="l flex align-items-center non-clinical">
                <div class="i"></div>
                Non-Clinical Activity
              </div>
              <!-- conflicts legend key -->
              <!-- <div class="l flex align-items-center conflict">
                <div class="i"></div>
                Conflict
              </div> -->
            </div>
          </div>

          <div class="col-12" *ngIf="calendarReady">
            <full-calendar
              #calendar
              class="gme-rotations-calendar"
              [options]="calendarOptions"
            ></full-calendar>
          </div>

          <!-- conflict alert banner -->
          <!-- <div class="col-12">
            <abs-alert alertType="danger" [fontSize]="1">
              <span class="font-normal"
                >You have a conflict - two of your rotates conflict with each
                other. Lorem ipsum dolor iset!</span
              >
              <sl-button
                class="btn-link"
                variant="text"
                (click)="viewConflictsToResolve(conflicts)"
                >View Details</sl-button
              >
            </abs-alert>
          </div> -->
        </div>
      </sl-card>

      <sl-card class="col-12">
        <abs-collapse-panel
          [panelId]="2"
          [startExpanded]="true"
          class="table-sm"
        >
          <h5 class="mt-0 mb-2" panel-header>GME Summary</h5>
          <div class="grid">
            <div class="col-12">
              <p>
                The table below is a summary, by residency level, of your
                clinical experience based on the dates you entered in the table
                above. Columns 2 through 4 summarize the number of weeks of
                clinical experience during each year of residency. Column 5 is a
                total of weeks per residency year, of rotations devoted to the
                content areas of surgery. Column 6 summarizes chief resident
                year rotations also devoted to the content areas of surgery.
              </p>
              <abs-grid
                class="margin-bottom-2"
                [columns]="gmeSummaryCols"
                [data]="gmeSummaryData"
                [showGridLines]="false"
              ></abs-grid>
            </div>
          </div>
        </abs-collapse-panel>
      </sl-card>

      <sl-card class="col-12">
        <abs-collapse-panel
          [panelId]="1"
          [startExpanded]="true"
          [editToggle]="itemizedGme$"
          class="table-sm"
        >
          <h5 class="mt-0 mb-2" panel-header>Itemized GME</h5>
          <div class="grid">
            <div class="col-12">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                sed neque nec dolor lacinia interdum quis nec nisi. Pellentesque
                dolor erat, egestas sit amet tortor at, condimentum tempor erat.
              </p>
              <sl-button
                variant="default"
                class="btn-add mb-5 absolute"
                (click)="handleAddEditGmeRotation()"
              >
                <i slot="prefix" class="fa-solid fa-plus"></i>
                ADD A RECORD
              </sl-button>
              <abs-grid
                class="margin-bottom-2"
                [columns]="itemizedGmeCols"
                [data]="gmeRotations$"
                [gridOptions]="itemizedGridOptions"
                (action)="handleGridAction($event)"
                [pagination]="true"
                [itemsPerPage]="4"
              ></abs-grid>
              <abs-modal
                [open]="showAddEditGmeRotation"
                title="{{
                  (isEditGmeRotation$ | async) ? 'Edit' : 'Add'
                }} Graduate Medical Education Record"
                modalName="addGmeRotation"
                (closeDialog)="handleAddEditGmeRotation()"
                [hideClose]="true"
                [preventOverlayClose]="true"
              >
                <abs-add-record-modal
                  [isEdit$]="isEditGmeRotation$"
                  [slectedGmeRotationId$]="selectedGmeRotationId$"
                  (closeDialog)="handleAddEditGmeRotation()"
                ></abs-add-record-modal>
              </abs-modal>
            </div>
          </div>
        </abs-collapse-panel>
      </sl-card>
    </div>

    <abs-modal
      [open]="showConflictResolutionModal"
      (closeDialog)="toggleConflictResolutionModal()"
      title="Resolve Conflicts"
      modalName="conflictResolutionModal"
      [hideClose]="true"
      [preventOverlayClose]="true"
      [width]="80"
    >
      <abs-conflict-resolution-modal
        (closeDialog)="toggleConflictResolutionModal()"
      >
      </abs-conflict-resolution-modal>
    </abs-modal>
  </section>
</ng-container>

<ng-template #loading>
  <div class="my-5 flex flex-column justify-content-center align-items-center">
    <sl-spinner
      class="block"
      style="font-size: 3rem; --indicator-color: var(--global-primary)"
    ></sl-spinner>
    <p>loading gme rotations...</p>
  </div>
</ng-template>
