<form
  name="outcomeRegistriesForm"
  [formGroup]="outcomeRegistriesForm"
  (ngSubmit)="onSubmit()"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed neque nec
    dolor lacinia interdum quis nec nisi. Pellentesque dolor erat, egestas sit
    amet tortor at, condimentum tempor erat. All fields are required.
  </p>
  <div class="grid">
    <div
      *ngFor="let formField of outcomesandRegistriesFormFields"
      class="flex-column col-12 md:{{ formField.size }} gap-3"
    >
      <label>{{ formField.label }}</label>
      <small class="mb-2">{{ formField.subLabel }}</small>
      <div class="flex gap-3" *ngIf="formField.type === 'radio'">
        <div
          class="flex flex-row align-items-center"
          *ngFor="let option of formField.options"
        >
          <p-radioButton
            [name]="formField.name"
            [formControlName]="formField.name"
            [inputId]="formField.name"
            [value]="option.value"
            [formControlName]="formField.name"
            ngDefaultControl
          ></p-radioButton>
          <label [for]="formField.name" class="ml-2">{{ option.label }}</label>
        </div>
      </div>
      <textarea
        *ngIf="formField.type === 'textarea'"
        pInputTextarea
        [formControlName]="formField.name"
        ngDefaultControl
      ></textarea>
    </div>

    <div class="col-12 md:col-6 flex align-items-start gap-2">
      <p-checkbox
        value="yes"
        formControlName="userConfirmed"
        ngDefaultControl
      ></p-checkbox>
      <label for="userConfirmed"
        >I confirm the above information is completed and correct to the best of
        my knowledge</label
      >
    </div>
    <div class="col-12 md:col-6 align-right">
      <sl-button variant="default" size="large" (click)="close()"
        >Cancel</sl-button
      >
      <sl-button
        class="wide"
        size="large"
        variant="warning"
        type="submit"
        [disabled]="
          outcomeRegistriesForm.untouched && !outcomeRegistriesForm.valid
        "
        >Save</sl-button
      >
    </div>
  </div>
</form>

<abs-success-fail-modal
  [isSuccess]="call.isSuccess"
  [showDialog]="call.showDialog"
  [message]="call.message"
  (closeDialog)="close()"
>
</abs-success-fail-modal>
