<h1>{{ (examTitle$ | async)?.examName || 'Certifying Examation' }}</h1>
<sl-card class="w-full">
  <div slot="header">Examination Scores</div>
  <div class="mt-2 mb-5">
    Review and submit exam scores here. We kindly request that all exams are
    scored by the end of the exam day, at which point they will be locked down.
    If you need to complete or edit scores after the current exam day, please
    contact the psychometricians.
  </div>

  <form [formGroup]="filterForm" class="dropdown-container flex gap-2 absolute">
    <p-dropdown
      placeholder="Filter by Day"
      [showClear]="true"
      [style]="{ minWidth: '250px' }"
      [options]="dayOptions"
      formControlName="day"
    >
    </p-dropdown>

    <p-dropdown
      placeholder="Filter by Status"
      [showClear]="true"
      [style]="{ minWidth: '250px' }"
      [options]="statusOptions"
      formControlName="status"
    >
    </p-dropdown>
  </form>

  <abs-grid
    [columns]="examinationScoresCols"
    [gridOptions]="gridOptions"
    [data]="filteredExaminationScoresData$"
    (action)="handleView($event)"
    [pagination]="true"
    [itemsPerPage]="25"
  ></abs-grid>
</sl-card>

<abs-modal
  [open]="showViewModal"
  [preventOverlayClose]="true"
  [hideClose]="true"
  (closeDialog)="closeDialog()"
  title="Examination Scores"
>
  <abs-examination-score-modal
    [candidateData]="candidateData$"
    (closeDialog)="closeDialog()"
  ></abs-examination-score-modal>
</abs-modal>
